@main(){
<div class="container">
<!--COMPLETE_CV_2-->
<section id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12  brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size22">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ic_paso2">
            <img src="@routes.Assets.at("images/complete_user_profile_2/ic_paso2.png")" class="ic_paso2">
        </div>
    </div>
</section>
<section>
	<div class="row">
		<div class="col-lg-12 arial gray_adecco size18 bold">Nivel de estudios</div>
	</div>
        
	<div class="row orientation-points">
		<div class="col-lg-12 ">
		    <input type="checkbox" id="check_study" value="No tengo estudios" onclick="levelStudiesSetHidden(this.checked)">
		    <label for="check_study" class="size14 gray_adecco arial steps_height">No tengo estudios</label>
		</div>
   	</div><br>


	        <form class="form-horizontal">
	            <div class="form-group" id="level_studies_group">
                    <div class="col-lg-5 ">
	                <select class="form-control" id="level_studies" name="level_studies">
	                    <option value="0" disabled selected="">Nivel de estudios</option>
	                    <option value="1">PCPI / Garantía social</option>
	                    <option value="2">Graduado escolar</option>
	                    <option value="3">Certificado de escolaridad o de la ESO</option>
	                    <option value="4">BUP, Bachillerato y COU</option>
	                    <option value="5">Enseñanzas de régimen especial</option>
	                    <option value="6">Graduado en ESO</option>
	                    <option value="7">FP 1/ Técnico medio</option>
	                    <option value="8">FP 2/ Técnico superior</option>
	                    <option value="9">Diplomado, Ing. Técnico, Arquitecto técnico</option>
	                    <option value="10">Grado</option>
	                    <option value="11">Licenciado, Ingeniero, Arquitecto</option>
	                    <option value="12">Título Propio/ Carrera no homologada</option>
	                    <option value="13">Máster/ Título Propio de Postgrado</option>
	                    <option value="14">Doctorado</option>
	                    <option value="15">Otros cursos</option>
	                    <option value="16">Oposiciones</option>
	                </select>
                     </div>
                    <div class="col-lg-5 col-lg-offset-2">
                    </div>
	            </div>
	        </form><br>
	    
	

</section>

<section>


    <div class="row">
        <div class="col-lg-12  arial gray_adecco size18 bold">Experiencia laboral </div>
    </div><br>

    <div class="font1_g">Puedes rellenar los siguientes campos con voz. <a class="font2_g" href="#accesibility_pop_up2">¿<ins>Cómo funciona</ins>?</a></div><br>


    <div class="row orientation-points" id="check_exp_cb">
        <div class="col-lg-12  arial size14">
            <input type="checkbox" id="check_experience" value="No tengo experiencia" onclick=" jobExperienceHidden(this.checked)">
            <label for="check_experience" class="size14 gray_adecco arial steps_height">No tengo experiencia</label>
        </div>
    </div><br>
        
    <div class="main-div-sections">
        <div>
            <form class="form-horizontal" autocomplete="on" method="post" id="job_experience_group">
                <div class="form-group form-inline" >
                    <div class="col-lg-5 input-mic-container ">

                            <input type="text" class="form-control" placeholder="Empresa" id="company" value="" required="required" >
                            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">

                    </div>
                    <div class="col-lg-5  col-lg-offset-2 input-mic-container">

                            <input type="text" class="form-control" placeholder="Puesto" id="office" value="" required="required">
                            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-5 ">
                            <select  class="form-control" id="sector" name="sector">
                            <option value="s0" disabled selected="">Sector</option>
                            <option value="s1">Agricultura, Montes, Pesca, Mineria</option>
                            <option value="s2">Arte, Cultura, Sociedad</option>
                            <option value="s3">Atención al cliente</option>
                            <option value="s4">Banca y Seguros</option>
                            <option value="s5">Bioquímica, Farmacia, Experimental</option>
                            <option value="s6">Calidad</option>
                            <option value="s7">Comercial, Ventas</option>
                            <option value="s8">Compras</option>
                            <option value="s9">Comunicación, Medios, Periodismo</option>
                            <option value="s10">Construcción, Arquitectura, Promoción e Inmobiliaria</option>
                            <option value="s11">Consultoría</option>
                            <option value="s12">Dirección, Gerencia</option>
                            <option value="s13">Diseño, Creatividad</option>
                            <option value="s14">Edición, Artes gráficas, Documentación, Traducción</option>
                            <option value="s15">Educación Formación</option>
                            <option value="s16">Finanzas, Contabilidad, Auditoría</option>
                            <option value="s17">Hostelería, Turismo</option>
                            <option value="s18">I+D</option>
                            <option value="s19">Informática</option>
                            <option value="s20">Ingeniería, Fabricación, Producción</option>
                            <option value="s21">Internet</option>
                            <option value="s22">Jurídico, Fiscal</option>
                            <option value="s23">Limpieza especializada, Saneamiento y Servicios urbanos</option>
                            <option value="s24">Logística, Planificación, Transporte</option>
                            <option value="s25">Mantenimiento, Instalación, Reparación</option>
                            <option value="s26">Marketing, Publicidad</option>
                            <option value="s27">Medio ambiente</option>
                            <option value="s28">Oficios</option>
                            <option value="s29">Prevención de riesgos laborales</option>
                            <option value="s30">Recursos humanos</option>
                            <option value="s31">Sanidad y Salud</option>
                            <option value="s32">Seguridad, Defensa</option>
                            <option value="s33">Servicios generales</option>
                            <option value="s34">Servicios sociales</option>
                            <option value="s35">Telecomunicaciones</option>
                            <option value="s36">Otros</option>
                        </select>
                    </div>
                    <div class="col-lg-5  col-lg-offset-2">
                        
                            
                            <select  class="form-control" name="experience" id="experience">
                            <option value="s0" disabled selected="">Años de experiencia</option>
                            <option value="s1"> Prácticas</option>
                            <option value="s1"> Menos de un año</option>
                            <option value="s2"> 1-3 años</option>
                            <option value="s3"> 3-5 años</option>
                            <option value="s4"> +5 años</option>
                            <option value="s6"> +10 años</option>
                            </select> 
                        
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-lg-5  col-lg-offset-2">
                       
                    </div>
                    <div class="col-lg-5 ">
                        <div class="">
                        <div class="form-group center brown_adecco arial size13">
                            Debes añadir cada uno de los cursos que hayas realizado.
                        </div>
                        </div>
                    </div>
                </div>
                


                <div class="form-group">
                    <div class="col-lg-5 ">
                     <!--div añadido extra porque sino el boton añadir no va-->   
                    </div>
                    <div class="col-lg-5  col-lg-offset-2">
                        <div class="form-group add-other-btn-div button-cursor-pointer" id="job_experience_group_3">
                            <img class="add-new" src="@routes.Assets.at("images/complete_user_profile_1/ic_add.png")">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
 <section>
    <div class="row">
        <div class="col-md-12 arial gray_adecco size22 bold">
            Intereses profesionales
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco arial size12">
            Seleccione como máximo 3.
        </div>
    </div>
       
    <div class=" row orientation-points checkbox-group">
        <div class="row">
            <div class="col-md-6 ">
                <p>
                    <input type="checkbox" id="check1" value="Agricultura,Motes,Pesca,Mineria">
                    <label for="check1" class="size14 gray_adecco arial steps_height">Agricultura, Montes, Pesca, Mineria</label>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check2" value="Arte, Cultura, Sociedad">
                    <label for="check2" class="size14 gray_adecco arial steps_height">Arte, Cultura, Sociedad </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <p>
                    <input type="checkbox" id="check3" value="Atención al cliente">
                    <label for="check3" class="size14 gray_adecco arial steps_height">Atención al cliente</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check4" value="Banca y Seguros">
                    <label for="check4" class="size14 gray_adecco arial steps_height">Banca y Seguros</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <p>
                    <input type="checkbox" id="check5" value="Bioquímica,Farmacia,Experimental">
                    <label for="check5" class="size14 gray_adecco arial steps_height">Bioquímica, Farmacia, Experimental</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check6" value="Calidad">
                    <label for="check6" class="size14 gray_adecco arial steps_height">Calidad</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <p>
                    <input type="checkbox" id="check7" value="Comercial,Ventas">
                    <label for="check7" class="size14 gray_adecco arial steps_height">Comercial, Ventas</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check8" value="Compras">
                    <label for="check8" class="size14 gray_adecco arial steps_height">Compras</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check9" value="Arte, Cultura, Sociedad">
                    <label for="check9" class="size14 gray_adecco arial steps_height">Comunicación, Medios, Periodismo</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check10" value="Construcción,Arquitectura,Inmobiliaria">
                    <label for="check10" class="size14 gray_adecco arial steps_height">Construcción, Arquitectura, Inmobiliaria</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check11" value="Consultoría">
                    <label for="check11" class="size14 gray_adecco arial steps_height">Consultoría</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check12" value="Dirección, Gerencia">
                    <label for="check12" class="size14 gray_adecco arial steps_height">Dirección, Gerencia</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check13" value="Diseño, Creatividad">
                    <label for="check13" class="size14 gray_adecco arial steps_height">Diseño, Creatividad</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check14" value="Artes gráficas, Documentación, Traducción">
                    <label for="check14" class="size14 gray_adecco arial steps_height">Artes gráficas, Documentación, Traducción</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check15" value="Educación, Formación" >
                    <label for="check15" class="size14 gray_adecco arial steps_height">Educación, Formación</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check16" value="Finanzas, Contabilidad, Auditoría">
                    <label for="check16" class="size14 gray_adecco arial steps_height">Finanzas, Contabilidad, Auditoría</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check17" value="Hostelería, Turismo">
                    <label for="check17" class="size14 gray_adecco arial steps_height">Hostelería, Turismo</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check18" value="I+D">
                    <label for="check18" class="size14 gray_adecco arial steps_height">I+D</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check19" value="Informática">
                    <label for="check19" class="size14 gray_adecco arial steps_height">Informática</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check20" value="Ingeniería, Fabricación, Producción">
                    <label for="check20" class="size14 gray_adecco arial steps_height">Ingeniería, Fabricación, Producción</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check21" value="Internet">
                    <label for="check21" class="size14 gray_adecco arial steps_height">Internet</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check22" value="Jurídico,Fiscal">
                    <label for="check22" class="size14 gray_adecco arial steps_height">Jurídico, Fiscal</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check23" value="Limpieza especializada, Saneamiento, Servicios urbanos">
                    <label for="check23" class="size14 gray_adecco arial steps_height">Limpieza especializada, Saneamiento, Servicios urbanos</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check24" value="Logística, Planificación, Transporte">
                    <label for="check24" class="size14 gray_adecco arial steps_height">Logística, Planificación, Transporte</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check25" value="Mantenimiento, Instalación, Reparación">
                    <label for="check25" class="size14 gray_adecco arial steps_height">Mantenimiento, Instalación, Reparación</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check26" value="Marketing, Publicidad">
                    <label for="check26" class="size14 gray_adecco arial steps_height">Marketing, Publicidad</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check27" value="Medio ambiente">
                    <label for="check27" class="size14 gray_adecco arial steps_height">Medio ambiente</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check28" value="Oficios">
                    <label for="check28" class="size14 gray_adecco arial steps_height">Oficios</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check29" value="Prevención de riesgos laborales">
                    <label for="check29" class="size14 gray_adecco arial steps_height">Prevención de riesgos laborales</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check30" value="Recursos humanos">
                    <label for="check30" class="size14 gray_adecco arial steps_height">Recursos humanos</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check31" value="Sanidad y Salud">
                    <label for="check31" class="size14 gray_adecco arial steps_height">Sanidad y Salud</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check32" value="Seguridad y Defensa">
                    <label for="check32" class="size14 gray_adecco arial steps_height">Seguridad y Defensa</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check33" value="Servicios generales">
                    <label for="check33" class="size14 gray_adecco arial steps_height">Servicios generales</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check34" value="Servicios sociales">
                    <label for="check34" class="size14 gray_adecco arial steps_height">Servicios sociales</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check35" value="Telecomunicaciones">
                    <label for="check35" class="size14 gray_adecco arial steps_height">Telecomunicaciones</label>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <input type="checkbox" id="check36" value="Otros">
                    <label for="check36" class="size14 gray_adecco arial steps_height">Otros</label>

                </p>
            </div>
        </div>
    </div>
</section>
</div>

<section class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
           <button class="button-finish-1" onclick="location.href='@routes.GenerateDocumentsController.cv3()';" >SIGUIENTE</button>
        </div>
    </div>
</section>

<!-- POP UP WINDOW -->
<div id="accesibility_pop_up2" class="mask_pop_up">
    <div class="box_pop_up resize">
        <a href="#close" title="Cerrar" class="close">X</a>

        <h2 text-align="center">¿Cómo funciona?<h2>
            <h3 text-align="center">Para habilitar el uso del micrófono es necesario que sigas los siguientes pasos:</h3><br>
            <h4>1. Haz click en el micrófono ->  <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")"></h4><br>
            <h4>2. Haz click en permitir para habilitar el uso del micrófono -> <button type="submit">Permitir</button> </h4><br>
            <h4 class="col-md-offset-3">Ya está listo para usarse</h4>

    </div>
</div>

<script type="text/javascript">
      window.onload = function() {
        limitCheckboxes(3);
        loadRecognition();
        addNew();

    };
</script>

}