@(user: models.entities.User)

@main(){
<div class="container">
<!--COMPLETE_CV_2-->
<section  id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12  brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size22">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0;">
        <div class="col-md-12 ic_paso2">

            <div class="row-same-height row-full-height">
                <div class="col-xs-2 col-xs-height col-full-height center hidden-xs">
                    <a href="@routes.GenerateDocumentsController.cv1()">
                        <img src="@routes.Assets.at("images/orientation/steps/ic_1claro.png")">
                    </a>
                </div>
                <div class="col-xs-3 col-xs-height col-full-height" id="points-line-cv">

                </div>

                <div class="col-xs-2 col-xs-height col-full-height center hidden-xs">
                    <a href="@routes.GenerateDocumentsController.cv2()">
                        <img src="@routes.Assets.at("images/orientation/steps/ic_2.png")" >
                    </a>
                </div>


                <div class="col-xs-3 col-xs-height col-full-height" id="points-line-cv">

                </div>

                <div class="col-xs-2 col-xs-height col-full-height center hidden-xs">
                    <a href="@routes.GenerateDocumentsController.cv3()">
                        <img src="@routes.Assets.at("images/orientation/steps/ic_3claro.png")">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
	<div class="row">
        <div  id="cv2_alert" hidden>
            <div class="alert alert-danger" id="cv2_alert" role="alert">Por favor, completa todo el fomulario.</div><br>
        </div>
		<div class=" col-lg-12  arial gray_adecco size18 bold">Nivel de estudios</div>
	</div><br>

    <div class="font1_g">Puedes rellenar los siguientes campos con voz. <a class="font2_g" href="#accesibility_pop_up2">¿<ins>Cómo funciona</ins>?</a></div><br>





    <div class="row orientation-points">
		<div class="col-lg-12 ">
            <input type="checkbox" id="check_study" value="No tengo estudios" onclick="levelStudiesSetHidden(this.checked)">
		    <label for="check_study" class="size14 gray_adecco arial steps_height">No tengo estudios</label>
		</div>
   	</div><br>
	        <form class="form-horizontal">


	            <div class="form-group" id="level_studies_group">
                    <div class="col-lg-5 input-mic-container">

                        <input type="text" class="form-control" placeholder="Título" id="titulo" value="" required="required">
                        <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                      <!--  <select class="form-control" id="level_studies" name="level_studies">
                            @if((user != null && user.educationLevel == null) || user == null){
                                <option value="0" disabled selected="">Nivel de estudios</option>
                                <option value="1">PCPI / Garantía social</option>
                                <option value="2">Graduado escolar</option>
                                <option value="3">Certificado de escolaridad o de la ESO</option>
                                <option value="4">BUP, Bachillerato y COU</option>
                                <option value="5">Enseñanzas de régimen especial</option>
                                <option value="6">Graduado en ESO</option>
                                <option value="7">FP 1/ Técnico medio</option>
                                <option value="8">FP 2/ Técnico superior</option>
                                <option value="9">Diplomado, Ing. Técnico, Arquitecto técnico</option>
                                <option value="10">Grado</option>
                                <option value="11">Licenciado, Ingeniero, Arquitecto</option>
                                <option value="12">Título Propio/ Carrera no homologada</option>
                                <option value="13">Máster/ Título Propio de Postgrado</option>
                                <option value="14">Doctorado</option>
                                <option value="15">Oposiciones</option>
                            }else{
                                <option value="0" disabled>Nivel de estudios</option>
                                @if(user.educationLevel.equals("PCPI / Garantía social")){
                                    <option value="1" selected>PCPI / Garantía social</option>
                                }else{
                                    <option value="1">PCPI / Garantía social</option>
                                }
                                @if(user.educationLevel.equals("Graduado escolar")){
                                    <option value="2" selected>Graduado escolar</option>
                                }else{
                                    <option value="2">Graduado escolar</option>
                                }
                                @if(user.educationLevel.equals("Certificado de escolaridad o de la ESO")){
                                    <option value="3" selected>Certificado de escolaridad o de la ESO</option>
                                }else{
                                    <option value="3">Certificado de escolaridad o de la ESO</option>
                                }
                                @if(user.educationLevel.equals("BUP, Bachillerato y COU")){
                                    <option value="4" selected>BUP, Bachillerato y COU</option>
                                }else{
                                    <option value="4">BUP, Bachillerato y COU</option>
                                }
                                @if(user.educationLevel.equals("Enseñanzas de régimen especial")){
                                    <option value="5" selected>Enseñanzas de régimen especial</option>
                                }else{
                                    <option value="5">Enseñanzas de régimen especial</option>
                                }
                                @if(user.educationLevel.equals("Graduado en ESO")){
                                    <option value="6" selected>Graduado en ESO</option>
                                }else{
                                    <option value="6">Graduado en ESO</option>
                                }
                                @if(user.educationLevel.equals("FP 1/ Técnico medio")){
                                    <option value="7" selected>FP 1/ Técnico medio</option>
                                }else{
                                    <option value="7">FP 1/ Técnico medio</option>
                                }
                                @if(user.educationLevel.equals("FP 2/ Técnico superior")){
                                    <option value="8" selected>FP 2/ Técnico superior</option>
                                }else{
                                    <option value="8">FP 2/ Técnico superior</option>
                                }
                                @if(user.educationLevel.equals("Diplomado, Ing. Técnico, Arquitecto técnico")){
                                    <option value="9" selected>Diplomado, Ing. Técnico, Arquitecto técnico</option>
                                }else{
                                    <option value="9">Diplomado, Ing. Técnico, Arquitecto técnico</option>
                                }
                                @if(user.educationLevel.equals("Grado")){
                                    <option value="10" selected>Grado</option>
                                }else{
                                    <option value="10">Grado</option>
                                }
                                @if(user.educationLevel.equals("Licenciado, Ingeniero, Arquitecto")){
                                    <option value="11" selected>Licenciado, Ingeniero, Arquitecto</option>
                                }else{
                                    <option value="11">Licenciado, Ingeniero, Arquitecto</option>
                                }
                                @if(user.educationLevel.equals("Título Propio/ Carrera no homologada")){
                                    <option value="12" selected>Título Propio/ Carrera no homologada</option>
                                }else{
                                    <option value="12">Título Propio/ Carrera no homologada</option>
                                }
                                @if(user.educationLevel.equals("Máster/ Título Propio de Postgrado")){
                                    <option value="13" selected>Máster/ Título Propio de Postgrado</option>
                                }else{
                                    <option value="13">Máster/ Título Propio de Postgrado</option>
                                }
                                @if(user.educationLevel.equals("Doctorado")){
                                    <option value="14" selected>Doctorado</option>
                                }else{
                                    <option value="14">Doctorado</option>
                                }
                                @if(user.educationLevel.equals("Oposiciones")){
                                    <option value="15" selected>Oposiciones</option>
                                }else{
                                    <option value="15">Oposiciones</option>
                                }
                            }
                        </select>

                        -->

                     </div>
                    <div class="col-lg-5 col-lg-offset-2 input-mic-container">
                        <input type="text" class="form-control" placeholder="Lugar de estudio" id="placeStudy" value="" required="required">
                        <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                    </div>
	            </div>
	        </form><br>
	    
	

</section>

<section>


    <div class="row">
        <div class="col-lg-12  arial gray_adecco size18 bold">Experiencia laboral</div>
    </div><br>


    <div class="row orientation-points" id="check_exp_cb">
        <div class="col-lg-12  arial size14">
            <input type="checkbox" id="check_experience" value="No tengo experiencia" onclick=" jobExperienceHidden(this.checked)">
            <label for="check_experience" class="size14 gray_adecco arial steps_height">No tengo experiencia</label>
        </div>
    </div><br>
        
    <div class="main-div-sections" id="job_experience_group">
        @if(user != null){
            @for(experience <- user.currentSituation.professionalExperienceList){
                <form class="form-horizontal" autocomplete="on" method="post">
                    <div class="form-group" id="level_studies_group">
                        <div class="col-lg-5 input-mic-container">
                                <input type="text" class="form-control" placeholder="Empresa" id="company" value="@experience.company" required="required" >
                                <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">

                        </div>
                        <div class="col-lg-5 col-lg-offset-2 input-mic-container">
                                <input type="text" class="form-control" placeholder="Puesto" id="office" value="@experience.job" required="required">
                                <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-lg-5">
                            <input placeholder="Fecha de inicio" class="form-control" type="text" value="@experience.startDate" onfocus="(this.type='month')"  onblur="(this.type='text')" id="month_start">
                        </div>


                        <div class="col-lg-5  col-lg-offset-2">
                            <input placeholder="Fecha de fin" class="form-control" type="text" value="@experience.endDate" onfocus="(this.type='month')"  onblur="(this.type='text')" id="month_end">
                        </div>
                    </div>

                    <div class=" form-group">
                        <div class="col-lg-5  col-lg-offset-2">

                        </div>
                        <div class="col-lg-5 ">
                            <div class="">
                            <div class="form-group center brown_adecco arial size13">
                                Debes añadir cada uno de los cursos que hayas realizado.
                            </div>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-lg-5 ">
                         <!--div añadido extra porque sino el boton añadir no va-->
                        </div>
                        <div class="col-lg-5  col-lg-offset-2">
                            <div class="form-group add-other-btn-div button-cursor-pointer" id="job_experience_group_3">
                                <img class="add-new" src="@routes.Assets.at("images/orientation/ic_trash2.png")">
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
        <form class=" form-horizontal" autocomplete="on" method="post">
            <div class="form-group form-inline" >
                <div class="col-lg-5 input-mic-container ">

                        <input type="text" class="form-control" placeholder="Empresa" id="company" value="" required="required" >
                        <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">

                </div>
                <div class="col-lg-5  col-lg-offset-2 input-mic-container">
                        <input type="text" class="form-control" placeholder="Puesto" id="office" value="" required="required">
                        <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-5">
                       <input placeholder="Fecha de inicio" class="form-control" type="text" value="" onfocus="(this.type='month')">
                </div>


                <div class="col-lg-5  col-lg-offset-2">
                    <input placeholder="Fecha de fin" class="form-control" type="text" value="" onfocus="(this.type='month')">
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-5  col-lg-offset-2">

                </div>
                <div class="col-lg-5 ">
                    <div class="">
                    <div class="form-group center brown_adecco arial size15">
                        Debes añadir cada uno de los trabajos que hayas realizado.
                    </div>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-lg-5 ">
                 <!--div añadido extra porque sino el boton añadir no va-->
                </div>
                <div class="col-lg-5  col-lg-offset-2">
                    <div class="form-group add-other-btn-div button-cursor-pointer" id="job_experience_group_3">
                        <img class="add-new" src="@routes.Assets.at("images/Orientation/ic_añadirexperiencia.png")">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
 <section class="container">
    <div class="row">
        <div class="col-md-12 arial gray_adecco size22 bold">
            Intereses profesionales
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco arial size12">
            Seleccione como máximo 3.
        </div>
    </div>
       
    <div class="row orientation-points back checkbox-group">

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Agricultura, Montes, Pesca, Mineria")){
                        <input type="checkbox" id="check1" checked value="Agricultura, Montes, Pesca, Mineria">
                    }else{
                        <input type="checkbox" id="check1" value="Agricultura, Montes, Pesca, Mineria">
                    }
                    <label for="check1" class="size14 gray_adecco arial steps_height">Agricultura, Montes, Pesca, Mineria</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Arte, Cultura, Sociedad")){
                        <input type="checkbox" id="check2" checked value="Arte, Cultura, Sociedad">
                    }else{
                        <input type="checkbox" id="check2" value="Arte, Cultura, Sociedad">
                    }
                    <label for="check2" class="size14 gray_adecco arial steps_height">Arte, Cultura, Sociedad</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Atención al cliente")){
                        <input type="checkbox" id="check3" checked value="Atención al cliente">
                    }else{
                        <input type="checkbox" id="check3" value="Atención al cliente">
                    }
                    <label for="check3" class="size14 gray_adecco arial steps_height">Atención al cliente</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Banca y Seguros")){
                        <input type="checkbox" id="check4" checked value="Banca y Seguros">
                    }else{
                        <input type="checkbox" id="check4" value="Banca y Seguros">
                    }
                    <label for="check4" class="size14 gray_adecco arial steps_height">Banca y Seguros</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Bioquímica, Farmacia, Experimental")){
                        <input type="checkbox" id="check5" checked value="Bioquímica, Farmacia, Experimental">
                    }else{
                        <input type="checkbox" id="check5" value="Bioquímica, Farmacia, Experimental">
                    }
                    <label for="check5" class="size14 gray_adecco arial steps_height">Bioquímica, Farmacia, Experimental</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Calidad")){
                        <input type="checkbox" id="check6" checked value="Calidad">
                    }else{
                        <input type="checkbox" id="check6" value="Calidad">
                    }
                    <label for="check6" class="size14 gray_adecco arial steps_height">Calidad</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Comercial, Ventas")){
                        <input type="checkbox" id="check7" checked value="Comercial, Ventas">
                    }else{
                        <input type="checkbox" id="check7" value="Comercial, Ventas">
                    }
                    <label for="check7" class="size14 gray_adecco arial steps_height">Comercial, Ventas</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Compras")){
                        <input type="checkbox" id="check8" checked value="Compras">
                    }else{
                        <input type="checkbox" id="check8" value="Compras">
                    }
                    <label for="check8" class="size14 gray_adecco arial steps_height">Compras</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Comunicación, Medios, Periodismo")){
                        <input type="checkbox" id="check9" checked value="Comunicación, Medios, Periodismo">
                    }else{
                        <input type="checkbox" id="check9" value="Comunicación, Medios, Periodismo">
                    }
                    <label for="check9" class="size14 gray_adecco arial steps_height">Comunicación, Medios, Periodismo</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Construcción, Arquitectura, Inmobiliaria")){
                        <input type="checkbox" id="check10" checked value="Construcción, Arquitectura, Inmobiliaria">
                    }else{
                        <input type="checkbox" id="check10" value="Construcción, Arquitectura, Inmobiliaria">
                    }
                    <label for="check10" class="size14 gray_adecco arial steps_height">Construcción, Arquitectura, Inmobiliaria</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Consultoría")){
                        <input type="checkbox" id="check11" checked value="Consultoría">
                    }else{
                        <input type="checkbox" id="check11" value="Consultoría">
                    }
                    <label for="check11" class="size14 gray_adecco arial steps_height">Consultoría</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Dirección, Gerencia")){
                        <input type="checkbox" id="check12" checked value="Dirección, Gerencia">
                    }else{
                        <input type="checkbox" id="check12" value="Dirección, Gerencia">
                    }
                    <label for="check12" class="size14 gray_adecco arial steps_height">Dirección, Gerencia</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Diseño, Creatividad")){
                        <input type="checkbox" id="check13" checked value="Diseño, Creatividad">
                    }else{
                        <input type="checkbox" id="check13" value="Diseño, Creatividad">
                    }
                    <label for="check13" class="size14 gray_adecco arial steps_height">Diseño, Creatividad</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Artes gráficas, Documentación, Traducción")){
                        <input type="checkbox" id="check14" checked value="Artes gráficas, Documentación, Traducción">
                    }else{
                        <input type="checkbox" id="check14" value="Artes gráficas, Documentación, Traducción">
                    }
                    <label for="check14" class="size14 gray_adecco arial steps_height">Artes gráficas, Documentación, Traducción</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Educación, Formación")){
                        <input type="checkbox" id="check15" checked value="Educación, Formación">
                    }else{
                        <input type="checkbox" id="check15" value="Educación, Formación">
                    }
                    <label for="check15" class="size14 gray_adecco arial steps_height">Educación, Formación</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Finanzas, Contabilidad, Auditoría")){
                        <input type="checkbox" id="check16" checked value="Finanzas, Contabilidad, Auditoría">
                    }else{
                        <input type="checkbox" id="check16" value="Finanzas, Contabilidad, Auditoría">
                    }
                    <label for="check16" class="size14 gray_adecco arial steps_height">Finanzas, Contabilidad, Auditoría</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Hostelería, Turismo")){
                        <input type="checkbox" id="check17" checked value="Hostelería, Turismo">
                    }else{
                        <input type="checkbox" id="check17" value="Hostelería, Turismo">
                    }
                    <label for="check17" class="size14 gray_adecco arial steps_height">Hostelería, Turismo</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("I+D")){
                        <input type="checkbox" id="check18" checked value="I+D">
                    }else{
                        <input type="checkbox" id="check18" value="I+D">
                    }
                    <label for="check18" class="size14 gray_adecco arial steps_height">I+D</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Informática")){
                        <input type="checkbox" id="check19" checked value="Informática">
                    }else{
                        <input type="checkbox" id="check19" value="Informática">
                    }
                    <label for="check19" class="size14 gray_adecco arial steps_height">Informática</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Ingeniería, Fabricación, Producción")){
                        <input type="checkbox" id="check20" checked value="Ingeniería, Fabricación, Producción">
                    }else{
                        <input type="checkbox" id="check20" value="Ingeniería, Fabricación, Producción">
                    }
                    <label for="check20" class="size14 gray_adecco arial steps_height">Ingeniería, Fabricación, Producción</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Internet")){
                        <input type="checkbox" id="check21" checked value="Internet">
                    }else{
                        <input type="checkbox" id="check21" value="Internet">
                    }
                    <label for="check21" class="size14 gray_adecco arial steps_height">Internet</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Jurídico, Fiscal")){
                        <input type="checkbox" id="check22" checked value="Jurídico, Fiscal">
                    }else{
                        <input type="checkbox" id="check22" value="Jurídico, Fiscal">
                    }
                    <label for="check22" class="size14 gray_adecco arial steps_height">Jurídico, Fiscal</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Limpieza especializada, Saneamiento, Servicios urbanos")){
                        <input type="checkbox" id="check23" checked value="Limpieza especializada, Saneamiento, Servicios urbanos">
                    }else{
                        <input type="checkbox" id="check23" value="Limpieza especializada, Saneamiento, Servicios urbanos">
                    }
                    <label for="check23" class="size14 gray_adecco arial steps_height">Limpieza especializada, Saneamiento, Servicios urbanos</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Logística, Planificación, Transporte")){
                        <input type="checkbox" id="check24" checked value="Logística, Planificación, Transporte">
                    }else{
                        <input type="checkbox" id="check24" value="Logística, Planificación, Transporte">
                    }
                    <label for="check24" class="size14 gray_adecco arial steps_height">Logística, Planificación, Transporte</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Mantenimiento, Instalación, Reparación")){
                        <input type="checkbox" id="check25" checked value="Mantenimiento, Instalación, Reparación">
                    }else{
                        <input type="checkbox" id="check25" value="Mantenimiento, Instalación, Reparación">
                    }
                    <label for="check25" class="size14 gray_adecco arial steps_height">Mantenimiento, Instalación, Reparación</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Marketing, Publicidad")){
                        <input type="checkbox" id="check26" checked value="Marketing, Publicidad">
                    }else{
                        <input type="checkbox" id="check26" value="Marketing, Publicidad">
                    }
                    <label for="check26" class="size14 gray_adecco arial steps_height">Marketing, Publicidad</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Medio ambiente")){
                        <input type="checkbox" id="check27" checked value="Medio ambiente">
                    }else{
                        <input type="checkbox" id="check27" value="Medio ambiente">
                    }
                    <label for="check27" class="size14 gray_adecco arial steps_height">Medio ambiente</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Oficios")){
                        <input type="checkbox" id="check28" checked value="Oficios">
                    }else{
                        <input type="checkbox" id="check28" value="Oficios">
                    }
                    <label for="check28" class="size14 gray_adecco arial steps_height">Oficios</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Prevención de riesgos laborales")){
                        <input type="checkbox" id="check29" checked value="Prevención de riesgos laborales">
                    }else{
                        <input type="checkbox" id="check29" value="Prevención de riesgos laborales">
                    }
                    <label for="check29" class="size14 gray_adecco arial steps_height">Prevención de riesgos laborales</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Recursos humanos")){
                        <input type="checkbox" id="check30" checked value="Recursos humanos">
                    }else{
                        <input type="checkbox" id="check30" value="Recursos humanos">
                    }
                    <label for="check30" class="size14 gray_adecco arial steps_height">Recursos humanos</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Sanidad y Salud")){
                        <input type="checkbox" id="check31" value="Sanidad y Salud">
                    }else{
                        <input type="checkbox" id="check31" value="Sanidad y Salud">
                    }
                    <label for="check31" class="size14 gray_adecco arial steps_height">Sanidad y Salud</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Seguridad y Defensa")){
                        <input type="checkbox" id="check32" checked value="Seguridad y Defensa">
                    }else{
                        <input type="checkbox" id="check32" value="Seguridad y Defensa">
                    }
                    <label for="check32" class="size14 gray_adecco arial steps_height">Seguridad y Defensa</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Servicios generales")){
                        <input type="checkbox" id="check33" checked value="Servicios generales">
                    }else{
                        <input type="checkbox" id="check33" value="Servicios generales">
                    }
                    <label for="check33" class="size14 gray_adecco arial steps_height">Servicios generales</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Servicios sociales")){
                        <input type="checkbox" id="check34" checked value="Servicios sociales">
                    }else{
                        <input type="checkbox" id="check34" value="Servicios sociales">
                    }
                    <label for="check34" class="size14 gray_adecco arial steps_height">Servicios sociales</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <p>
                    @if(user != null && user.interests.contains("Telecomunicaciones")){
                        <input type="checkbox" id="check35" checked value="Telecomunicaciones">
                    }else{
                        <input type="checkbox" id="check35" value="Telecomunicaciones">
                    }
                    <label for="check35" class="size14 gray_adecco arial steps_height">Telecomunicaciones</label>
                </p>
            </div>

            <div class="col-md-5">
                <p>
                    @if(user != null && user.interests.contains("Otros")){
                        <input type="checkbox" id="check36" checked value="Otros">
                    }else{
                        <input type="checkbox" id="check36" value="Otros">
                    }
                    <label for="check36" class="size14 gray_adecco arial steps_height">Otros</label>
                </p>
            </div>
        </div>
    </div>
</section>
</div>
<section class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
           <button class="button-finish-1" onclick="sendForm()" >SIGUIENTE</button>
        </div>
    </div>
</section>

<!-- POP UP WINDOW -->
<div id="accesibility_pop_up2" class="mask_pop_up">
    <div class="box_pop_up resize">
        <a href="#close" title="Cerrar" class="close">X</a>

        <h2 text-align="center">¿Cómo funciona?<h2>
            <h3 text-align="center">Para habilitar el uso del micrófono es necesario que sigas los siguientes pasos:</h3><br>
            <h4>1. Haz click en el micrófono ->  <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")"></h4><br>
            <h4>2. Haz click en permitir para habilitar el uso del micrófono -> <button type="submit">Permitir</button> </h4><br>
            <h4 class="col-md-offset-3">Ya está listo para usarse</h4>

    </div>
</div>

<script type="text/javascript">
      window.onload = function() {
        limitCheckboxes(3);
        loadRecognition();
        addNew();

    };
</script>

<script type="text/javascript">
    function sendForm(){
        var result = [];
        var counter = 0;
        var emptyField = false;

        //Adding study level
        if($('#check_study').is(':checked')){
            result[counter] = "";
        }else{
            if($('#level_studies option:selected').val() == 0){
                emptyField = true;
            }
            result[counter] = $('#level_studies option:selected').text();
        }
        counter++;

        //Adding job experience
        if($('#check_experience').is(':checked')){
            result[counter] = "EmptyExperience";
            counter++;
        }else{
            var jobExperience = [];
            var counter = 0;
        
            $('.main-div-sections .form-horizontal').each(function(){
                var auxExperience = [];
                var valid = true;
                $(this).find('input').each(function(){
                    if(valid == true && $(this).val() != ''){
                        auxExperience[counter] = $(this).val();
                    }else{
                        valid = false;
                    }
                    counter++;
                });
                counter = 0;
                if(valid==true){
                    jobExperience.push(auxExperience);
                }
            });
            result.push(JSON.stringify(jobExperience));
        }

        if($('#check_experience').is(':checked')==false && jobExperience.length == 0){
            emptyField = true;
        }

        //Adding professional interests
        var checkboxArray = [];
        var counter = 0;
        $('.checkbox-group input[type=checkbox]').each(function () {
            if(this.checked){
                checkboxArray[counter] = $(this).val();
                counter++;
            }
        });

        if(counter == 0){
            emptyField = true;
        }

        result.push(JSON.stringify(checkboxArray));

        if(emptyField == true){
            $('#cv2_alert').show();
            window.scrollTo(0,0);
        }else{
            $.ajax({
                type: 'post',
                data: JSON.stringify(result),
                url: "/orientation/gettools/cv2",
                contentType: 'application/json',
                error: function(){
                    alert("Error!!");
                },
                success: function(){
                    window.location.assign("/orientation/gettools/cv3");
                }
            });
        }
    }
</script>

}