@main(){

<!--COMPLETE_CV_3-->
<section class="container" id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size22">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="@routes.Assets.at("images/complete_user_profile_3/ic_paso3.png")">
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <button class="button-finish-1" onclick="location.href=#">FINALIZAR</button>
        </div>
    </div>
</section>
}