@main(){

<!--COMPLETE_USER_PROFILE_1-->
<section class="container" id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size20">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="@routes.Assets.at("images/complete_user_profile_1/ic_paso1.png")">
        </div>
    </div>
</section>
<!--Datos Personales-->

<article class="container">
    <div class="add_container">
       
        <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 arial gray_adecco size22 bold">
                    <p>Datos personales</p>
                </div>
        
        <form class="form-horizontal" role="form"  method="post">
                <div class="form-group form-inline">
                    <div class="col-md-offset-3 col-md-6 input-mic-container">
                            <input type="text" name='register_name' class="form-control" id="register_name"  required="required" placeholder="Nombre">
                            
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6 input-mic-container">
                        <input type="text" name='register_surnames' class="form-control" id="register_surnames" required="required" placeholder="Apellidos">
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6 input-mic-container">
                        <input type="text" name='register_surnames' class="form-control" id="register_date" required="required" placeholder="Fecha de nacimiento">
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6 input-mic-container">
                        <input type="text" name='register_surnames' class="form-control" id="register_city" required="required" placeholder="Ciudad de residencia">
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6 input-mic-container">
                        <input type="text" name='register_surnames' class="form-control" id="register_dress" required="required" placeholder="Calle">
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6 input-mic-container">
                        <input type="text" name='register_surnames' class="form-control" id="register_number" required="required" placeholder="Numero">
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6 input-mic-container">
                        <input type="text" name='register_surnames' class="form-control" id="register_post" required="required" placeholder="Código postal">
                        
                    </div>
                </div>

                

                
            </form>
        </div>
            
            
        
    </div>
    
    <!--Contacto-->
    <div class="add_container">
         <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 arial gray_adecco size22 bold">
                    <p>Datos de contacto</p>
                </div>
        
        <form class="form-horizontal" role="form"  method="post">
               
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="email" name='register_email' class="form-control" id="register_part_email" required="required" placeholder="Correo electrónico">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="password" name='register_password' class="form-control" id="register_part_telephone" required="required" placeholder="Telefono">
                    </div>
                </div>

        </form>
        </div>
       



    </div>

    <div class="add_container">
        <div class="col-md-12 col-xs-12 col-sm-12 arial gray_adecco size22 bold">
                <p>Carnet de conducir</p>
            </div>
    </div>
    
</article>

<article class="container">
    
    <div class="row">
        <div class="col-md-6" id="next_button_user">
            <a href="@routes.LoginParticularUserController.cv2()"><button type="submit" class="btn-img" id="job_experience_group_5"><img  src="@routes.Assets.at("images/complete_user_profile_1/ic_next.png")"></button></a>
        </div>
    </div>
</article>

}