@main(){
<div class="container">

<!--COMPLETE_CV_3-->
<section id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12  brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size22">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ic_paso2">
            <img src="@routes.Assets.at("images/complete_user_profile_3/ic_paso3.png")" class="ic_paso2">
        </div>
    </div>
</section>

<section>
<!--Cursos-->    
    <div class="row">
        <div class="col-md-12 arial gray_adecco size18 bold">
            <p>Cursos</p>
        </div>
    </div><br>
    <div class="font1_g">Puedes rellenar los siguientes campos con voz. <a class="font2_g" href="#accesibility_pop_up2">¿<ins>Cómo funciona</ins>?</a></div><br>


    <div class="main-div-sections">
        <div>
            <form class="form-horizontal courses" autocomplete="on" method="post">
                <div class="form-group">
                    <div class="col-lg-5">
                        <div class="input-mic-container">
                            <input type="text" class="form-control" id="namecourse" placeholder="Nombre del curso" >
                            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                        </div>
                    </div>

                    <div class="col-lg-5 col-lg-offset-2">
                        <div class="input-mic-container">
                            <input type="text" class="form-control" id="imparted" value="" placeholder="Impartido por..." >
                            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-5">
                        <div class="input-mic-container">
                            <input type="text" class="form-control" id="numHour" value="" placeholder="Número de horas" >
                            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                            
                        </div>
                        
                    </div>

                    <div class="col-lg-offset-2 col-lg-5">
                        <div class="">
                        <div class="form-group center brown_adecco arial size14">
                                Debes añadir cada uno de los cursos que hayas realizado.
                        </div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group">
                    <div class="col-lg-5">
                     <!--div añadido extra porque sino el boton añadir no va-->   
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <div class="form-group add-other-btn-div button-cursor-pointer" id="job_experience_group_3">
                                <img class="add-new" src="@routes.Assets.at("images/complete_user_profile_1/ic_add.png")">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><br>
</section>


<section>


<!--Idiomas--> 

    <div class="row">
        <div class="col-md-12 arial gray_adecco size18 bold">
            <p>Idiomas</p>
        </div>
    </div>

    <div class="main-div-sections center">
        <div>
            <form class="form-horizontal languages" autocomplete="on" method="post">
                <div class="form-group">
                    <div class="col-lg-5">
                        <div class="input-mic-container">
                            <input type="text" class="form-control" id="language" value="" placeholder="Idioma" >
                            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                        </div>
                    </div>

                    <div class="col-lg-5 col-lg-offset-2">
                        <select  class="form-control" id="level" name="level">
                        <option value="d0" disabled selected="">Nivel</option>
                        <option value="d1">A1</option>
                        <option value="d2">A2</option>
                        <option value="d3">B1</option>
                        <option value="d4">B2</option>
                        <option value="d5">C1</option>
                        <option value="d6">C2</option>
                        <option value="d7">Otros</option>
                    </select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-5">
                        
                    </div>

                    <div class="col-lg-5 col-lg-offset-2 ">
                        <div class="">
                        <div class="form-group center brown_adecco arial size14">Debes añadir cada uno de los cursos que hayas realizado.</div>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="form-group">
                    <div class="col-lg-5">
                     <!--div añadido extra porque sino el boton añadir no va-->   
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <div class="form-group add-other-btn-div button-cursor-pointer" id="job_experience_group_3">
                                <img class="add-new" src="@routes.Assets.at("images/complete_user_profile_1/ic_add.png")">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><br>
</section>

<section>

    <div class="row">
        <div class="col-md-12 arial gray_adecco size18 bold">Programas informáticos</div>
    </div>

    <div class="main-div-sections">
        <div>
            <form class="form-horizontal software" autocomplete="on" method="post">
                <div class="form-group">
                    <div class="col-lg-5">
                        <div class="input-mic-container">
                            <input type="text" class="form-control" id="software" value="" placeholder="Programas informáticos" >
                            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
                        </div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <select  class="form-control" id="level" name="level">
                            <option value="s0" disabled selected="">Nivel</option>
                            <option value="s1">Basico</option>
                            <option value="s2">Medio</option>
                            <option value="s3">Avanzado</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                       
                    </div>
                    <div class="col-lg-5">
                        <div class="">
                        <div class="form-group center brown_adecco arial size14"> Debes añadir cada uno de los cursos que hayas realizado.</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                     <!--div añadido extra porque sino el boton añadir no va-->   
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group add-other-btn-div button-cursor-pointer" id="job_experience_group_3">
                                <img class="add-new" src="@routes.Assets.at("images/complete_user_profile_1/ic_add.png")">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>


<!--Button Finalizar-->
<section class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-finish-1" onclick="location.href=#">FINALIZAR</button>
        </div>
    </div>
</section>


<!-- POP UP WINDOW -->
<div id="accesibility_pop_up2" class="mask_pop_up">
    <div class="box_pop_up resize">
        <a href="#close" title="Cerrar" class="close">X</a>

        <h2 text-align="center">¿Cómo funciona?<h2>
            <h3 text-align="center">Para habilitar el uso del micrófono es necesario que sigas los siguientes pasos:</h3><br>
            <h4>1. Haz click en el micrófono ->  <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")"></h4><br>
            <h4>2. Haz click en permitir para habilitar el uso del micrófono -> <button type="submit">Permitir</button> </h4><br>
            <h4 class="col-md-offset-3">Ya está listo para usarse</h4>

    </div>
</div>


<script type="text/javascript">
      window.onload = function() {
        loadRecognition();
        addNew();
    };
</script>
 
<script type="text/javascript">
    function sendForm(){
        var result = []
        //Adding courses
        var coursesArray = [];
        var counter = 0;
        $('.main-div-sections .courses').each(function(){
            var auxCourses = [];
            var valid = true;
            $(this).find('input').each(function(){
                if(valid == true && $(this).val() != ''){
                    auxCourses[counter] = $(this).val();
                }else{
                    valid = false;
                }
                counter++;
            });
            counter = 0;
            if(valid==true){
                coursesArray.push(auxCourses);
            }
        });

        result.push(JSON.stringify(coursesArray));

        //Adding languages
        var languagesArray = [];
        $('.main-div-sections .languages').each(function(){
            var auxLanguage = [];
            if($(this).find('#language').val() != ''){
                auxLanguage[0] = $(this).find('#language').val();
                auxLanguage[1] = $(this).find('#level option:selected').text();
            }
            languagesArray.push(auxLanguage);
        });

        result.push(JSON.stringify(languagesArray));

        //Adding IT level
        var software = [];
        $('.main-div-sections .software').each(function(){
            var auxSoftware = [];
            if($(this).find('#software').val() != ''){
                auxSoftware[0] = $(this).find('#software').val();
                auxSoftware[1] = $(this).find('#level option:selected').text();
            }
            software.push(auxSoftware);
        });

        result.push(JSON.stringify(software));
    }
</script>   

}