@main(){

<!--COMPLETE_CV_1-->
<section class="container" id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size20">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 ic_paso2">
            <img src="@routes.Assets.at("images/complete_user_profile_1/ic_paso1.png")" class="ic_paso2">
        </div>
    </div>
</section>

<article class="container">

<!--Datos Personales-->

  <div class="row">
    <div class="col-md-12 arial gray_adecco size18 bold">
        <p>Datos personales</p>
    </div>
  </div>

  <form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-lg-4 input-mic-container">
            <input type="text" class="form-control" id="name" placeholder="Nombre">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-4 input-mic-container">
            <input type="text" class="form-control" id="surname"placeholder="Apellidos">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-4 input-mic-container">
            <input type="text" class="form-control" id="date"placeholder="Fecha de nacimiento">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-4 input-mic-container">
            <input type="text" class="form-control" id="register_city"placeholder="Ciudad de residencia">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-4 input-mic-container">
            <input type="text" class="form-control" id="dress"placeholder="Calle">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-4 input-mic-container">
            <input type="text" class="form-control" id="number"placeholder="Número">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-4 input-mic-container">
            <input type="post" class="form-control" id="post" placeholder="Código postal">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
        </div>
    </div>
  </form>

    <!--Contacto-->
    <div class="row">
        <div class="col-md-12 arial gray_adecco size18 bold">
            <p>Datos de contacto</p>
        </div>
    </div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-lg-4">
                <input type="email" class="form-control" id="email_3"placeholder="Correo electrónico">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-4 input-mic-container">
            <input type="text" class="form-control" id="telephone"placeholder="Telefono de contacto">
            <img class="img-btn" src="@routes.Assets.at("/images/speech/static-mic.png")">
            </div>
        </div>
    </form>

    <!--Carnet-->
    <div class="row">
        <div class="col-md-12 arial gray_adecco size18 bold">
        <p>Carnet de conducir</p>
        </div>
    </div>

    <form class="form-horizontal" role="form">
      <div class="form-group orientation-points">
        <div class="col-lg-4">
          <input type="checkbox" id="check_license" name="license" onclick="enable_cb2(this)">
          <label for="check_license" class="size14 gray_adecco arial steps_height">No tengo carnet</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-4">
          <select  class="form-control" id="driving_license" name="driving_license">
              <option value="0" disabled selected="">Tipo de permiso de conducir</option>
              <option value="1">A1</option>
              <option value="2">A</option>
              <option value="3">B</option>
              <option value="4">C1</option>
              <option value="5">C</option>
              <option value="6">D1</option>
              <option value="7">D</option>
              <option value="8">BE</option>
              <option value="9">C1E</option>
              <option value="10">CE</option>
              <option value="11">D1E</option>
              <option value="12">DE</option>
              <option value="13">btp</option>
          </select>
        </div>
      </div>
    </form>
</article>
<article class="container">
        <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <button class="button-finish-1" onclick="location.href= '@routes.LoginParticularUserController.cv2()';">Siguiente</button>
        </div>
        </div>
</article>


<script type="text/javascript">
      window.onload = function() {
        loadRecognition();
    };
</script>

}