@main(){

<!--COMPLETE_CV_3-->
<section class="container marg" id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size22">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="@routes.Assets.at("images/complete_user_profile_3/ic_paso3.png")">
        </div>
    </div>
</section>

<article class="container marg">


<!--Cursos-->    
    
            <div class="row">
                <div class="col-md-12 arial gray_adecco size18 bold">
                    <p>Cursos</p>
                </div>
            </div>

            <div class="row">

            <div class="col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group" id="namecourse">
                            <input type="text" class="form-control" id="namecourse" placeholder="Nombre del curso" >
                        </div>
                    </form>
            </div>

            <div class="col-md-4 col-md-offset-2">
                    <form class="form-horizontal">
                        <div class="form-group" id="imparted">
                            <input type="text" class="form-control" id="imparted" placeholder="Impartido por..." >
                        </div>
                    </form>
            </div>

            <div class="col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group" id="numhours">
                            <input type="text" class="form-control" id="imparted" placeholder="Número de horas" >
                        </div>
                    </form>
            </div>

            <div class="col-md-4 col-md-offset-2">
                    <div class="row brown_adecco arial size11">
                    <p>Debes añadir cada uno de los cursos que hayas realizado.</p> 
                    </div>
            </div>
            </div>
    

    
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2 center">
                    <button type="submit" class="btn-img" id="job_experience_group_5"><img  src="@routes.Assets.at("images/complete_user_profile_1/ic_add.png")"></button>
                </div>
            </div>
    
    

    
    
</article>


<article class="container marg">


<!--Cursos-->    
    
            <div class="row">
                <div class="col-md-12 arial gray_adecco size18 bold">
                    <p>Idiomas</p>
                </div>
            </div>

            <div class="row">
            <div class="col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group" id="job_experience_group">
                            <input type="text" class="form-control" id="language" placeholder="Idioma" >
                        </div>
                    </form>
            </div>

            <div class="col-md-4 col-md-offset-2">
                    <form class="form-horizontal">
                <div class="form-group" id="level">
                    <select  class="form-control" id="level" name="level">
                        <option value="d0" disabled selected="">Nivel</option>
                        <option value="d1">A1</option>
                        <option value="d2">A2</option>
                        <option value="d3">B1</option>
                        <option value="d4">B2</option>
                        <option value="d5">C1</option>
                        <option value="d6">C2</option>
                        <option value="d7">Otros</option>
                    </select>
                </div>
            </form>
            </div>
            </div>

            
            <div class="col-md-6"></div>
            <div class="col-md-4">
                    <div class="row brown_adecco arial size11">
                        <p>Debes añadir cada uno de los cursos que hayas realizado.</p> 
                    </div>
            </div>
            


            

            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2 center">
                    <button type="submit" class="btn-img" id="job_experience_group_5"><img  src="@routes.Assets.at("images/complete_user_profile_1/ic_add.png")"></button>
                </div>
            </div>
  
</article>

<article class="container marg ">


<!--Programas--> 
    
            <div class="row">
                <div class="col-md-12 arial gray_adecco size18 bold">
                    <p>Programas informáticos</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                        <form class="form-horizontal">
                            <div class="form-group" id="job_experience_group">
                                <input type="text" class="form-control" id="programs" placeholder="Programas informáticos" >
                            </div>
                        </form>
                </div>

            <div class="col-md-4 col-md-offset-2">
                    <form class="form-horizontal">
                        <div class="form-group" id="job_experience_group_2">
                            <select  class="form-control" id="level" name="level">
                                <option value="s0" disabled selected="">Nivel</option>
                                <option value="s1">Basico</option>
                                <option value="s2">Medio</option>
                                <option value="s3">Avanzado</option>
                            </select>
                        </div>
                    </form>
            </div>
            </div>

           
            <div class="col-md-6"></div>
            <div class="col-md-4">
                    <div class="row brown_adecco arial size11">
                        <p>Debes añadir cada uno de los cursos que hayas realizado.</p> 
                    </div>
            </div>
            


            

            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2 center">
                    <button type="submit" class="btn-img" id="job_experience_group_5"><img  src="@routes.Assets.at("images/complete_user_profile_1/ic_add.png")"></button>
                </div>
            </div>
    
            

    
    
</article>
<article class="container marg">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <button class="button-finish-1" onclick="location.href=#">FINALIZAR</button>
        </div>
    </div>
</article>
    

}