@main(menu){
	
}
@menu ={


      <nav>
      	<h1><a href="@routes.Application.index">Bienvenido</a></h1>
        <ul>
        	<li><a href="@routes.Application.index" class="current">Entra</a></li>
			<li><a href="#">Soy una empresa </a></li>			
        </ul>
      </nav>
      
      <!-- CORPORATIVE IMAGE AND MORE-->
	<section>
		<img src="images/corporative.jpg" width=200>
	</section>

	<!-- CHOOSING USER TYPE SECTION-->
	<section>
		<h2>¿Qué estás buscando?</h2>
		<ul>
			<li>
				<a href="list.scala.html">
					<div class="img_link" >
						<h3>CURSOS</h3>
					</div>
				</a>
			</li>
			<li>
				<a href="list.scala.html">
					<div class="img_link">
						<h3>EMPLEO</h3>
					</div>
				</a>
			</li>

			<li>
				<a href="list.scala.html">
					<div class="img_link">
						<h3>TODO</h3>
					</div>
				</a>
			</li>
		</ul>
	</section>
}