@main(){
<section class="container-fluid size_font" id="planning_banner">
    <div class="row">
        <div class="col-md-6 size_font" id="banner_text">
            Es importante contar con unas buenas herramientas de planificación. Fundación Adecco te ayudará a organizarte guiándote paso a paso. Con los siguientes recursos podrás planificar las diferentes entrevistas que tengas con las empresas. Además podrás buscar el camino más adecuado para llegar al lugar de la entrevista a tiempo, esto es muy importante para que realices la entrevista relajado y muestres tus mejores cualidades.

        </div>
    </div>
</section>

<div class="container">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="red_adecco century_gothic">Planificación</h2>

                <br></br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="sub-title">Planificación de las proximas entrevistas</h2>
                <div class="brown_adecco arial size14">
                    Con la siguiente herramienta podrás concretar cuales van a ser tus próximas entrevistas y determinar que notificaciones quieres recibir. La entrevista de trabajo comienza desde el momento en que eres llamado para acudir a una cita y el éxito dependerá en gran parte del grado de preparación que tengas para la misma.
                    <br>A continuación, podrás saber cuantos días tienes para prepararla y poder dividir el trabajo.
                </div></br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2 center">
                <button class="button-create-1" onclick="location.href= '@routes.OrientationController.deadline()';"><font size="3">PLANIFICAR</font></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="sub-title" >Cómo llegar al lugar de  la entrevista</h2>
                <div class="brown_adecco arial size14">
                    Antes de ir a una entrevista de trabajo consigue toda la información que puedas acerca de la empresa. Lleva contigo esta información el día de la entrevista y llega unos 15 minutos antes, así evitarás llegar tarde y dar una mala imagen además de conseguir ponerte más nervioso.<br> Asegúrate del lugar, hora y nombre con quién vas a tener la entrevista.<br>Si no te dicen el nombre del entrevistador, pregunta a través de un email que podrás generar <b>aquí</b>.<br>A veces el lugar de la entrevista no es el mismo que el lugar de la empresa, si puedes acércate al sitio uno o dos días antes para veríficar la dirección, el tiempo que empleas en llegar hasta allí y si tienes donde aparcar fácilmente.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2 center">
                <button class="button-create-1" onclick="location.href= '@routes.OrientationController.travel()';"><font size="3">PLANIFICAR</font></button>
            </div>
        </div>
</section><br>
</div>
<section class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-finish-1" onclick="location.href='#';">FINALIZAR</button>
        </div>
    </div>
</section>
}