@(courses: List[models.entities.Course])
@main(){

<!--SEARCH-->
<section class="container" id="back_search">

    <div class="row">
        <div class="col-md-6" id="search_text">
            <h2>BUSCADOR:</h2>
        </div>
    </div>

    <form class="form-horizontal" action="@routes.CoursesController.blankFiltered()" method="post">
        <div class="row">

            <div class="col-xs-5 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <input type="text" class="form-control" id="word" name='keyword' placeholder="Palabra clave">
                    </div>
            </div>
            <div class="col-xs-5 col-md-4 col-md-offset-1">

                <div class="form-group">
                    <select  class="form-control" id="sector" name='sector'>
                        <option value="s0" disabled selected="">Sector</option>
                        <option value="Agricultura, Montes, Pesca, Minería">Agricultura, montes, pesca, minería</option>
                        <option value="Arte, Cultura, Sociedad">Arte, Cultura, Sociedad</option>
                        <option value="Atención al cliente">Atención al cliente</option>
                        <option value="Banca y Seguros">Banca y Seguros</option>
                        <option value="Bioquímica, Farmacia, Experimental">Bioquímica, Farmacia, Experimental</option>
                        <option value="Calidad">Calidad</option>
                        <option value="Comercial, Ventas">Comercial, Ventas</option>
                        <option value="Compras">Compras</option>
                        <option value="Comunicación, Medios, Periodismo">Comunicación, Medios, Periodismo</option>
                        <option value="Construcción, Arquitectura, Promoción e Inmobiliaria">Construcción, Arquitectura, Promoción e Inmobiliaria</option>
                        <option value="Consultoría">Consultoría</option>
                        <option value="Dirección, Gerencia">Dirección, Gerencia</option>
                        <option value="Diseño, Creatividad">Diseño, Creatividad</option>
                        <option value="Edición, Artes Gráficas, Documentación, Traducción">Edición, Artes Gráficas, Documentación, Traducción</option>
                        <option value="Educación, Formación">Educación, Formación</option>
                        <option value="Finanzas, Contabilidad, Auditoría">Finanzas, Contabilidad, Auditoría</option>
                        <option value="Hostelería, Turismo">Hostelería, Turismo</option>
                        <option value="I+D">I+D</option>
                        <option value="Informática">Informática</option>
                        <option value="Ingeniería, Fabricación, Producción">Ingeniería, Fabricación, Producción</option>
                        <option value="Internet">Internet</option>
                        <option value="Jurídico, Fiscal">Jurídico, Fiscal</option>
                        <option value="Limpieza Especializada, Saneamiento y Servicios Humanos">Limpieza Especializada, Saneamiento y Servicios Humanos</option>
                        <option value="Logística, Planificación, Transporte">Logística, Planificación, Transporte</option>
                        <option value="Mantenimiento, Instalación Reparación">Mantenimiento, Instalación Reparación</option>
                        <option value="Marketing, Publicidad">Marketing, Publicidad</option>
                        <option value="Medio Ambiente">Medio Ambiente</option>
                        <option value="Oficios">Oficios</option>
                        <option value="Prevención de riesgos laborales">Prevención de riesgos laborales</option>
                    <option value="Recursos humanos">Recursos humanos</option>
                    <option value="Sanidad y Salud">Sanidad y Salud</option>
                    <option value="Seguridad, Defensa">Seguridad, Defensa</option>
                    <option value="Servicios generales">Servicios generales</option>
                    <option value="Servicios sociales">Servicios sociales</option>
                    <option value="Telecomunicaciones">Telecomunicaciones</option>
                    <option value="Otros">Otros</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <select  class="form-control" id="province" name='province'>
                            <option value="s0" disabled selected="">Lugar</option>
                            <option value='Álava'>Álava</option>
                            <option value='Albacete'>Albacete</option>
                            <option value='Alicante/Alacant'>Alicante/Alacant</option>
                            <option value='Almería'>Almería</option>
                            <option value='Asturias'>Asturias</option>
                            <option value='Ávila'>Ávila</option>
                            <option value='Badajoz'>Badajoz</option>
                            <option value='Barcelona'>Barcelona</option>
                            <option value='Burgos'>Burgos</option>
                            <option value='Cáceres'>Cáceres</option>
                            <option value='Cádiz'>Cádiz</option>
                            <option value='Cantabria'>Cantabria</option>
                            <option value='Castellón/Castelló'>Castellón/Castelló</option>
                            <option value='Ceuta'>Ceuta</option>
                            <option value='Ciudad Real'>Ciudad Real</option>
                            <option value='Córdoba'>Córdoba</option>
                            <option value='Cuenca'>Cuenca</option>
                            <option value='Girona'>Girona</option>
                            <option value='Las Palmas'>Las Palmas</option>
                            <option value='Granada'>Granada</option>
                            <option value='Guadalajara'>Guadalajara</option>
                            <option value='Guipúzcoa'>Guipúzcoa</option>
                            <option value='Huelva'>Huelva</option>
                            <option value='Huesca'>Huesca</option>
                            <option value='Illes Balears'>Illes Balears</option>
                            <option value='Jaén'>Jaén</option>
                            <option value='A Coruña'>A Coruña</option>
                            <option value='La Rioja'>La Rioja</option>
                            <option value='León'>León</option>
                            <option value='Lleida'>Lleida</option>
                            <option value='Lugo'>Lugo</option>
                            <option value='Madrid'>Madrid</option>
                            <option value='Málaga'>Málaga</option>
                            <option value='Melilla'>Melilla</option>
                            <option value='Murcia'>Murcia</option>
                            <option value='Navarra'>Navarra</option>
                            <option value='Ourense'>Ourense</option>
                            <option value='Palencia'>Palencia</option>
                            <option value='Pontevedra'>Pontevedra</option>
                            <option value='Salamanca'>Salamanca</option>
                            <option value='Segovia'>Segovia</option>
                            <option value='Sevilla'>Sevilla</option>
                            <option value='Soria'>Soria</option>
                            <option value='Tarragona'>Tarragona</option>
                            <option value='Santa Cruz de Tenerife'>Santa Cruz de Tenerife</option>
                            <option value='Teruel'>Teruel</option>
                            <option value='Toledo'>Toledo</option>
                            <option value='Valencia/Valéncia'>Valencia/Valéncia</option>
                            <option value='Valladolid'>Valladolid</option>
                            <option value='Vizcaya'>Vizcaya</option>
                            <option value='Zamora'>Zamora</option>
                            <option value='Zaragoza'>Zaragoza</option>
                        </select>
                    </div>
            </div>

            <div class="col-xs-5 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <select  class="form-control" name="experience" id="experience">
                            <option value="s0" disabled selected="">Ordenar por</option>
                            <option value="s1"> Fecha de publicación más reciente</option>
                            <option value="s2"> Fecha límite de inscripción más reciente</option>
                        </select>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-2 col-sm-2 col-md-offset-1">
                    <div class="form-group">
                        <p class="form-control-static">Realizar online</p>
                    </div>
            </div>

            <div class="col-xs-4 col-md-4" id="radio_disability">
                    <div class="form-group">
                        <label class="radio-inline"><input type="checkbox" name='online'></label>
                    </div>
            </div>

            <div class="col-xs-4 col-md-4" id="search_button">
                    <div class="form-group">
                        <button type="submit" class="btn-img" ><img  src="@routes.Assets.at("images/list_courses/ic_buscar.png")"></button>
                    </div>
            </div>

        </div>
    </form>
</section>

<!--OFFERS-->
<article class="container" id="offers">

    <div class="row">
        <div class="col-md-offset-1 col-md-2 col-xs-2 col-xs-offset-1" id="date_offer">
            <h4>Inscripción hasta</h4>
        </div>
        <div class="col-md-6 col-xs-7" id="description_offer">
            <h4>Título</h4>
        </div>
        <div class="col-md-2 col-xs-2" id="location_offer">
            <h4>Lugar</h4>
        </div>
    </div>
</article>

<!--OFFERS-->
<article class="container" id="offer_item">
    @for(index <- 0 until courses.size){
    <div class="row">
        <div class="col-md-offset-1 col-md-2 col-xs-2 col-xs-offset-1" id="offer_item_date">
            <p class="form-control-static">@courses(index).getRegistrationLimit()</p>
        </div>
        <div class="col-md-6 col-xs-7"id="offer_item_description">
            <p class="form-control-static">@courses(index).getTitle()</p>
        </div>
        <div class="col-md-2 col-xs-2" id="offer_item_location">
            <p class="form-control-static">@courses(index).getLocation()</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-5  col-xs-offset-3 col-xs-5" id="offer_item_sector">
            <p class="form-control-static">Sector: @courses(index).getSector()</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-1  col-xs-offset-3 col-xs-2" id="offer_item_contract">
            <p class="form-control-static">@courses(index).getDuration().getLength()</p>
        </div>
        <div class="col-md-1 col-xs-1" id="space">
            <p class="form-control-static">|</p>
        </div>
        <div class="col-md-3"id="offer_item_time">
            <p class="form-control-static">Inicio: @courses(index).getDuration().getStart_date(). Fin: @courses(index).getDuration().getEnd_date()</p>
        </div>
        <div class="col-md-1 col-xs-1" id="space" >
            <p class="form-control-static">|</p>
        </div>
        <div class="col-md-2"id="offer_item_salary">
            <p class="form-control-static">@courses(index).getPrice()</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-1  col-xs-offset-3 col-xs-2" id="more_info">
            <a href="details_courses.html"> <img  src="@routes.Assets.at("images/list_courses/ic_masinformacion.png")"> </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-xs-10" id="barra_puntos">
        <img src="@routes.Assets.at("images/list_courses/ic_barralarga4pt.png")">
    </div>
</div>
}
</article>
<!--//OFERTA 1-->


<!-- POP UP WINDOW -->
<div id="accesibility_pop_up" class="mask_pop_up">
    <div class="box_pop_up resize">
        <a href="#close" title="Cerrar" class="close">X</a>

        <h2>¿Qué desea adaptar?</h2>
        <h3>Tamaño texto:</h3><br>
        <a href="#accesibility_pop_up" onClick="zoom_font('increase')">Aumentar tamaño</a><br>
        <a href="#accesibility_pop_up" onClick="zoom_font('reduce')">Reducir tamaño</a><br>
        <a href="#accesibility_pop_up" onClick="zoom_font('reset')">Reestablecer tamaño</a><br>

        <h3>Colores de texto y fondo</h3>
        <h3>...</h3>
    </div>
</div>
}