@main(){
<section class="container">
    <div class="row">


        <h2 class="red_adecco century_gothic">Cómo actuár en una entrevista</h2>
        <div class="brown_adecco arial size18">Durante la Entrevista</div><br>

            <div class="brown_adecco arial size14">



            Crea una buena impresión. Las primeras impresiones son de gran importancia. Muchos empresarios consideran que tras haber visto entrar por la puerta a un candidato, observar la forma de dar la mano y sentarse, son capaces de decidir sobre su valía:

                <ul><br>
            <li>Saluda al entrevistador con una fórmula convencional: Buenas tardes Sr. Ruiz</li>
            <li>Siéntate derecho/a, ni al borde de la silla (inseguridad), ni repantingado/a (falta de respeto)</li>
            <li>No seas el/la primero/a en extender la mano</li>
            <li>Saluda con un apretón de manos y sonríe, mirándole a los ojos</li>
            <li>No te sientes hasta que te lo digan</li>
            <li>No tutees si no te lo indican</li>
            <li>Estáte atento/a y simpático/a</li>
            <li>Evita ponerte nervioso/a y los gestos que lo indiquen como morderte las uñas, golpear con el boli en la mesa, agitarte en el asiento...</li>
            <li>No fumes</li>
            <li>No interrumpas</li>
            <li>Mira al entrevistador a los ojos, pero sin intimidar</li>
            <li>Deja que él tome la iniciativa</li>
            <li>No hables demasiado, ni demasiado poco</li>
            <li>Cuida tu lenguaje</li>
            <li>No peques de agresivo/a ni de sensiblón/a</li>
            <li>No te aproximes mucho a él</li>
            <li>No pongas los codos encima de la mesa del entrevistador</li>
            <li>No cruces los brazos, puede parecer que estás a la defensiva</li>
            <li>Si te ofrecen una bebida puedes aceptar pero, que no sea alcohólica</li>
            <li>Piensa antes de contestar</li>
            <li>Responde clara y brevemente</li>
            <li>Di siempre la verdad</li>
            <li>Si te preguntan sobre ti mismo/a, enfatiza tu formación, experiencia y resultado de tus trabajos</li>
            <li>No uses palabras rebuscadas</li>
            <li>No respondas con evasivas o dudas, ni con monosílabos</li>
            <li>No esperes demasiado tiempo para responder, podría parecer síntoma de distracción</li>
            <li>No utilices expresiones tajantes "siempre, nunca", ni utilices latiguillos "osea", "este", "bueno"...</li>
            <li>Muestra entusiasmo por el trabajo, pero no lo supliques</li>
            <li>No hables mal de las empresas en las que has trabajado</li>
            <li>No te niegues a responder preguntas</li>
            <li>Piensa positivamente</li>
            <li>No pidas el puesto como si fuera una limosna</li>
            <li>No digas que necesitas terriblemente el trabajo</li>
            <li>No critiques a pasados empresarios</li>
            <li>Haz preguntas, sobre las posibilidades de promoción, la empresa o el puesto de trabajo</li>
            <li>Expresa tu agradecimiento</li>
                </ul>

                </div>
            <div class="brown_adecco arial size18">
            Después de la Entrevista
                </div><br>
            <div class="brown_adecco arial size14">
                <ul>
            <li>Analiza los resultados, anota puntos fuertes y débiles...puede servirte para una segunda entrevista o para próximas entrevistas en otras empresas.</li>
                </ul>

        </div></br>
























        <div class="row">
            <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
                <a href="@routes.OrientationController.blank()">FINALIZAR</a>
            </div>
        </div>
</section>

}