@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Cómo actuar en una entrevista</h2>
        <div class="brown_adecco arial size14">
            <p>Crea una buena impresión. Las primeras impresiones son de gran importancia. Muchos empresarios consideran que tras ver entrar por la puerta a un candidato, observar la forma de dar la mano y sentarse, son capaces de decidir sobre su valía.</p>
            <p>A continuación te vamos a indicar una serie de pasos a tener en cuenta durante una entrevista.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos.
        </div>
    </div><br>
</article>

<section class="panel-group container back" id="accordion" style="margin-auto;">

    <!-- Collapse 1 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse"  href="#collapse1" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Durante la entrevista<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse1" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <ul class="panel-body" style="margin-left:2em;">
                <li>Saluda al entrevistador con una fórmula convencional: Buenas tardes Sr. Ruiz.</li>
                <li>Siéntate derecho/a, ni al borde de la silla (inseguridad), ni repantingado/a (falta de respeto).</li>
                <li>No seas el/la primero/a en extender la mano.</li>
                <li>Saluda con un apretón de manos y sonríe, mirándole a los ojos.</li>
                <li>No te sientes hasta que te lo digan.</li>
                <li>No tutees si no te lo indican.</li>
                <li>Estáte atento/a y simpático/a.</li>
                <li>Evita ponerte nervioso/a y los gestos que lo indiquen como morderte las uñas, golpear con el boli en la mesa, agitarte en el asiento, etcétera.</li>
                <li>No fumes.</li>
                <li>No interrumpas.</li>
                <li>Mira al entrevistador a los ojos, pero sin intimidar.</li>
                <li>Deja que él tome la iniciativa.</li>
                <li>No hables demasiado, ni demasiado poco.</li>
                <li>Cuida tu lenguaje.</li>
                <li>No peques de agresivo/a ni de sensiblón/a.</li>
                <li>No te aproximes mucho a él.</li>
                <li>No pongas los codos encima de la mesa del entrevistador.</li>
                <li>No cruces los brazos, puede parecer que estás a la defensiva.</li>
                <li>Si te ofrecen una bebida puedes aceptar pero, que no sea alcohólica.</li>
                <li>Piensa antes de contestar.</li>
                <li>Responde clara y brevemente.</li>
                <li>Di siempre la verdad.</li>
                <li>Si te preguntan sobre ti mismo/a, enfatiza tu formación, experiencia y resultado de tus trabajos.</li>
                <li>No uses palabras rebuscadas.</li>
                <li>No respondas con evasivas o dudas, ni con monosílabos.</li>
                <li>No esperes demasiado tiempo para responder, podría parecer síntoma de distracción.</li>
                <li>No utilices expresiones tajantes "siempre, nunca", ni utilices latiguillos "osea", "este", "bueno", etcétera.</li>
                <li>Muestra entusiasmo por el trabajo, pero no lo supliques.</li>
                <li>No hables mal de las empresas en las que has trabajado.</li>
                <li>No te niegues a responder preguntas.</li>
                <li>Piensa positivamente.</li>
                <li>No pidas el puesto como si fuera una limosna.</li>
                <li>No digas que necesitas terriblemente el trabajo.</li>
                <li>No critiques a pasados empresarios.</li>
                <li>Haz preguntas, sobre las posibilidades de promoción, la empresa o el puesto de trabajo.</li>
                <li>Expresa tu agradecimiento.</li>
             </ul>
        </div>
    </div>


    <!-- Collapse 2 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse2" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Después de la entrevista<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>

        <div id="collapse2" class="panel-collapse collapse collapse_background_color">
            <div class="panel-body arial size14 gray_adecco">
             <ul>
                <li>Analiza los resultados, anota tus puntos fuertes y débiles, etcétera. Esto puede servirte para una segunda entrevista o para próximas entrevistas en otras empresas.</li>
             </ul>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.blank()';">FINALIZAR</button>
        </div>
    </div>
</section>

<script type="text/javascript">
    window.onload = function(){
        autoChangeIcon();
    };
</script>
}