@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Busca nuevas y mejores ofertas</h2>
        <div class="brown_adecco arial size14">
            <p>Es importante que revises de manera habitual los diferentes sitios de busqueda de empleo.</p>
            <p>Estar informado de nuevas ofertas te permitirá encontrar mejores puestos de trabajo.</p>
            <p>Puedes volver a consultar el punto 2, el apartado "Formas de buscar empleo".</p>
            <p>No olvides tener el curriculum siempre actualizado. Recuerda que debes hacerlo en la web  y en formato papel.</p>
        </div><br><br>
        <div class="size16 gray_adecco arial">
            <p>Actividad: Revisa de manera habitual los diferentes sitios de busqueda de empleo y manten actualizado siempre tu curriculum.</p>
        </div>
    </div><br>
</article> 

<section class="container">
    <div class="back">
        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
            <a href="http://ofertas.adecco.es/candidato/ofertas/Ofertas.aspx?Accesible=false" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_adecco.png")"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
            <a href="https://ofertas.fundacionadecco.es/candidato/ofertas/ofertas.aspx" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_fundacionadecco.png")"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
            <a href="http://www.infoempleo.com/" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_infoempleo.png")"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
            <a href="https://www.google.es/" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_otros.png")"></a>
        </div>
        </div>
    </div>


</section>  



<section class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.submitBestDeals()';">FINALIZAR</button>
        </div>
    </div>
</section>  
}