@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Formas de buscar empleo</h2>
        <div class="brown_adecco arial size14">
            <p>Durante la búsqueda de empleo, tu objetivo es ponerte en contacto con el mayor número de empresas posible y convencerlos de tus capacidades.
            <p>Debes tener en cuenta que las empresas cubren la mayoría de sus vacantes a través del boca a boca y de autocandidaturas, y que sólo recurren a intermediarios o a anuncios cuando no encuentran candidatos a través de los otros canales.</p>
            <p>Las ofertas públicas (en periódicos, sitios web, agencias de colocación, etcétera.) reciben un gran número de respuestas, por lo que la competencia entre los candidatos es mayor.</p>
            <p>A continuación puedes ver los diferentes canales que puedes emplear para realizar una búsqueda de empleo eficiente.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los distintos canales de los que dispones para que puedas realizar una buena búsqueda de empleo.
        </div>
    </div><br>
</article>  <section class="panel-group container back" style="margin-auto;z-index:-1;">

    <!-- Collapse 1 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse1" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Autocandidatura<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse1" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">

                <p>Aunque se trata de una técnica más arriesgada en ocasiones puede ser efectiva.</p>
                <p>Consiste en presentarse, personalmente, por teléfono o enviando un currículum vitae (CV) y una carta de presentación a la empresa que te interese, con la ventaja de que tu escoges el momento y evitas posibles rivales en el proceso de selección.</p>

                <div class="row display_table">
                    <div class="col-md-2 col-sm-2 col-xs-2 gray_adecco bold size16 top_left_table_style">
                        Tipo de canal
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco bold size16 top_center_table_style">
                        Ventajas
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco bold size16 top_right_table_style">
                        Inconvenientes
                    </div>
                </div>


                <div class="row display_table row_top_margin">
                    <div class="col-md-2 col-sm-2 col-xs-2 gray_adecco size16 inside_left_table_style">
                        En persona
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco size16 inside_center_table_style">
                        <ul>
                            <li>Adecuado para personas no cualificadas o con pocas destrezas, y para empleos que impliquen contacto directo con clientes.</li>
                            <li>Solicitudes para puestos que requieren personas sociables.</li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco size16 inside_right_table_style">
                        <ul>
                            <li>Requiere autoconfianza.</li>
                            <li>Exige mucho tiempo.</li>
                            <li>Es posible que algunas empresas te rechacen si acudes sin previo aviso.</li>
                            <li>Puede suponer costes de transporte.</li>
                        </ul>
                    </div>
                </div>

                <div class="row display_table row_top_margin">
                    <div class="col-md-2 col-sm-2 col-xs-2 gray_adecco size16 inside_left_table_style">
                        Por teléfono
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco size16 inside_center_table_style">
                        <ul>
                            <li>Facilita el contacto con un gran número de empresas en poco tiempo.</li>
                            <li>Es más difícil que las empresas te ignoren, en comparación con una oferta escrita.</li>
                            <li>Resulta eficaz para muchos tipos de trabajo.</li>
                            <li>Es la forma más rápida de averiguar si hay vacantes en un trabajo particular.</li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco size16 inside_right_table_style">
                        <ul>
                            <li>Requiere muy buenas destrezas de comunicación por teléfono.</li>
                            <li>El lenguaje corporal no existe y no se pueden controlar todos los aspectos de la comunicación.</li>
                            <li>Cuentas con menos de un minuto para convencer al empleado de recursos humanos de que merece la pena que te conceda una entrevista.</li>

                        </ul>
                    </div>
                </div>


                <div class="row display_table row_top_margin">
                    <div class="col-md-2 col-sm-2 col-xs-2 gray_adecco size16 bottom_left_table_style">
                        Por email
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco size16 bottom_center_table_style">
                        <ul>
                            <li>Puedes demostrar tus cualificaciones, conocimientos, habilidades, competencias y aptitudes tanto en el CV como en la carta de presentación.</li>
                            <li>Es práctico y ahorra tiempo.</li>
                            <li>Mediante el envío de un email demuestras tu aptitud informática.</li>
                            <li>Es la forma más rápida y económica de contactar con una empresa.</li>
                            <li>Puedes adaptar fácilmente tus documentos y hacer tantas versiones como necesites.</li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 gray_adecco size16 bottom_right_table_style">
                        <ul>
                            <li>Si la oferta de empleo no ha sido anunciada, pocas empresas responden a las ofertas escritas (5-10%).</li>
                            <li>No resulta muy eficaz para los trabajos más demandados.</li>
                            <li>Requiere mucho tiempo de preparación del CV y de la carta de presentación.</li>
                            <li>Debes disponer de la dirección de correo electrónico de la persona indicada.</li>
                            <li>Resulta una pérdida de tiempo si el e-mail y sus documentos adjuntos (CV y carta de presentación) no están bien redactados</li>
                        </ul>
                    </div>
                </div>

                <p class="channels_height">Independientemente de la forma con la que te comuniques con la empresa, primero debes captar la atención de la persona a la que te dirijas hablando de lo que más te interesa de la empresa o de su producto, y a continuación presentarte como la persona con la formación y/o la experiencia que necesita la empresa.</p>
                <p>Para todas las formas de contacto mencionadas es necesario disponer de un CV y de una carta de presentación. Al reunirte con la empresa en persona, es aconsejable llevar contigo una tarjeta de presentación.</p>
            </div>
        </div>
    </div>

    <!-- Collapse 2 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse2" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Red de contactos<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse2" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>Una red de este tipo está formada por las personas que conoces y de las personas que ellas conocen. De esta manera, las personas se ayudan unas a otras en la búsqueda de empleo formando lo que se conoce como "red de contactos".</p>
                <p>La gran parte de empresas buscan a sus nuevos candidatos entre sus redes de contactos. Por lo que la mayoría de puestos vacantes no se anuncian, esto hace que el mercado de trabajo invisible sea grande.</p>
                <p>Además de estar buscando trabajo a través de internet, es recomendable que se lo digas a familiares y amigos para tener más posibilidades de encontrar empleo. Las empresas suelen apreciar el hecho de oír que existe un candidato adecuado (es decir, tú) de boca de una persona que te conozca y te recomiende.</p>
                <p>Por ello, te recomendamos tener una agenda que incluya aquellos contactos que puedan ofrecerte información sobre oportunidades profesionales.</p>
                <p>Ampliar tu red de contactos es un trabajo sistemático que es necesario realizar cuidadosamente y que se va ampliando a lo largo de nuestro desarrollo profesional.</p>
                <p>Los datos básicos que debes incluir son: nombres de personas, entidades y/o empresas, teléfonos y emails.</p>
            </div>
        </div>
    </div>

    <!-- Collapse 3 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse3" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Agencias de colocación<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse3" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>Las agencias de colocación (públicas y privadas) dan a conocer las ofertas de empleo que reciben de las empresas, recogen los CV de personas que buscan empleo y los envían a las empresas que puedan estar interesadas, o bien los guardan en su base de datos hasta que haya alguna vacante.</p>
                <p>Puedes inscribirte en cualquier momento, incluso si en ese momento no disponen de ninguna oferta de empleo que concuerde con tu perfil. En nuestro caso, Fundación Adecco es una agencia de colocación.</p>
            </div>
        </div>
    </div>
</section>  <section class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-finish-1" onclick="location.href='@routes.OrientationController.submitChannels()';">FINALIZAR</button>
        </div>
    </div>
</section>

<script type="text/javascript">
    window.onload = function(){
        autoChangeIcon();
    };
</script>
}