@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Formas de buscar empleo</h2>
        <div class="brown_adecco arial size14">
            <p>Durante la búsqueda de empleo, tu objetivo es ponerte en contacto con el mayor número de empresas posible y convencerlos de tus capacidades.
            <p>Debes tener en cuenta que las empresas cubren la mayoría de sus vacantes a través del boca a boca y de autocandidaturas, y que sólo recurren a intermediarios o a anuncios cuando no encuentran candidatos a través de los otros canales.</p>
            <p>Las ofertas públicas (en periódicos, sitios web, agencias de colocación, etcétera.) reciben un gran número de respuestas, por lo que la competencia entre los candidatos es mayor.</p>
            <p>A continuación puedes ver los diferentes canales que puedes emplear para realizar una búsqueda de empleo eficiente.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los distintos canales de los que dispones para que puedas realizar una buena búsqueda de empleo.
        </div>
    </div><br>
</article>
<section class="container back panel-group" id="accordion" style="margin-auto;">
    <!-- Collapse 1 -->
    <div class="row panel panel-default">
        <div class="col-md-12 col-sm-12 col-xs-12 panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;"><u>Autocandidatura</u></a>
        </div>
        <div id="collapse1" class="arial size14 gray_adecco panel-collapse collapse in">
            <div class="panel-body" style="margin-left:2em;">

                <p>Aunque se trata de una técnica más arriesgada a veces puede ser efectiva.</p>
                <p>Consiste en presentarse, personalmente, por teléfono, o enviando un currículum vitae y carta de presentación, a la empresa que te interese con la ventaja de que tu escoges el momento y evitas posibles rivales en el proceso de selección.</p>

                <div class="row" style="display:table;">
                    <div class="col-md-2 gray_adecco bold size16" style="background: rgba(171, 158, 121, 0.2); text-align:center; display:table-cell; float:none;">
                        Tipo de canal
                    </div>
                    <div class="col-md-5 gray_adecco bold size16" style="background: rgba(171, 158, 121, 0.2); text-align:center; display:table-cell; float:none;">
                        Ventajas
                    </div>
                    <div class="col-md-5 gray_adecco bold size16" style="background: rgba(171, 158, 121, 0.2); text-align:center; display:table-cell; float:none;">
                        Desventajas
                    </div>
                </div>


                <div class="row"  style="display:table;">
                    <div class="col-md-2" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        En  persona
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        <ul>
                            <li>Adecuado para personas no cualificadas o con pocas destrezas, y para empleos que impliquen contacto directo con clientes.</li>
                            <li>Solicitudes para puestos que requieren personas sociables.</li>
                        </ul>
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        <ul>
                            <li>Requiere autoconfianza.</li>
                            <li>Exige mucho tiempo.</li>
                            <li>Es posible que algunas empresas te rechacen si acudes sin previo aviso.</li>
                            <li>Puede suponer costes de transporte.</li>
                        </ul>
                    </div>
                </div>

                <div class="row" style="display:table;">
                    <div class="col-md-2" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        Por teléfono
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        <ul>
                            <li>Facilita el contacto con un gran número de empresas en poco tiempo.</li>
                            <li>Es más difícil que las empresas te ignoren, en comparación con una oferta escrita.</li>
                            <li>Resulta eficaz para muchos tipos de trabajo.</li>
                            <li>Es la forma más rápida de averiguar si hay vacantes en un trabajo particular.</li>
                        </ul>
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2);display:table-cell; float:none;">
                        <ul>
                            <li>Requiere muy buenas destrezas de comunicación por teléfono.</li>
                            <li>El lenguaje corporal no existe y no se pueden controlar todos los aspectos de la comunicación.</li>
                            <li>Cuentas con menos de un minuto para convencer al empleado de recursos humanos de que merece la pena que te conceda una entrevista.</li>

                        </ul>
                    </div>
                </div>


                <div class="row" style="display:table;">
                    <div class="col-md-2" style="background: rgba(171, 158, 121, 0.2);display:table-cell; float:none;">
                        Por escrito
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2);display:table-cell; float:none;">
                        <ul>
                            <li>Puedes demostrar tus cualificaciones, conocimientos, habilidades, competencias y aptitudes tanto en el CV como en la carta de presentación.</li>
                            <li>Puedes adaptar fácilmente tus documentos y hacer tantas versiones como necesites.</li>
                            <li>Es práctico y ahorra tiempo.</li>
                        </ul>
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2);display:table-cell; float:none;">
                        <ul>
                            <li>Si la oferta de empleo no ha sido anunciada, pocas empresas responden a las ofertas escritas (5-10%).</li>
                            <li>No resulta muy eficaz para los trabajos más demandados.</li>
                            <li>Requiere mucho tiempo de preparación del CV y de la carta de presentación.</li>
                        </ul>
                    </div>
                </div>

                <div class="row" style="display:table;">
                    <div class="col-md-2" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        Por Email
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        <ul>
                            <li>Mediante el envío de un e-mail demuestras tu aptitud informática.</li>
                            <li>Es la forma más rápida y económica de contactar con una empresa e incluye las ventajas de un documento escrito.</li>
                        </ul>
                    </div>
                    <div class="col-md-5" style="background: rgba(171, 158, 121, 0.2); display:table-cell; float:none;">
                        <ul>
                            <li>Debes disponer de la dirección de correo electrónico de la persona indicada.</li>
                            <li>Resulta una pérdida de tiempo si el e-mail y sus documentos adjuntos (CV y carta de presentación) no están bien redactados e incluye todas las desventajas de un documento escrito.</li>
                        </ul>
                    </div>
                </div>


                <p>Sea cual sea la forma en que te dirijas a la empresa, primero debes captar la atención de la persona a la que te dirijas hablando de lo que más te interesa de la empresa o de su producto, y a continuación presentarte como la persona con la formación o la experiencia que necesita la empresa.</p>
                <p>Para todas las formas de contacto mencionadas es necesario disponer de un CV y de una carta de presentación. Al reunirte con la empresa en persona, es aconsejable llevar contigo una tarjeta de presentación.</p>

            </div>

        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish col-md-offset-10">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
    </div>
</section>
}