@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Formas de buscar empleo</h2>
        <div class="brown_adecco arial size14">
            <p>Durante el proceso de búsqueda de empleo, tu objetivo es tener el máximo número de
                entrevistas laborales y tener la oportunidad de defender tus competencias profesionales
                y tu idoneidad para llevar a cabo la actividad para la que presentas tu candidatura.
            <p>Debes conocer todas las posibilidades que existen para buscar empleo y aprovecharlas para incrementar tus
            posibilidades de lograr un trabajo que responda a las expectativas que tienes puestas en este proceso.</p>
           <p>A continuación puedes ver los diferentes canales que puedes emplear para realizar una búsqueda de empleo eficiente.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los distintos canales de los que dispones para que puedas realizar una buena búsqueda de empleo.
        </div>
    </div><br>
</article>  <section class="panel-group container back" style="margin-auto;z-index:-1;">
    <!-- Collapse 1 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse1" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Internet.<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse1" class="arial size12 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>Se ha convertido en el canal estrella. Si no lo utilizamos, estamos fuera.
                    Hoy en día existen multitud de portales de empleo y páginas webs especializadas, donde
                    puedes registrarte y gestionar tu búsqueda de trabajo. La ventaja es que podrás
                    hacerlo de una manera ordenada, ya que la mayoría de estos portales te envían
                    automáticamente las ofertas que encajan con tu perfil y puedes consultar el
                    estado de tu candidatura. Los más conocidos son Infojobs, Infoempleo, Monster,Laboris, Job & Talent y Trabajos.com.</p>
            </div>
        </div>
    </div>

    <!-- Collapse 2 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse2" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Redes sociales.<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse2" class="arial size12 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>Linkedin y Twitter son las plataformas por excelencia. Ambas te permitirán
                    contactar con muchas personas que pueden ayudarte y construir toda una
                    comunidad en torno a la búsqueda de empleo. En otro apartado explicaremos
                    más en detalle su funcionamiento</p>
            </div>
        </div>
    </div>


    <!-- Collapse 3 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse3" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Autocandidatura.<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse3" class="arial size12 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">

                <p>Si la montaña no va a Mahoma, Mahoma va a la montaña. Extrapolado a la
                    búsqueda de empleo, hemos de identificar en qué empresas nos gustaría trabajar
                    y acudir a ellas de manera proactiva y directa. Podemos entregar el currículum en
                    mano (aunque la mayoría de los casos acabará en manos del vigilante de seguridad),
                    u otra opción (la que yo te recomiendo) es acudir a la web corporativa de la empresa.
                    Muchas tienen secciones de Trabaja con nosotros o bien te
                    facilitan un teléfono de contacto o e mail a quien puedes dirigirte. Cuando
                    realizamos autocandidaturas nos adelantamos a las necesidades de la empresa y
                    mostramos un interés personal en la misma, lo cual es muy positivo.
                    No obstante,también recibiremos muchos “NO” por respuesta, lo cual es muy lógico y no debe desanimarnos.</p>
                <section class="container-fluid arial size12 gray_adecco">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Tipo de canal</th>
                                    <th style="vertical-align: middle;">Ventajas</th>
                                    <th style="vertical-align: middle;">Inconvenientes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: middle;">En persona</td>
                                    <td style="vertical-align: middle;">
                                        <li>Adecuado para personas no cualificadas o con pocas destrezas, y para empleos que impliquen contacto directo con clientes.</li>
                                        <li>Solicitudes para puestos que requieren personas sociables.</li>
                                    </td>
                                    <td style="vertical-align: middle;font-weight: normal;">
                                        <li>Requiere autoconfianza.</li>
                                        <li>Exige mucho tiempo.</li>
                                        <li>Es posible que algunas empresas te rechacen si acudes sin previo aviso.</li>
                                        <li>Puede suponer costes de transporte.</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">Por teléfono</td>
                                    <td style="vertical-align: middle;">
                                        <li>Facilita el contacto con un gran número de empresas en poco tiempo.</li>
                                        <li>Es más difícil que las empresas te ignoren, en comparación con una oferta escrita.</li>
                                        <li>Resulta eficaz para muchos tipos de trabajo.</li>
                                        <li>Es la forma más rápida de averiguar si hay vacantes en un trabajo particular.</li>
                                    </td>
                                    <td style="vertical-align: middle;font-weight: normal;">
                                        <li>Requiere muy buenas destrezas de comunicación por teléfono.</li>
                                        <li>El lenguaje corporal no existe y no se pueden controlar todos los aspectos de la comunicación.</li>
                                        <li>Cuentas con menos de un minuto para convencer al empleado de recursos humanos de que merece la pena que te conceda una entrevista.</li>


                                    </td>


                                </tr>


                                <tr>
                                    <td style="vertical-align: middle;">Por email</td>
                                    <td style="vertical-align: middle;">
                                        <li>Puedes demostrar tus cualificaciones, conocimientos, habilidades, competencias y aptitudes tanto en el CV como en la carta de presentación.</li>
                                        <li>Es práctico y ahorra tiempo.</li>
                                        <li>Mediante el envío de un email demuestras tu aptitud informática.</li>
                                        <li>Es la forma más rápida y económica de contactar con una empresa.</li>
                                        <li>Puedes adaptar fácilmente tus documentos y hacer tantas versiones como necesites.</li>
                                    </td>
                                    <td style="vertical-align: middle;font-weight: normal;">
                                        <li>Si la oferta de empleo no ha sido anunciada, pocas empresas responden a las ofertas escritas (5-10%).</li>
                                        <li>No resulta muy eficaz para los trabajos más demandados.</li>
                                        <li>Requiere mucho tiempo de preparación del CV y de la carta de presentación.</li>
                                        <li>Debes disponer de la dirección de correo electrónico de la persona indicada.</li>
                                        <li>Resulta una pérdida de tiempo si el e-mail y sus documentos adjuntos (CV y carta de presentación) no están bien redactados</li>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <p class="channels_height">Independientemente de la forma con la que te comuniques con la empresa, primero debes captar la atención de la persona a la que te dirijas hablando de lo que más te interesa de la empresa o de su producto, y a continuación presentarte como la persona con la formación y/o la experiencia que necesita la empresa.</p>
                <p>Para todas las formas de contacto mencionadas es necesario disponer de un CV y de una carta de presentación. Al reunirte con la empresa en persona, es aconsejable llevar contigo una tarjeta de presentación.</p>
            </div>
        </div>
    </div>

    <!-- Collapse 4 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse4" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Red de contactos.<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse4" class="arial size12 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>Aunque Internet mueve el mundo, la parte humana es fundamental. Cuanta más
                    gente sepa que buscamos empleo, más posibilidades tenemos de que alguien se
                    acuerde de nosotros en el momento preciso: familiares, amigos, vecinos,
                    conocidos, ex compañeros de trabajo, incluso nuestro peluquero… ¡nunca se sabe dónde está la oportunidad!</p>
                <p>En el momento de abordar la búsqueda de empleo, es muy útil anotar en nuestra agenda aquéllas
                    personas de nuestra red que, por su situación personal o profesional, pueden ayudarnos a encontrar empleo.</p>
                <p>Ampliar tu red de contactos es un trabajo sistemático que es necesario realizar cuidadosamente y que se va ampliando a lo largo de nuestro desarrollo profesional.</p>
            </div>
        </div>
    </div>

    <!-- Collapse 5 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse5" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Organismos oficiales.<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse5" class="arial size12 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>El SEPE es el principal mediador de empleo público, actuando muchas veces
                    como portal de empleo. Sin embargo, muchas Comunidades Autónomas cuentan
                    con su propio organismo intermediario. Infórmate y no dudes en inscribirte, pues
                    en ocasiones, se valora la antigüedad de demanda en el SEPE para optar a ciertos puestos.</p>
            </div>
        </div>
    </div>

    <!-- Collapse 6 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse6" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Ferias de empleo, desayunos,eventos.<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse6" class="arial size12 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>Habitualmente se celebran encuentros que ponen en contacto a las empresas con
                    los demandantes de empleo. ¡No los desaproveches! En ellos podrás presentarte
                    ante muchos empleadores y también conocer nuevas empresas, ofertas y
                    opciones laborales que desconocías.</p>
                <p>También existen otro tipo de encuentros que, aunque no aborden específicamente
                    el empleo, pueden ayudarte a conocer gente y ampliar tu red de contactos. Te
                    recomiendo que te marques como objetivo acudir a todos los eventos que puedas, al menos a uno cada 2 semanas.</p>
            </div>
        </div>
    </div>



    <!-- Collapse 7 -->
    <div class="panel panel-default panel-group-background">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse7" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;">Agencias de colocación o fundaciones.<img class="ic_more_info" src="@routes.Assets.at("images/orientation/ic_leermas.png")"></a>
        </div>
        <div id="collapse7" class="arial size12 gray_adecco panel-collapse collapse collapse_background_color">
            <div class="panel-body" style="margin-left:2em;">
                <p>Existen empresas, entidades especializadas en la búsqueda de empleo que
                    ofrecen gratuitamente orientación y asesoramiento, además de ayudarte a
                    detectar ofertas adecuadas a tu perfil.
                    Las agencias de colocación (públicas y privadas) dan a conocer las ofertas de
                    empleo que reciben de las empresas, recogen los CV de personas que buscan
                    empleo y los envían a las empresas que puedan estar interesadas, o bien los
                    guardan en su base de datos hasta que haya alguna vacante.
                    Adecco y su Fundación cuentan con una amplia trayectoria en atención e
                    integración laboral de demandantes de empleo, no dudes en inscribirte a sus
                    portales de empleo y acceder a todas las ofertas disponibles.</p>
                <p>Puedes inscribirte en cualquier momento, incluso si en ese momento no disponen
                    de ninguna oferta de empleo que concuerde con tu perfil.</p>
            </div>
        </div>
    </div>



</section>

<section class="container">

    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4 center">
            <button class="button-return-1" onclick="location.href='/orientation#point2';">VOLVER</button>
            <button class="button-finish-1" onclick="location.href='@routes.OrientationController.submitChannels()';">FINALIZAR</button>
        </div>
    </div>
</section>

<script type="text/javascript">
    window.onload = function(){
        autoChangeIcon();
    };
</script>
}