@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Debes conocer tu situación actual</h2>
        <div class="brown_adecco arial size14">
            <p>Lo primero que nos debes facilitar es en qué situación te encuentras actualmente.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            <p>Actividad: Debes seleccionar cual es tu nivel de estudios y completar tu experiencia profesional si la tuvieras.</p>
        </div>
    </div><br>
</article>        

<section class="container back" style="margin: auto;">
    <div class="row orientation-points">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="century_gothic gray_adecco size22 bold" style="margin-left:1em;">¿Cuál es tu nivel de estudios?</p> <br>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-sm-6 col-xs-6">
            <p>
                <input type="checkbox" id="check1" name="study" onclick="enable_cb(this)">
                <label for="check1" class="size14 gray_adecco arial steps_height">No tengo estudios. </label>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <p>
                <input type="checkbox" id="check2" name="study" onclick="enable_cb(this)">
                <label for="check2" class="size14 gray_adecco arial steps_height">Grado. </label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-sm-6 col-xs-6">
            <p>
                <input type="checkbox" id="check3" name="study" onclick="enable_cb(this)">
                <label for="check3" class="size14 gray_adecco arial steps_height">PCPI / Garantía social. </label>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <p>
                <input type="checkbox" id="check4" name="study" onclick="enable_cb(this)">
                <label for="check4" class="size14 gray_adecco arial steps_height">Licenciado / Arquitecto / Ingeniero. </label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-sm-6 col-xs-6">
            <p>
                <input type="checkbox" id="check5" name="study" onclick="enable_cb(this)">
                <label for="check5" class="size14 gray_adecco arial steps_height">Certificado de escolaridad / Graduado en ESO. </label>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <p>
                <input type="checkbox" id="check6" name="study" onclick="enable_cb(this)">
                <label for="check6" class="size14 gray_adecco arial steps_height">Título propio / Carrera no homolagada. </label>
            </p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-sm-6 col-xs-6">
            <p>
                <input type="checkbox" id="check7" name="study" onclick="enable_cb(this)">
                <label for="check7" class="size14 gray_adecco arial steps_height">BUP / Bachillerato / COU. </label>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <p>
                <input type="checkbox" id="check8" name="study" onclick="enable_cb(this)">
                <label for="check8" class="size14 gray_adecco arial steps_height">Máster / Título propio de postgrado. </label>
            </p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-sm-6 col-xs-6">
            <p>
                <input type="checkbox" id="check9" name="study" onclick="enable_cb(this)">
                <label for="check9" class="size14 gray_adecco arial steps_height">FP 1 / Técnico medio. </label>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <p>
                <input type="checkbox" id="check10" name="study" onclick="enable_cb(this)">
                <label for="check10" class="size14 gray_adecco arial steps_height">Doctorado. </label>
            </p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-sm-6 col-xs-6">
            <p>
                <input type="checkbox" id="check11" name="study" onclick="enable_cb(this)">
                <label for="check11" class="size14 gray_adecco arial steps_height">FP 2 / Técnico superior. </label>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <p>
                <input type="checkbox" id="check12" name="study" onclick="enable_cb(this)">
                <label for="check12" class="size14 gray_adecco arial steps_height">Oposiciones. </label>
            </p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-6 col-md-offset-1  col-xs-offset-1 col-sm-offset-1 col-sm-6 col-xs-6">
            <p>
                <input type="checkbox" id="check13" name="study" onclick="enable_cb(this)">
                <label for="check13" class="size14 gray_adecco arial steps_height">Diplomado / Arquitecto técnico / Ingeniero técnico. </label>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <p>
                <input type="checkbox" id="check14" name="study" onclick="enable_cb(this)">
                <label for="check14" class="size14 gray_adecco arial steps_height">Otros Cursos. </label>
            </p>
        </div>
    </div>    
    </div>
    <div class="row orientation-points">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <p class="century_gothic gray_adecco size22 bold advices_height" style="margin-left:1em;">¿Cuál es tu experiencia profesional?</p> <br>
   </div>
    <div class="row" style="margin-left:-2em;">
        <div class="col-md-3  col-sm-2 col-md-offset-1">
            <input type="text" class="form-control" id="company" placeholder="Empresa">
        </div>
        <div class="col-md-3  col-sm-5 col-md-offset-3">
            <input type="text" class="form-control" id="office" placeholder="Puesto">
        </div>
    </div>
    <div class="row" style="margin-left:-2em;">
        <div class="col-md-3 col-md-offset-1">
            <select  class="form-control" name="experience" id="experience">
                        <option value="s0" disabled selected="">Años de experiencia</option>
                        <option value="s1"> Prácticas</option>
                        <option value="s1"> Menos de un año</option>
                        <option value="s2"> 1-3 años</option>
                        <option value="s3"> 3-5 años</option>
                        <option value="s4"> +5 años</option>
                        <option value="s6"> +10 años</option>
            </select>
        </div>
        <div class="col-md-2" style=" margin-left:23em; ">
            <a href="#"> <img  src="@routes.Assets.at("images/orientation/ic_añadirexperiencia.png")"> </a>
        </div>
    </div>   
    </div>  
</section>

<section class="container">
    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish col-md-offset-10">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
     </div>
</section>
}




