@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Debes conocer tu situación actual</h2>
        <div class="brown_adecco arial size14">
            <p>Lo primero que nos debes facilitar es en qué situación te encuentras actualmente. Para ello:</p>

        </div></br>


    
    
        
   
    <p class="col-md-12 arial gray_adecco size22 bold">¿Cuál es tu nivel de estudios?</p>
    
    <div class="row">
        <div class="col-md-4 ">
            <form class="form-horizontal">
                <div class="form-group" id="level_studies_group">
                    <select  class="form-control" id="level_studies" name="level_studies">
                        <option value="0" disabled selected="">Nivel de estudios</option>
                        <option value="1">No tengo estudios</option>
                        <option value="2">PCPI / Garantía social</option>
                        <option value="3">Graduado escolar</option>
                        <option value="4">Certificado de escolaridad o de la ESO</option>
                        <option value="5">BUP, Bachillerato y COU</option>
                        <option value="6">Enseñanzas de régimen especial</option>
                        <option value="7">Graduado en ESO</option>
                        <option value="8">FP 1/ Técnico medio</option>
                        <option value="9">FP 2/ Técnico superior</option>
                        <option value="10">Diplomado, Ing. Técnico, Arquitecto técnico</option>
                        <option value="11">Grado</option>
                        <option value="12">Licenciado, Ingeniero, Arquitecto</option>
                        <option value="13">Título Propio/ Carrera no homologada</option>
                        <option value="14">Máster/ Título Propio de Postgrado</option>
                        <option value="15">Doctorado</option>
                        <option value="16">Otros cursos</option>
                        <option value="17">Oposiciones</option></br>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <p class="col-md-12 arial gray_adecco size22 bold advices_height">¿Cuál es tu experiencia profesional?</p>


    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience_group">
                    <input type="text" class="form-control" id="company" placeholder="Empresa" >
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience_group_2">
                    <input type="text" class="form-control" id="office" placeholder="Puesto">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience_group_2">
                    <select  class="form-control" name="experience" id="experience">
                        <option value="s0" disabled selected="">Años de experiencia</option>
                        <option value="s1"> Prácticas</option>
                        <option value="s1"> Menos de un año</option>
                        <option value="s2"> 1-3 años</option>
                        <option value="s3"> 3-5 años</option>
                        <option value="s4"> +5 años</option>
                        <option value="s6"> +10 años</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    </div>
    
    

    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
    </div>
</article>

}