@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Planifica tus próximas entrevistas</h2>
        <div class="brown_adecco arial size14">
            <p>Desde Fundación Adecco queremos ayudarte a planificar tus entrevistas para que consigas pasar con éxito éstas. La entrevista es uno de los puntos más importantes de la búsqueda de empleo por eso debes planificarla al detalle.</p>
            <p>La empresa que te vaya a entrevistar te dirá cuando será la entrevista y tu debes ponerlo a continuación. Esto te ayudará a planificarte tanto a corto como a largo plazo gracias a los consejos y notificaciones que Fundación Adecco te enviará.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad:Añade todas las entrevistas que tengas para que Fundación Adecco pueda mandarte consejos y notificaciones unos días antes.
        </div><br>
    </div>
</article>

<section class="panel-group container back" style="margin-auto;">
    <div class="row" style="margin-left:6em;">
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience_group_1">
                   
                  
                  

                  <input placeholder="Fecha" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                </div>
            </form>
        </div>

        <div class="col-md-4 col-md-offset-2">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience" >
                  
                  <input placeholder="Hora 00.00h" class="form-control" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" id="time"> 
                  

                </div>
            </form>
        </div>
    </div>
<div class="row" style="margin-left:6em;">
        
        
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience_group_3">
                <input type="text" class="form-control" placeholder="Empresa" >  
                </div>
            </form>
        </div>

        <div class="col-md-4 col-md-offset-2">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience_group_3">
                 <input type="text" class="form-control" placeholder="Dirección" >   
                </div>
            </form>
        </div>

</div>

<div class="row" style="margin-left:13em;">
        
 
        <div class="col-md-5 col-sm-8 col-xs-8 col-md-offset-8 col-sm-offset-8 col-xs-offset-8">
            <form class="form-horizontal">
                <div class="form-group" id="job_experience_group_3">
                 <a href="#"><img  src="@routes.Assets.at("images/orientation/ic_newinterview.png")"> </a> 
                </div>
            </form>
        </div>

</div>




   
</section>




<section class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.blank()';">FINALIZAR</button>
        </div>
    </div>
</section>



}