@main(){
<section class="container-fluid size_font" id="gettools_banner">
    <div class="row">
        <div class="col-md-6 size_font" id="banner_text">
            Es importante contar con unas buenas herramientas de búsqueda. Fundación Adecco te ayudará, guiándote paso a paso, a generar estos documentos. Posteriormente, podrás personalizarlos y editarlos para adaptarlos todavía más a ti. Estos documentos harán que te diferencies de los demás candidatos.

        </div>
        <div class="brown_adecco arial size14">

        </div>
    </div>
</section>
<div class="container">
 <section>
    <div class="row">
        <div class="col-md-12">
            <h2 class="red_adecco century_gothic">Genera tus documentos personalizados</h2>
            </br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-title">Curriculum Vitae</h2>
            <div class="brown_adecco arial size14">
                <p>El currículum vítae, también conocido como CV por sus siglas, es un resumen de todo el historial educativo y laboral de una persona así como una herramienta que describe al individuo en el que se suelen mencionar sus datos personales, sus pasiones, habilidades, aficiones, logros, premios y todo tipo de información que pudiera llegar a interesar a sus potenciales empleadores. En otras palabras, se trata de una herramienta que sirve para promocionarse y llamar la atención de aquellos que buscan contratar nuevos empleados para un determinado puesto laboral.</p>
                <p>A continuación podrás obtener tu Curriculum Vitae personalizado para posteriormente editarlo y enviarlo adaptado a cada puesto de trabajo que vayas a solicitar.</p>
            </div></br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-create-1" onclick="location.href= '@routes.StashController.cv1()';">CREAR</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-title" >Carta de presentación</h2>
                <div class="brown_adecco arial size14">
                    <p>La carta de presentación es uno de los documentos que se suelen utilizar en el proceso de búsqueda de empleo. Es un escrito en el que se señala nuestra disposición a trabajar en una empresa. La carta de presentación pretende atraer la atención del responsable de selección de personal de manera que nos tenga en consideración como candidato a cubrir un puesto de trabajo. El objetivo de la carta de presentación<br>es doble: por un lado, pretende aumentar el interés de quien va a recibir tu candidatura, de manera que lea tu Curriculum Vitae con la atención que merece y por otro lado ponga en relieve los datos específicos de tu Curriculum Vitae, que hacen de tí la persona idónea para ese puesto.</p>
                </div>
        </div>
        <!--
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <a href="#"> <img  src="@routes.Assets.at("images/orientation/ic_create.png")"> </a>
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-create-1" onclick="location.href= '@routes.StashController.lp1()';">CREAR</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-title">Correo de contacto</h2>
            <div class="brown_adecco arial size14">
                <p>Por útlimo, y con el fin de cuidar todos los detalles, es importante que si tienes que ponerte en contacto con la empresa lo hagas de una manera correcta y adecuada. Sea cual sea el motivo de ponerte en contacto con la empresa puedes generar un ejemplo a continuación:</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-create-1" onclick="location.href= '#';">CREAR</button>
        </div>
    </div>
</section><br>
</div>
<section class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-finish-1" onclick="location.href='@routes.OrientationController.submitGetTools()';">FINALIZAR</button>
        </div>
    </div>
</section>
}