@main(){
<section class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Genera tus documentos personalizados</h2>
        <div class="brown_adecco arial size14">
            <p>texto</p>

        </div></br>
    </div>























        <div class="row">
            <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
                <a href="@routes.OrientationController.blank()">FINALIZAR</a>
            </div>
        </div>
</section>

}