@main(){
<section class="container">
    <div class="row">


            <h2 class="red_adecco century_gothic">Identificar tus intereses</h2>
        <div class="brown_adecco arial size14">
            <p>Debes conocer tus intereses para construir tu carrera en función de tus intereses.</p>
            <p>Tus intereses son todo aquello que te gusta hacer, puede tratarse de una actividad física, intelectual,
                creativa o otras actividades. Los intereses determinan las elecciones profesionales.</p>
            <p>Los intereses, al igual que los valores, son algo muy subjetivo, es decir, depende de cada persona. A
                unos les gusta manejar instrumentos o maquinaria, otros prefieren actividades que impliquen ayudar a
                los demás, habrá quien prefiera dedicarse a actividades artísticas y a quien le guste trabajar con datos
                y archivos.</p>
            <p>Como ves, hay mucha diversidad de intereses. Se trata de que identifiques cuáles son los tuyos.</p>
            <p>Esta lista de campos nos permitirá orientarte en los campos que selecciones que sean de tu interés:</p>
        </div></br>


    <div class="row">
        <div class="col-md-12 ">
            <p class="brown_adecco arial size12">Seleccione como máximo 5.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 arial size18">
            <input type="checkbox" name="profession" value="1"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Agricultura, Montes, Pesca, Mineria</span><br>
            <input type="checkbox" name="profession" value="2"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Arte, Cultura, Sociedad</span><br>
            <input type="checkbox" name="profession" value="3"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Atención al cliente</span><br>
            <input type="checkbox" name="profession" value="4"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Banca y Seguros</span><br>
            <input type="checkbox" name="profession" value="5"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Bioquímica, Farmacia, Experimental</span><br>
            <input type="checkbox" name="profession" value="6"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Calidad</span><br>
            <input type="checkbox" name="profession" value="7"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Comercial, Ventas</span><br>
            <input type="checkbox" name="profession" value="8"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Compras</span><br>
            <input type="checkbox" name="profession" value="9"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Comunicación, Medios, Periodismo</span><br>
            <input type="checkbox" name="profession" value="10"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Construcción, Arquitectura, Promoción e Inmobiliaria</span><br>
            <input type="checkbox" name="profession" value="11"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Consultoría</span><br>
            <input type="checkbox" name="profession" value="12"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Dirección, Gerencia</span><br>
            <input type="checkbox" name="profession" value="13"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Diseño, Creatividad</span><br>
            <input type="checkbox" name="profession" value="14"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Edición, Artes gráficas, Documentación, Traducción</span><br>
            <input type="checkbox" name="profession" value="15"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Educación, Formación</span><br>
            <input type="checkbox" name="profession" value="16"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Finanzas, Contabilidad, Auditoría</span><br>
            <input type="checkbox" name="profession" value="17"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Hostelería, Turismo</span><br>
            <input type="checkbox" name="profession" value="18"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> I+D</span>
        </div>

        <div class="col-md-5 arial size18">
            <input class="radio-normal" type="radio" id="radio-normal_14" name="group_14" value="normal">
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Informática</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Ingeniería, Fabricación, Producción</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Internet</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Jurídico, Fiscal</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Limpieza especializada, Saneamiento y Servicios urbanos</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Logística, Planificación, Transporte</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Mantenimiento, Instalación, Reparación</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Marketing, Publicidad</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Medio ambiente</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Oficios</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em"  class="gray_adecco arial size18"> Prevención de riesgos laborales</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Recursos humanos</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Sanidad y Salud</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Seguridad y Defensa</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Servicios generales</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Servicios sociales</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Telecomunicaciones</span><br>
            <input type="checkbox" name="profession" value="normal"  onclick="enable_cb(this)"><span style="margin-left: 1em" class="gray_adecco arial size18"> Otros</span><br>
        </div>
    </div>

    <div class="row">
         <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
             <a href="@routes.OrientationController.blank()">FINALIZAR</a>
         </div>
     </div>
</section>

}