@main(){
<section class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Identificar tus intereses</h2>
        <div class="brown_adecco arial size14">
            <p>Debes conocer tus intereses para construir tu carrera en función de tus intereses.</p>
            <p>Tus intereses son todo aquello que te gusta hacer, puede tratarse de una actividad física, intelectual,
                creativa o otras actividades. Los intereses determinan las elecciones profesionales.</p>
            <p>Los intereses, al igual que los valores, son algo muy subjetivo, es decir, depende de cada persona. A
                unos les gusta manejar instrumentos o maquinaria, otros prefieren actividades que impliquen ayudar a
                los demás, habrá quien prefiera dedicarse a actividades artísticas y a quien le guste trabajar con datos
                y archivos.</p>
            <p>Como ves, hay mucha diversidad de intereses. Se trata de que identifiques cuáles son los tuyos.</p>
            <p>Esta lista de campos nos permitirá orientarte en los campos que selecciones que sean de tu interés:</p>
        </div></br>

        <div class="row">
            <div class="col-md-12 ">
                <p class="brown_adecco arial size12">Seleccione como máximo 5.</p>
            </div>
        </div>
    </div>
</section>

<section class="container">

    <div class="row orientation-points back">

        <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check1" name="profession" onclick="enable_cb(this)">
                <label for="check1" class="size14 brown_adecco arial steps_height">Agricultura, Montes, Pesca, Mineria</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check2" name="profession" onclick="enable_cb(this)">
                <label for="check2" class="size14 brown_adecco arial steps_height">Arte, Cultura, Sociedad </label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check3" name="profession" onclick="enable_cb(this)">
                <label for="check3" class="size14 brown_adecco arial steps_height">Atención al cliente</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check4" name="profession" onclick="enable_cb(this)">
                <label for="check4" class="size14 brown_adecco arial steps_height">Banca y Seguros</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check5" name="profession" onclick="enable_cb(this)">
                <label for="check5" class="size14 brown_adecco arial steps_height">Bioquímica, Farmacia, Experimental</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check6" name="profession" onclick="enable_cb(this)">
                <label for="check6" class="size14 brown_adecco arial steps_height">Calidad</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check7" name="profession" onclick="enable_cb(this)">
                <label for="check7" class="size14 brown_adecco arial steps_height">Comercial, Ventas</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check8" name="profession" onclick="enable_cb(this)">
                <label for="check8" class="size14 brown_adecco arial steps_height">Compras</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check9" name="profession" onclick="enable_cb(this)">
                <label for="check9" class="size14 brown_adecco arial steps_height">Comunicación, Medios, Periodismo</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check10" name="profession" onclick="enable_cb(this)">
                <label for="check10" class="size14 brown_adecco arial steps_height">Construcción, Arquitectura, Promoción e Inmobiliaria</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check11" name="profession" onclick="enable_cb(this)">
                <label for="check11" class="size14 brown_adecco arial steps_height">Consultoría</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check12" name="profession" onclick="enable_cb(this)">
                <label for="check12" class="size14 brown_adecco arial steps_height">Dirección, Gerencia</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check13" name="profession" onclick="enable_cb(this)">
                <label for="check13" class="size14 brown_adecco arial steps_height">Diseño, Creatividad</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check14" name="profession" onclick="enable_cb(this)">
                <label for="check14" class="size14 brown_adecco arial steps_height">Edición, Artes gráficas, Documentación, Traducción</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check15" name="profession" onclick="enable_cb(this)">
                <label for="check15" class="size14 brown_adecco arial steps_height">Educación, Formación</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check16" name="profession" onclick="enable_cb(this)">
                <label for="check16" class="size14 brown_adecco arial steps_height">Finanzas, Contabilidad, Auditoría</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check17" name="profession" onclick="enable_cb(this)">
                <label for="check17" class="size14 brown_adecco arial steps_height">Hostelería, Turismo</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check18" name="profession" onclick="enable_cb(this)">
                <label for="check18" class="size14 brown_adecco arial steps_height">I+D</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check19" name="profession" onclick="enable_cb(this)">
                <label for="check19" class="size14 brown_adecco arial steps_height">Informática</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check20" name="profession" onclick="enable_cb(this)">
                <label for="check20" class="size14 brown_adecco arial steps_height">Ingeniería, Fabricación, Producción</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check21" name="profession" onclick="enable_cb(this)">
                <label for="check21" class="size14 brown_adecco arial steps_height">Internet</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check22" name="profession" onclick="enable_cb(this)">
                <label for="check22" class="size14 brown_adecco arial steps_height">Jurídico, Fiscal</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check23" name="profession" onclick="enable_cb(this)">
                <label for="check23" class="size14 brown_adecco arial steps_height">Limpieza especializada, Saneamiento y Servicios urbanos</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check24" name="profession" onclick="enable_cb(this)">
                <label for="check24" class="size14 brown_adecco arial steps_height">Logística, Planificación, Transporte</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check25" name="profession" onclick="enable_cb(this)">
                <label for="check25" class="size14 brown_adecco arial steps_height">Mantenimiento, Instalación, Reparación</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check26" name="profession" onclick="enable_cb(this)">
                <label for="check26" class="size14 brown_adecco arial steps_height">Marketing, Publicidad</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check27" name="profession" onclick="enable_cb(this)">
                <label for="check27" class="size14 brown_adecco arial steps_height">Medio ambiente</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check28" name="profession" onclick="enable_cb(this)">
                <label for="check28" class="size14 brown_adecco arial steps_height">Oficios</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check29" name="profession" onclick="enable_cb(this)">
                <label for="check29" class="size14 brown_adecco arial steps_height">Prevención de riesgos laborales</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check30" name="profession" onclick="enable_cb(this)">
                <label for="check30" class="size14 brown_adecco arial steps_height">Recursos humanos</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check31" name="profession" onclick="enable_cb(this)">
                <label for="check31" class="size14 brown_adecco arial steps_height">Sanidad y Salud</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check32" name="profession" onclick="enable_cb(this)">
                <label for="check32" class="size14 brown_adecco arial steps_height">Seguridad y Defensa</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check33" name="profession" onclick="enable_cb(this)">
                <label for="check33" class="size14 brown_adecco arial steps_height">Servicios generales</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check34" name="profession" onclick="enable_cb(this)">
                <label for="check34" class="size14 brown_adecco arial steps_height">Servicios sociales</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>
                <input type="checkbox" id="check35" name="profession" onclick="enable_cb(this)">
                <label for="check35" class="size14 brown_adecco arial steps_height">Telecomunicaciones</label>
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <input type="checkbox" id="check36" name="profession" onclick="enable_cb(this)">
                <label for="check36" class="size14 brown_adecco arial steps_height">Otros</label>
            </p>
        </div>
    </div>    
    </div>
<div class="row">
            <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
                <a href="#">FINALIZAR</a>
            </div>
        </div>
</section>












}