@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Mejora tu nivel de idiomas</h2>
        <div class="brown_adecco arial size14">
            <p>Los idiomas se han vuelto un factor completamente imprescindible en nuestro aprendizaje.</p>
            <p>Es un hecho: en un mundo cada vez más competitivo, cuantas más lenguas conozcas, más posibilidades tendrás de acceder a un puesto de trabajo.</p>



        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos.
        </div>
    </div><br>
</article>

<section class="container back">
    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="century_gothic size22 bold gray_adecco" style="margin-left:1em;">Consejos</p>
            <div class="arial size14 gray_adecco">
                <ul style="margin-left:2em;">
                    <li>Consejo 1: <p class="arial size12 gray_adecco" style="margin-left:1em;">Texto</p></li>

                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish col-md-offset-10">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
    </div>
</section>
}


