@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Mejora tu nivel de idiomas</h2>
        <div class="brown_adecco arial size14">
            <p>Los idiomas se han vuelto un factor completamente imprescindible en nuestro aprendizaje.</p>
            <p>Es un hecho: en un mundo cada vez más competitivo, cuantas más lenguas conozcas, más posibilidades tendrás de acceder a un puesto de trabajo.</p>



        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos.
        </div>
    </div><br>
</article>     

<section class="container">
    <div class="back">
        <p class="century_gothic size22 bold gray_adecco">Consejos</p>
        <div class="arial size14 gray_adecco">
            <ul>
                    <li>Escucha conversaciones:<p class="arial size12 gray_adecco" >Escuchar idiomas hablados por un nativo es una de las maneras más rápidas de mejorar el nivel de conversación. También te ayuda a escuchar el flujo del idioma y aprender cómo los nativos conectan las palabras y las frases. No te frustres si no puedes entender todo al principio. Tómate el tiempo para entender y practicar, repitiendo las diferentes conversaciones que escuchas. Tu comprensión y la expresión oral se incrementarán drásticamente. Mira películas o programas de televisión con actores que hablen el idioma de manera nativa.</p></li>
                    <li>Separa tiempo para practicar:<p class="arial size12 gray_adecco">Tómate tiempo cada día para practicar hablar otro idioma. Reúnete con amigos que también sepan idiomas o habla con ellos a través de videollamada o encuentra un tutor de conversación privado para ayudarte. Trata de no planificar tus conversaciones con antelación, porque aprender a pensar y hablar sobre la marcha es un paso crítico para ser más fluido. </p></li>
                    <li>Aprende de tus errores:<p class="arial size12 gray_adecco">Al practicar tus habilidades en otros idiomas, no tengas miedo de cometer errores. Sólo habla y exprésate de una manera que tenga sentido para ti. Cuando practicas, pídele a un amigo que sea fluido en ese idioma o que sea nativo que señale tus errores. Pídeles que te digan cómo corregir tus errores, y aplica esta información a tus futuras conversaciones. </p></li>
                    <li>Lee en otro idiomas:<p class="arial size12 gray_adecco">Lee artículos de noticias o libros en otros idiomas. La lectura te introducirá el nuevo vocabulario y te dará una idea de cómo van bien juntas las palabras. Lee las frases y párrafos en voz alta para escuchar el sonido de las palabras que ves en el papel. Si la lectura es una práctica nueva para ti, comienza por leer artículos sobre temas que te son familiares para ayudar a tu comprensión de lectura. </p></li>
                    <li>Practica pronunciación:<p class="arial size12 gray_adecco">Pronunciar correctamente las palabras ayudará a que otros te entiendan mejor cuando hablas. Si te encuentras con una palabra difícil, búscala en un diccionario en línea. Estos diccionarios tienen una clave de pronunciación que puedes escuchar. Trata de imitar la pronunciación que escuchas. Grábate hablando para escuchar tu progreso.</p></li>


                    <li>Comprueba tu nivel<a href="http://www.cambridgeinstitute.net/es/?option=com_ariquizlite&task=question&ticketId=6daf46fd12df78b7dc3b7daa59caac8d&t=uv_54f9c27fad4b5&Itemid=141 "><img id="ic_more_info1" src="@routes.Assets.at("images/orientation/test.png")"></a></li>
            </ul>
        </div>
    </div>

</section>

<section class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.blank()';">FINALIZAR</button>
        </div>
    </div>
</section>

<script>
    $('.panel-heading a').click(function() {
    if($(this).children('img').attr('src') == '@routes.Assets.at("images/orientation/ic_leermas.png")'){
        $(this).children('img').attr('src', '@routes.Assets.at("images/orientation/ic_leermenos.png")');
    }else{

        $('.ic_more_info').attr('src', '@routes.Assets.at("images/orientation/ic_leermenos.png")');
        $(this).children('img').attr('src', '@routes.Assets.at("images/orientation/ic_leermas.png")');
    }
 });
</script>


}


