@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Mejora tu nivel de idiomas</h2>
        <div class="brown_adecco arial size14">
            <p>Los idiomas se han vuelto un factor completamente imprescindible en nuestro aprendizaje.</p>
            <p>Es un hecho: en un mundo cada vez más competitivo, cuantas más lenguas conozcas, más posibilidades tendrás de acceder a un puesto de trabajo.</p>



        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos.
        </div>
    </div><br>
</article>     

<section class="container">
    <div class="back">
        <p class="century_gothic size22 bold gray_adecco">Consejos</p>
        <div class="arial size14 gray_adecco">
            <ul>
                    <li>Escucha conversaciones.</li>
                    <li>Invierte tiempo en practicar.</li>
                    <li>No tengas miedo de cometer errores gramaticales o imprecisiones en las expresiones utilizadas.</li>
                    <li>Lee en otro idiomas.</li>
                    <li>Practica pronunciación.</li>
                    <li>Comprueba tu nivel:</li>

                <a href="http://www.cambridgeinstitute.net/es/?option=com_ariquizlite&task=question&ticketId=6daf46fd12df78b7dc3b7daa59caac8d&t=uv_54f9c27fad4b5&Itemid=141 "><img class="img-responsive2 center-block" id="ic_more_info1" src="@routes.Assets.at("images/orientation/test.png")"></a>
            </ul>
        </div>
    </div>

</section>

<section class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4 center">
            <button class="button-return-1" onclick="location.href='/orientation#point5';">VOLVER</button>
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.submitLevel()';">FINALIZAR</button>
        </div>
    </div>
</section>
}


