@main() {

	<section class="container-fluid size_font" id="orientation_banner">
		<div class="row">
			<div class="col-md-6 size_font" id="banner_text">
				<p>Desde <b>Fundación Adecco</b> queremos guiarte en el proceso de búsqueda de empleo. Para ello te detallamos los pasos a seguir desde el inicio hasta el fin.<br>Todas las etapas son importantes y completarlas todas hará que obtengas resultados positivos.</p>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row">
			<div class="col-md-1 col-sm-1 col-xs-2" id="img_numbers_bar">
				<img src="@routes.Assets.at("images/orientation/numbers_bar.png")">
			</div>

			<div class="col-md-7 col-sm-8 col-xs-9 century_gothic" id="text_numbers_bar">
			<p class="size25 red_adecco century_gothic" id="space_0">Punto de partida</p>
			<p>
				<input type="checkbox" id="check1">
				<label for="check1" class="size14 brown_adecco arial steps_height"> Debes conocer tu situación actual. </label>
			</p>
			<p>
				<input type="checkbox" id="check2">
				<label for="check2" class="size14 brown_adecco arial steps_height"> <a href="@routes.OrientationController.skills()">Reconocer tus aptitudes.</a> </label>
			</p>
			<p>	
				<input type="checkbox" id="check3">
				<label for="check3" class="size14 brown_adecco arial steps_height"> Identificar tus intereses. </label>
			</p>	

			<p class="size25 red_adecco century_gothic" id="space_1">Planifícate</p>
			<p>
				<input type="checkbox" id="check4">
				<label for="check4" class="size14 brown_adecco arial steps_height"> Pon fecha límite a cada una de las fases. </label>
			</p>
			<p>
				<input type="checkbox" id="check5">
				<label for="check5" class="size14 brown_adecco arial steps_height"> Hazte una fotografía. </label>
			</p>

			<p class="size25 red_adecco century_gothic" id="space_2">Prepárate</p>
			<p>
				<input type="checkbox" id="check6">
				<label for="check6" class="size14 brown_adecco arial steps_height"> Conocer que herramientas vas a necesitar. </label>
			</p>
			<p>
				<input type="checkbox" id="check7">
				<label for="check7" class="size14 brown_adecco arial steps_height"> Obtener tus herramientas personalizadas. </label>
			</p>
			<p>
				<input type="checkbox" id="check8">
				<label for="check8" class="size14 brown_adecco arial steps_height"> Tu reputación en las redes sociales. </label>
			</p>
			<p>
				<input type="checkbox" id="check9">
				<label for="check9" class="size14 brown_adecco arial steps_height"> Tu red de contactos. </label>
			</p>

			<p class="size25 red_adecco century_gothic" id="space_3">Proceso de selección</p>
			<p>
				<input type="checkbox" id="check10">
				<label for="check10" class="size14 brown_adecco arial steps_height"> Tipos de entrevista. </label>
			</p>
			<p>
				<input type="checkbox" id="check11">
				<label for="check11" class="size14 brown_adecco arial steps_height"> Cómo preparar una entrevista. </label>
			</p>
			<p>
				<input type="checkbox" id="check12">
				<label for="check12" class="size14 brown_adecco arial steps_height"> Cómo actúar en una entrevista. </label>
			</p>

			<p class="size25 red_adecco century_gothic" id="space_4">Progresa profesionalmente</p>
			<p>
				<input type="checkbox" id="check13">
				<label for="check13" class="size14 brown_adecco arial steps_height"> Mejora tu nivel de idiomas. </label>
			</p>
			<p>
				<input type="checkbox" id="check14">
				<label for="check14" class="size14 brown_adecco arial steps_height"> Realiza cursos que te especialicen. </label>
			</p>
			<p>
				<input type="checkbox" id="check15">
				<label for="check15" class="size14 brown_adecco arial steps_height"> Búsqueda de nuevas y mejores ofertas. </label>
			</p>
			</div>

			<div class="col-md-3 col-sm-1 col-xs-1 century_gothic" id="back_advices">
				<img src="@routes.Assets.at("images/orientation/Pagina-consejos.png")">
			</div>
		</div>
	</section>
}