@(user: models.entities.User)

@main() {

<section class="container-fluid size_font" id="orientation_banner">
    <div class="row">
        <div class="col-md-6 size_font" id="banner_text">
            <p>Desde <b>Fundación Adecco</b> queremos guiarte en el proceso de búsqueda de empleo. Para ello te detallamos los pasos a seguir desde el inicio hasta el fin.<br>Todas las etapas son importantes y completarlas todas hará que obtengas resultados positivos.</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row orientation-points">
        <div class="col-md-1 col-sm-1 hidden-xs" id="img_numbers_bar">
            <img src="@routes.Assets.at("images/orientation/numbers_bar.png")">
        </div>

        <div class="col-md-7 col-sm-7 century_gothic" id="text_numbers_bar">
            <!-- Punto 1 -->
            <p class="size25 red_adecco century_gothic" id="space_1">Conocete a ti mismo</p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getCurrentSituation() == "true"){
                    <input type="checkbox" id="check1" onclick="return false" checked="true">
                }else{
                    <input type="checkbox" id="check1" onclick="return false">
                }
                <label for="check1" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.currentsituation()">Conoce tu situación actual</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getSkills() == "true"){
                    <input type="checkbox" id="check2" onclick="return false" checked="true">
                }else{
                    <input type="checkbox" id="check2" onclick="return false">
                }
                <label for="check2" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.skills()">Conoce tus habilidades</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getInterestIdentification() == "true"){
                    <input type="checkbox" id="check3" onclick="return false" checked="true">
                }else{
                    <input type="checkbox" id="check3" onclick="return false">
                }
                <label for="check3" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.interestidentification()">Identifica tus intereses</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getPersonal() == "true"){
                <input type="checkbox" id="check4" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check4" onclick="return false">
                }
                <label for="check4" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.personal()">Características personales</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getProfessional() == "true"){
                <input type="checkbox" id="check5" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check5" onclick="return false">
                }
                <label for="check5" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.professional()">Valores profesionales</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getPhoto() == "true"){
                <input type="checkbox" id="check6" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check6" onclick="return false">
                }
                <label for="check6" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.photo()">Hazte una foto</a></label>
            </p>

            <!-- Punto 2 -->
            <p class="size25 red_adecco century_gothic" id="space_2">Prepárate para buscar empleo</p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getChannels() == "true"){
                <input type="checkbox" id="check7" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check7" onclick="return false">
                }
                <label for="check7" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.channels()">Formas de buscar empleo</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getLearnTools() == "true"){
                <input type="checkbox" id="check8" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check8" onclick="return false">
                }
                <label for="check8" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.learntools()">Documentos necesarios para la búsqueda de empleo</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getGetTools() == "true"){
                <input type="checkbox" id="check9" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check9" onclick="return false">
                }
                <label for="check9" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.gettools()">Genera tus documentos personalizados</a></label>
            </p>

            <!-- Punto 3 -->
            <p class="size25 red_adecco century_gothic" id="space_3">Proceso de selección</p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getTInterview() == "true"){
                <input type="checkbox" id="check10" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check10" onclick="return false">
                }
                <label for="check10" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.tinterview()">Tipos de entrevista</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getPInterview() == "true"){
                <input type="checkbox" id="check11" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check11" onclick="return false">
                }
                <label for="check11" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.pinterview()">Cómo preparar una entrevista</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getActInterview() == "true"){
                <input type="checkbox" id="check12" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check12" onclick="return false">
                }
                <label for="check12" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.actinterview()">Cómo actuar en una entrevista</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getQuestionsInterview() == "true"){
                <input type="checkbox" id="check13" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check13" onclick="return false">
                }
                <label for="check13" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.questionsinterview()">Posibles preguntas en una entrevista</a></label>
            </p>

            <!-- Punto 4 -->
            <p class="size25 red_adecco century_gothic" id="space_4">Planifícate</p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getDeadLine() == "true"){
                <input type="checkbox" id="check14" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check14" onclick="return false">
                }
                <label for="check14" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.deadline()">Planifica tus próximas entrevistas</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getTravel() == "true"){
                <input type="checkbox" id="check15" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check15" onclick="return false">
                }
                <label for="check15" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.travel()">Cómo llegar al lugar de la entrevista</a></label>
            </p>

            <!-- Punto 5 -->
            <p class="size25 red_adecco century_gothic" id="space_5">Mejora profesionalmente</p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getSpecialization() == "true"){
                <input type="checkbox" id="check16" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check16" onclick="return false">
                }
                <label for="check16" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.specialization()">Realiza cursos para especializarte</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getBestDeals() == "true"){
                <input type="checkbox" id="check17" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check17" onclick="return false">
                }
                <label for="check17" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.bestdeals()">Busca nuevas y mejores ofertas</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getLevel() == "true"){
                <input type="checkbox" id="check18" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check18" onclick="return false">
                }
                <label for="check18" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.level()">Mejora tu nivel de idiomas</a></label>
            </p>
            <p>
                @if(user != null && user.getCompletedOrientationSteps().getReputation() == "true"){
                <input type="checkbox" id="check19" onclick="return false" checked="true">
                }else{
                <input type="checkbox" id="check19" onclick="return false">
                }
                <label for="check19" class="size14 brown_adecco arial steps_height"><a href="@routes.OrientationController.reputation()">Cuida tu presencia en las redes sociales</a></label>
            </p>
        </div>

        <div class="col-md-3 col-sm-3 center" id="back_advices">
            <img src="@routes.Assets.at("images/orientation/Pagina-consejos.png")">
        </div>
    </div>
</section>
}