@main() {

	<section class="container-fluid size_font" id="orientation_banner">
		<div class="row">
			<div class="col-md-6 size_font" id="banner_text">
				<p>Desde <b>Fundación Adecco</b> queremos guiarte en el proceso de búsqueda de empleo. Para ello te detallamos los pasos a seguir desde el inicio hasta el fin.<br>Todas las etapas son importantes y completarlas todas hará que obtengas resultados positivos.</p>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row">
			<div class="col-md-1" id="img_numbers_bar">
				<img src="@routes.Assets.at("images/orientation/numbers_bar.png")">
			</div>

			<div class="col-md-7 century_gothic" id="text_numbers_bar">
				<p class="size18 red_adecco">Punto de partida</p>
				<p class="size14 gray_adecco steps_height">Debes conocer tu situación actual.</p>
				<p class="size14 gray_adecco steps_height">Reconocer tus aptitudes.</p>
				<p class="size14 gray_adecco steps_height">Identificar tus intereses.</p>

				<p class="size18 red_adecco" id="space_1">Planifícate</p>
				<p class="size14 gray_adecco steps_height">Pon fecha límite a cada una de las fases.</p>
				<p class="size14 gray_adecco steps_height">Hazte una fotografía.</p>

				<p class="size18 red_adecco" id="space_2">Prepárate</p>
				<p class="size14 gray_adecco steps_height">Conocer que herramientas vas a necesitar.</p>
				<p class="size14 gray_adecco steps_height">Obtener tus herramientas personalizadas.</p>
				<p class="size14 gray_adecco steps_height">Tu reputación en las redes sociales.</p>
				<p class="size14 gray_adecco steps_height">Tu red de contactos.</p>

				<p class="size18 red_adecco" id="space_3">Proceso de selección</p>
				<p class="size14 gray_adecco steps_height">Tipos de entrevista.</p>
				<p class="size14 gray_adecco steps_height">Cómo preparar una entrevista.</p>
				<p class="size14 gray_adecco steps_height">Cómo actúar en una entrevista.</p>

				<p class="size18 red_adecco" id="space_4">Progresa profesionalmente</p>
				<p class="size14 gray_adecco steps_height">Mejora tu nivel de idiomas.</p>
				<p class="size14 gray_adecco steps_height">Realiza cursos que te especialicen.</p>
				<p class="size14 gray_adecco steps_height">Búsqueda de nuevas y mejores ofertas.</p>
			</div>

			<div class="col-md-3 century_gothic" id="back_advices">
				<p class="size18">Consejos</p>
				<p class="size14">El momento es AHORA.<p>
				<p class="size14 advices_height">No dejes para mañana lo que puedes hacer hoy.</p>
				<p class="size14 advices_height">Aprovecha siempre la oportunidad de presentarte.</p>
				<p class="size14 advices_height">Cuida tus perfiles en redes sociales.</p>
				<p class="size14 advices_height">Amplia tu red de contactos.</p>
			</div>
		</div>
	</section>
}