@main() {

<section class="container">
        <h2 class="red_adecco century_gothic">Características personales</h2>
        <div class="brown_adecco arial size14">
            <p>Las empresas necesitan trabajadores productivos que contribuyan a crear un buen ambiente laboral y sean capaces de solucionar problemas. Suelen buscar personas honestas, positivas, flexibles, leales, y dispuestas a mejorar su formación.</p>
            <p>Aquí tienes una serie de características personales con las que te puedes identificar (elige las 5 con las que más te identifiques):</p>
            <p><span class="red_adecco">Recomendación:</span> Elige aquellas cualidades en las que, en una escala de 0 a 10, consideres que está por encima de 5. De éstas, piensa en cuáles valdrían la pena incluir en una carta de presentación, o exponer en una entrevista de trabajo.</p>
        </div></br>
</section>

<section class="container orientation-points">
    <div class="row back">
        <div class="col-md-offset-1 col-md-3">
            <p>
                <input type="checkbox" id="check1" name="personal" onclick="enable_cb(this)">
                <label for="check1" class="size14 brown_adecco arial steps_height">Trabajador</label>
            </p>
            <p>
                <input type="checkbox" id="check2" name="personal" onclick="enable_cb(this)">
                <label for="check2" class="size14 brown_adecco arial steps_height">Ambicioso</label>
            </p>
            <p>
                <input type="checkbox" id="check3"  name="personal" onclick="enable_cb(this)">
                <label for="check3" class="size14 brown_adecco arial steps_height">Extrovertido</label>
            </p>
            <p>
                <input type="checkbox" id="check4" name="personal" onclick="enable_cb(this)">
                <label for="check4" class="size14 brown_adecco arial steps_height">Hablador</label>
            </p>
            <p>
                <input type="checkbox" id="check5" name="personal" onclick="enable_cb(this)">
                <label for="check5" class="size14 brown_adecco arial steps_height">Comprensivo</label>
            </p>
            <p>
                <input type="checkbox" id="check6"  name="personal" onclick="enable_cb(this)">
                <label for="check6" class="size14 brown_adecco arial steps_height">Idealista</label>
            </p>
            <p>
                <input type="checkbox" id="check7" name="personal" onclick="enable_cb(this)">
                <label for="check7" class="size14 brown_adecco arial steps_height">Tranquilo</label>
            </p>
            <p>
                <input type="checkbox" id="check8" name="personal" onclick="enable_cb(this)">
                <label for="check8" class="size14 brown_adecco arial steps_height">Cuidadoso</label>
            </p>
        </div>

        <div class="col-md-offset-1 col-md-3">
            <p>
                <input type="checkbox" id="check9" name="personal" onclick="enable_cb(this)">
                <label for="check9" class="size14 brown_adecco arial steps_height">Creativo</label>
            </p>
            <p>
                <input type="checkbox" id="check10" name="personal" onclick="enable_cb(this)">
                <label for="check10" class="size14 brown_adecco arial steps_height">Digno de confianza</label>
            </p>
            <p>
                <input type="checkbox" id="check11"  name="personal" onclick="enable_cb(this)">
                <label for="check11" class="size14 brown_adecco arial steps_height">Entusiasta</label>
            </p>
            <p>
                <input type="checkbox" id="check12" name="personal" onclick="enable_cb(this)">
                <label for="check12" class="size14 brown_adecco arial steps_height">Responsable</label>
            </p>
            <p>
                <input type="checkbox" id="check13" name="personal" onclick="enable_cb(this)">
                <label for="check13" class="size14 brown_adecco arial steps_height">Honesto</label>
            </p>
            <p>
                <input type="checkbox" id="check14"  name="personal" onclick="enable_cb(this)">
                <label for="check14" class="size14 brown_adecco arial steps_height">Productivo</label>
            </p>
            <p>
                <input type="checkbox" id="check15" name="personal" onclick="enable_cb(this)">
                <label for="check15" class="size14 brown_adecco arial steps_height">Amable</label>
            </p>
            <p>
                <input type="checkbox" id="check16" name="personal" onclick="enable_cb(this)">
                <label for="check16" class="size14 brown_adecco arial steps_height">Reflexivo</label>
            </p>
        </div>

        <div class="col-md-offset-1 col-md-3">
            <p>
                <input type="checkbox" id="check17" name="personal" onclick="enable_cb(this)">
                <label for="check17" class="size14 brown_adecco arial steps_height">Formal</label>
            </p>
            <p>
                <input type="checkbox" id="check18" name="personal" onclick="enable_cb(this)">
                <label for="check18" class="size14 brown_adecco arial steps_height">Optimista</label>
            </p>
            <p>
                <input type="checkbox" id="check19"  name="personal" onclick="enable_cb(this)">
                <label for="check19" class="size14 brown_adecco arial steps_height">Flexible</label>
            </p>
            <p>
                <input type="checkbox" id="check20" name="personal" onclick="enable_cb(this)">
                <label for="check20" class="size14 brown_adecco arial steps_height">Racional</label>
            </p>
            <p>
                <input type="checkbox" id="check21" name="personal" onclick="enable_cb(this)">
                <label for="check21" class="size14 brown_adecco arial steps_height">Dispuesto a aprender</label>
            </p>
            <p>
                <input type="checkbox" id="check22"  name="personal" onclick="enable_cb(this)">
                <label for="check22" class="size14 brown_adecco arial steps_height">Observador</label>
            </p>
            <p>
                <input type="checkbox" id="check23" name="personal" onclick="enable_cb(this)">
                <label for="check23" class="size14 brown_adecco arial steps_height">Educado</label>
            </p>
            <p>
                <input type="checkbox" id="check24" name="personal" onclick="enable_cb(this)">
                <label for="check24" class="size14 brown_adecco arial steps_height">Competitivo</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
            <a href="#">FINALIZAR</a>
        </div>
    </div>
</section>

















}