@main(){
<section class="container">
    <div class="row">


        <h2 class="red_adecco century_gothic">Cómo preparar una entrevista</h2>
        <div class="brown_adecco arial size18">
            <p>Antes de la Entrevista</p>
        <div class="brown_adecco arial size14">
            <ul>
            <li>Conoce todo lo que puedas de la empresa</li>
            <li>Estudia tus aptitudes, tu experiencia y tu formación</li>
            <li>Lleva el currículum y conócelo perfectamente, ya que se basarán en él</li>
            <li>Hazte una relación de tus puntos débiles y prepara argumentos para defenderlos</li>
            <li>Si te citan por escrito, lo correcto es que llames para confirmar tu asistencia</li>
            <li>No acudas con gafas oscuras</li>
            <li>Comprueba tu apariencia (evita ropa llamativa; bien vestido/a, limpio/a y afeitado)</li>
            <li>Ve solo/a</li>
            <li>Llega pronto (5 minutos antes)</li>
            <li>Prepara la entrevista, el seleccionador va a hacerlo también</li>
            </ul>

        </div></br>


        <div class="row">
            <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
                <a href="@routes.OrientationController.blank()">FINALIZAR</a>
            </div>
        </div>
</section>

}