@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Cómo preparar una entrevista</h2>
        <div class="brown_adecco arial size14">
            <p>A continuación te vamos a indicar una serie de pasos a realizar antes de asistir a una entrevista.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos.
        </div>
    </div><br>
</article>

<section class="container">
    <div class="back">
        <p class="century_gothic size22 bold gray_adecco">Antes de la entrevista</p>
        <div class="panel-body arial size14 gray_adecco">
            <ul>
                <li>Busca información sobre la empresa. Es importante conocerla lo mejor posible.</li>
                <li>Estudia tus aptitudes, tu experiencia y tu formación para poder hablar de ellas con seguridad.</li>
                <li>Haz una lista de tus puntos débiles y prepara argumentos para defenderlos. Lo mismo con tus puntos fuertes.</li>
                <li>Si te citan por escrito, lo correcto es que llames para confirmar tu asistencia.</li>
                <li>Prepara la entrevista, el seleccionador va a hacer lo mismo.</li>

             </ul>
        </div>

        <p class="century_gothic size22 bold gray_adecco">Consejos específicos para personas con discapacidad</p>
        <div class="panel-body arial size14 gray_adecco">
            <ul>

                <li>Haz una lista de ventajas o puntos fuertes que te aporta el hecho de tener una
                    discapacidad y que puedas aplicar a tu puesto de trabajo
                    (i.e. habilidad para afrontar situaciones complicadas y buscar soluciones).</li>

                <li>Piensa si necesitarías algún tipo de adaptaciones para el puesto y cuáles serían.</li>

                <li>Piensa en ventajas o puntos fuertes que te aporta el hecho de tener una discapacidad y que puedas aplicar a tu puesto de trabajo (i.e. habilidad para afrontar situaciones complicadas y buscar soluciones).</li>
                <li>Estar mentalizado por si los entrevistadores muestran una reacción inicial negativa o de sorpresa. Estar preparado para los posibles prejuicios que tengan, desafortunadamente es una cosa habitual y no te tiene que desanimar.</li>


            </ul>
        </div>

    </div>
</section><br>

<section class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4 center">
            <button class="button-return-1" onclick="location.href='/orientation#point3';">VOLVER</button>
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.submitPinterview()';">FINALIZAR</button>
        </div>
    </div>
</section>
}