@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Cómo preparar una entrevista</h2>
        <div class="brown_adecco arial size14">
            <p>A continuación te vamos a indicar una serie de pasos a realizar antes de asistir a una entrevista.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos.
        </div>
    </div><br>
</article>

<section class="container back">
    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="century_gothic size22 bold gray_adecco" style="margin-left:1em;">Antes de la entrevista</p>
            <div class="arial size14 gray_adecco">
                <ul style="margin-left:2em;">
                    <li>Conoce todo lo que puedas de la empresa.</li>
                    <li>Estudia tus aptitudes, tu experiencia y tu formación.</li>
                    <li>Lleva el currículum y conócelo perfectamente, ya que se basarán en él.</li>
                    <li>Hazte una relación de tus puntos débiles y prepara argumentos para defenderlos.</li>
                    <li>Si te citan por escrito, lo correcto es que llames para confirmar tu asistencia.</li>
                    <li>No acudas con gafas oscuras.</li>
                    <li>Comprueba tu apariencia (evita ropa llamativa; bien vestido/a, limpio/a y afeitado).</li>
                    <li>Ve solo/a.</li>
                    <li>Llega pronto (5 minutos antes).</li>
                    <li>Prepara la entrevista, el seleccionador va a hacerlo también.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish col-md-offset-10">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
    </div>
</section>
}