@main() {

<section class="container">



    <div class="container">
        <h2 class="red_adecco century_gothic">Valores profesionales</h2>
        <div class="brown_adecco arial size14">
            <p> Conoce tus valores profesionales para determinar qué aspectos prefieres de un puesto de trabajo.</p>
            <p>Los valores profesionales contribuyen a nuestro bienestar personal, y son muy subjetivos, tus valores pueden ser distintos a los de tu pareja, tus padres o tus amigos.</p>
            <p>Sin embargo, la vida también implica adaptarse y buscar soluciones intermedias y, por ello, tendrás que decidir lo que más te conviene: estar sin trabajo, o hacer ciertas concesiones dejando a un lado algunos de tus valores profesionales.</p>
            <br><p>Aquí tienes una tabla de valores que te puede ayudar a definir cuáles son los tuyos:</p>
            <p>Escoge los 5 valores profesionales más importantes que debería tener el puesto de trabajo y la empresa en que te gustaría trabajar:</p>
    </div></br>


        <table class="table">

            <tbody>
            <tr>
                <td style="vertical-align: middle;">Honesto</td>
                <td style="vertical-align: middle;">Ambicioso</td>
                <td style="vertical-align: middle;">Extrovertido</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Hablador</td>
                <td style="vertical-align: middle;">Comprensivo</td>
                <td style="vertical-align: middle;">Idealista</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Tranquilo</td>
                <td style="vertical-align: middle;">Sereno</td>
                <td style="vertical-align: middle;">Creativo</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Leal</td>
                <td style="vertical-align: middle;">Entusiasta</td>
                <td style="vertical-align: middle;">Responsable</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Atento</td>
                <td style="vertical-align: middle;">Dispuesto a aprender</td>
                <td style="vertical-align: middle;">Cuidadoso</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Optimista</td>
                <td style="vertical-align: middle;">Trabajador</td>
                <td style="vertical-align: middle;">Productivo</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Amable</td>
                <td style="vertical-align: middle;">Reflexivo</td>
                <td style="vertical-align: middle;">Accesible</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Afable</td>
                <td style="vertical-align: middle;">Adaptable</td>
                <td style="vertical-align: middle;">Racional</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Imaginativo</td>
                <td style="vertical-align: middle;">Observador</td>
                <td style="vertical-align: middle;">Educado</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">Competitivo</td>
                <td style="vertical-align: middle;">Honesto</td>
                <td style="vertical-align: middle;">Valiente</td>
            </tr>

            </tbody>
        </table>


</section>
}