@main() {
<div class="container">
<section>
        <h2 class="red_adecco century_gothic">Valores profesionales</h2>
        <div class="brown_adecco arial size14">
            <p> Conoce tus valores profesionales para determinar qué aspectos prefieres de un puesto de trabajo.</p>
            <p>Los valores profesionales contribuyen a nuestro bienestar personal, y son muy subjetivos.</p>
            <p>Tus valores pueden ser distintos a los de tu pareja, tus padres o tus amigos.</p>
            <p>Sin embargo, la vida también implica adaptarse y buscar soluciones intermedias.</p>
            <p>Por ello, tendrás que decidir lo que más te conviene. Estar sin trabajo, o hacer ciertas concesiones dejando a un lado algunos de tus valores profesionales.</p>
            <p>Aquí tienes una tabla de valores que te puede ayudar a definir cuáles son los tuyos.</p>
        </div></br><br>
            <div class="size16 gray_adecco arial">
                <p>Actividad: Valora cuales de ellos quieres en tu futuro puesto de trabajo.</p>
            </div><br>
        
</section>

<section>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="vertical-align: middle;">Descripción de valores profesionales</th>
                    <th>Valoración<br><pre class="gray_adecco blod">NO          NO SÉ          SÍ</pre></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: middle;">Valores relacionados<br> con la creatividad</td>
                    <td class="col-sm-6 col-xs-6" style="vertical-align: middle;">
                        <p style="margin-bottom: 1.2em;">- Poner en práctica la creatividad y propuestas innovadoras.</p>
                        <p style="margin-bottom: 1.2em;">- Desarrollar nuevas ideas y teorías.</p>
                        <p>- Responsabilidad y toma de decisiones.</p>
                    </td>

                    <td>
                        <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_1" name="group_1" value="Poner en práctica la creatividad y propuestas innovadoras: SI"><label for="radio-si_1"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_1" name="group_1" value="Poner en práctica la creatividad y propuestas innovadoras: NOSE"><label for="radio-nose_1"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_1" name="group_1" value="Poner en práctica la creatividad y propuestas innovadoras: NO"><label for="radio-no_1"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_2" name="group_2" value="Desarrollar nuevas ideas y teorías: SI"><label for="radio-si_2"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_2" name="group_2" value="Desarrollar nuevas ideas y teorías: NOSE"><label for="radio-nose_2"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_2" name="group_2" value="Desarrollar nuevas ideas y teorías: NO"><label for="radio-no_2"><span></span></label>
                                </div>

                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_3" name="group_3" value="Responsabilidad y toma de decisiones: SI"><label for="radio-si_3"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_3" name="group_3" value="Responsabilidad y toma de decisiones: NOSE"><label for="radio-nose_3"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_3" name="group_3" value="Responsabilidad y toma de decisiones: NO"><label for="radio-no_3"><span></span></label>
                                </div>


                            </label>
                          </div>
                    </td>
                </tr>

                <tr style="background-color:#f9f9f9;">
                    <td style="vertical-align: middle;">Valores relacionados<br> con el salario</td>
                        <td  class="col-sm-6 col-xs-6" style="vertical-align: middle;">
                            <p style="margin-bottom: 1.2em;">- Reconocimiento de la lealtad a la empresa.</p>
                            <p style="margin-bottom: 1.2em;">- Reconocimiento del rendimiento en el trabajo.</p>
                            <p>- Reconocimiento de la seriedad y calidad del trabajo realizado.</p>
                        </td>

                    <td>
                        <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_4" name="group_4" value="Reconocimiento de la lealtad a la empresa: SI"><label for="radio-si_4"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_4" name="group_4" value="Reconocimiento de la lealtad a la empresa: NOSE"><label for="radio-nose_4"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_4" name="group_4" value="Reconocimiento de la lealtad a la empresa: NO"><label for="radio-no_4"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_5" name="group_5" value=".</p>
                            <p>- Reconocimiento de la seriedad : SI"><label for="radio-si_5"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_5" name="group_5" value=".</p>
                            <p>- Reconocimiento de la seriedad : NOSE"><label for="radio-nose_5"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_5" name="group_5" value=".</p>
                            <p>- Reconocimiento de la seriedad : NO"><label for="radio-no_5"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_6" name="group_6" value="Reconocimiento de la seriedad y calidad del trabajo realizado: SI"><label for="radio-si_6"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_6" name="group_6" value="Reconocimiento de la seriedad y calidad del trabajo realizado: NOSE"><label for="radio-nose_6"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_6" name="group_6" value="Reconocimiento de la seriedad y calidad del trabajo realizado: NO"><label for="radio-no_6"><span></span></label>
                                </div>


                            </label>
                          </div>
                    </td>
                </tr>

                <tr>
                    <td style="vertical-align: top;">Valores relacionados<br> con el trabajo</td>
                    <td class="col-sm-6 col-xs-6"><p style="vertical-align: middle;">
                        <p style="margin-bottom: 1.2em;">- Posibilidades de organizar el trabajo.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajar al aire libre.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajar en un edificio.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo físico.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo intelectual.</p>
                        <p style="margin-bottom: 1.2em;">- Flexibilidad horaria.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo con un horario fijo.</p>
                        <p style="margin-bottom: 1.2em;">- Libertad en la forma de vestir.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo conciliable con la vida personal.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo que implique realizar actividades sociales.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajar en equipo.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajar solo.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo que implique estar en contacto con clientes.</p>
                        <p style="margin-bottom: 1.2em;">- Utilizar tecnología punta.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo preciso en el que no haya cabida para errores.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo que implique cierto grado de aventura y riesgo.</p>
                        <p style="margin-bottom: 1.2em;">- Cuidado de personas.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajar con niños.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo que implique pasar tiempo fuera de casa.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajar con enfermos, discapacitados o ancianos.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo que precise paciencia y precisión.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo con máquinas.</p>
                        <p style="margin-bottom: 1.2em;">- Reparar diferentes objetos.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajo con animales.</p>
                        <p style="margin-bottom: 1.2em;">- Asignar tareas a otros.</p>
                        <p style="margin-bottom: 1.2em;">- Recibir órdenes de otros.</p>
                        <p style="margin-bottom: 1.2em;">- Actuar en público o entretener a la gente.</p>
                        <p style="margin-bottom: 1.2em;">- Trabajar con formas artísticas y diseñar.</p>
                        <p style="margin-bottom: 1.2em;">- Claridad a la hora de informar sobre las tareas.</p>
                    </p></td>

                    <td>
                        <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_7" name="group_7" value="Posibilidades de organizar el trabajo: SI"><label for="radio-si_7"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_7" name="group_7" value="Posibilidades de organizar el trabajo: NOSE"><label for="radio-nose_7"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_7" name="group_7" value="Posibilidades de organizar el trabajo: NO"><label for="radio-no_7"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_8" name="group_8" value="Trabajar al aire libre: SI"><label for="radio-si_8"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_8" name="group_8" value="Trabajar al aire libre: NOSE"><label for="radio-nose_8"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_8" name="group_8" value="Trabajar al aire libre: NO"><label for="radio-no_8"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_9" name="group_9" value="Trabajar en un edificio: SI"><label for="radio-si_9"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_9" name="group_9" value="Trabajar en un edificio: NOSE"><label for="radio-nose_9"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_9" name="group_9" value="Trabajar en un edificio: NO"><label for="radio-no_9"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_10" name="group_10" value="Trabajo físico: SI"><label for="radio-si_10"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_10" name="group_10" value="Trabajo físico: NOSE"><label for="radio-nose_10"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_10" name="group_10" value="Trabajo físico: NO"><label for="radio-no_10"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_11" name="group_11" value=" Trabajo intelectual: SI"><label for="radio-si_11"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_11" name="group_11" value=" Trabajo intelectual: NOSE"><label for="radio-nose_11"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_11" name="group_11" value=" Trabajo intelectual: NO"><label for="radio-no_11"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_12" name="group_12" value="Flexibilidad horaria: SI"><label for="radio-si_12"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_12" name="group_12" value="Flexibilidad horaria: NOSE"><label for="radio-nose_12"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_12" name="group_12" value="Flexibilidad horaria: NO"><label for="radio-no_12"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_13" name="group_13" value="Trabajo con un horario fijo: SI"><label for="radio-si_13"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_13" name="group_13" value="Trabajo con un horario fijo: NOSE"><label for="radio-nose_13"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_13" name="group_13" value="Trabajo con un horario fijo: NO"><label for="radio-no_13"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_14" name="group_14" value="Libertad en la forma de vestir: SI"><label for="radio-si_14"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_14" name="group_14" value="Libertad en la forma de vestir: NOSE"><label for="radio-nose_14"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_14" name="group_14" value="Libertad en la forma de vestir: NO"><label for="radio-no_14"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_15" name="group_15" value="Trabajo conciliable con la vida personal: SI"><label for="radio-si_15"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_15" name="group_15" value="Trabajo conciliable con la vida personal: NOSE"><label for="radio-nose_15"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_15" name="group_15" value="Trabajo conciliable con la vida personal: NO"><label for="radio-no_15"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_16" name="group_16" value="Trabajo que implique realizar actividades sociales: SI"><label for="radio-si_16"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_16" name="group_16" value="Trabajo que implique realizar actividades sociales: NOSE"><label for="radio-nose_16"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_16" name="group_16" value="Trabajo que implique realizar actividades sociales: NO"><label for="radio-no_16"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_17" name="group_17" value="Trabajar en equipo: SI"><label for="radio-si_17"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_17" name="group_17" value="Trabajar en equipo: NOSE"><label for="radio-nose_17"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_17" name="group_17" value="Trabajar en equipo: NO"><label for="radio-no_17"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_18" name="group_18" value="Trabajar solo: SI"><label for="radio-si_18"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_18" name="group_18" value="Trabajar solo: NOSE"><label for="radio-nose_18"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_18" name="group_18" value="Trabajar solo: NO"><label for="radio-no_18"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_19" name="group_19" value="Trabajo que implique estar en contacto con clientes: SI"><label for="radio-si_19"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_19" name="group_19" value="Trabajo que implique estar en contacto con clientes: NOSE"><label for="radio-nose_19"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_19" name="group_19" value="Trabajo que implique estar en contacto con clientes: NO"><label for="radio-no_19"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_20" name="group_20" value="Utilizar tecnología punta: SI"><label for="radio-si_20"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_20" name="group_20" value="Utilizar tecnología punta: NOSE"><label for="radio-nose_20"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_20" name="group_20" value="Utilizar tecnología punta: NO"><label for="radio-no_20"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_21" name="group_21" value="Trabajo preciso en el que no haya cabida para errores: SI"><label for="radio-si_21"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_21" name="group_21" value="Trabajo preciso en el que no haya cabida para errores: NOSE"><label for="radio-nose_21"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_21" name="group_21" value="Trabajo preciso en el que no haya cabida para errores: NO"><label for="radio-no_21"><span></span></label>
                                </div>


                            </label>
                          </div>

                         <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_22" name="group_22" value="Trabajo que implique cierto grado de aventura y riesgo: SI"><label for="radio-si_22"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_22" name="group_22" value="Trabajo que implique cierto grado de aventura y riesgo: NOSE"><label for="radio-nose_22"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_22" name="group_22" value="Trabajo que implique cierto grado de aventura y riesgo: NO"><label for="radio-no_22"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_23" name="group_23" value="Cuidado de personas: SI"><label for="radio-si_23"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_23" name="group_23" value="Cuidado de personas: NOSE"><label for="radio-nose_23"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_23" name="group_23" value="Cuidado de personas: NO"><label for="radio-no_23"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_24" name="group_24" value="Trabajar con niños: SI"><label for="radio-si_24"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_24" name="group_24" value="Trabajar con niños: NOSE"><label for="radio-nose_24"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_24" name="group_24" value="Trabajar con niños: NO"><label for="radio-no_24"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_25" name="group_25" value="Trabajo que implique pasar tiempo fuera de casa: SI"><label for="radio-si_25"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_25" name="group_25" value="Trabajo que implique pasar tiempo fuera de casa: NOSE"><label for="radio-nose_25"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_25" name="group_25" value="Trabajo que implique pasar tiempo fuera de casa: NO"><label for="radio-no_25"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_26" name="group_26" value="Trabajar con enfermos, discapacitados o ancianos: SI"><label for="radio-si_26"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_26" name="group_26" value="Trabajar con enfermos, discapacitados o ancianos: NOSE"><label for="radio-nose_26"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_26" name="group_26" value="Trabajar con enfermos, discapacitados o ancianos: NO"><label for="radio-no_26"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_27" name="group_27" value="Trabajo que precise paciencia y precisión: SI"><label for="radio-si_27"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_27" name="group_27" value="Trabajo que precise paciencia y precisión: NOSE"><label for="radio-nose_27"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_27" name="group_27" value="Trabajo que precise paciencia y precisión: NO"><label for="radio-no_27"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_28" name="group_28" value="Trabajo con máquinas: SI"><label for="radio-si_28"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_28" name="group_28" value="Trabajo con máquinas: NOSE"><label for="radio-nose_28"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_28" name="group_28" value="Trabajo con máquinas: NO"><label for="radio-no_28"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_29" name="group_29" value="Reparar diferentes objetos: SI"><label for="radio-si_29"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_29" name="group_29" value="Reparar diferentes objetos: NOSE"><label for="radio-nose_29"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_29" name="group_29" value="Reparar diferentes objetos: NO"><label for="radio-no_29"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_30" name="group_30" value="Trabajo con animales: SI"><label for="radio-si_30"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_30" name="group_30" value="Trabajo con animales: NOSE"><label for="radio-nose_30"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_30" name="group_30" value="Trabajo con animales: NO"><label for="radio-no_30"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_31" name="group_31" value="Asignar tareas a otros: SI"><label for="radio-si_31"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_31" name="group_31" value="Asignar tareas a otros: NOSE"><label for="radio-nose_31"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_31" name="group_31" value="Asignar tareas a otros: NO"><label for="radio-no_31"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_32" name="group_32" value="Recibir órdenes de otros: SI"><label for="radio-si_32"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_32" name="group_32" value="Recibir órdenes de otros: NOSE"><label for="radio-nose_32"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_32" name="group_32" value="Recibir órdenes de otros: NO"><label for="radio-no_32"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_33" name="group_33" value="Actuar en público o entretener a la gente: SI"><label for="radio-si_33"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_33" name="group_33" value="Actuar en público o entretener a la gente: NOSE"><label for="radio-nose_33"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_33" name="group_33" value="Actuar en público o entretener a la gente: NO"><label for="radio-no_33"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_34" name="group_34" value="Trabajar con formas artísticas y diseñar: SI"><label for="radio-si_34"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_34" name="group_34" value="Trabajar con formas artísticas y diseñar: NOSE"><label for="radio-nose_34"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_34" name="group_34" value="Trabajar con formas artísticas y diseñar: NO"><label for="radio-no_34"><span></span></label>
                                </div>


                            </label>
                          </div>

                          <div class="radio">
                            <label>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-normal" type="radio" id="radio-si_35" name="group_35" value="Claridad a la hora de informar sobre las tareas: SI"><label for="radio-si_35"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-excellent" type="radio" id="radio-nose_35" name="group_35" value="Claridad a la hora de informar sobre las tareas: NOSE"><label for="radio-nose_35"><span></span></label>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    <input class="radio-good" type="radio" id="radio-no_35" name="group_35" value="Claridad a la hora de informar sobre las tareas: NO"><label for="radio-no_35"><span></span></label>
                                </div>


                            </label>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 center">
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.submitProfessional()';">FINALIZAR</button>
        </div>
    </div>
</section>
</div>

}