@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Posibles preguntas en una entrevista</h2>
        <div class="brown_adecco arial size14">
            <p>Hemos reunido algunas de las posibles preguntas que te pueden plantear en una entrevista.</p>
        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente las preguntas que se plantean a continuación.
        </div>
    </div><br>
</article>

<section class="container back panel-group" id="accordion" style="margin-auto;">

    <!-- Collapse 1 -->
    <div class="panel panel-default row">
        <div class="col-md-12 col-sm-12 col-xs-12 panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;"><u>Personalidad</u></a>
        </div>
        <div id="collapse1" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color in">
            <ul class="panel-body" style="margin-left:2em;">
                <li>Háblame de ti mismo.</li>
                <li>Cuéntame una anécdota de tu vida en la que resolvieras con éxito una situación problemática.</li>
                <li>¿Qué gana la empresa si te contrata a ti en lugar de a otro candidato?, ¿qué elemento diferencial aportas?.</li>
                <li>Si tú fueras el encargado de realizar esta selección y yo el candidato, ¿qué cualidades te gustaría que yo reuniera?.</li>
                <li>¿Te gusta trabajar con gente o prefieres trabajar solo?.</li>
                <li>¿Te consideras como un líder o como un seguidor?, ¿por qué?.</li>
                <li>¿Cual fue la decisión más importante que adoptaste en el pasado?.</li>
                <li>Defínete a tí mismo con cinco adjetivos calificativos. Justifícalos.</li>
                <li>¿Qué has aprendido de tus errores?.</li>
                <li>¿Acabas lo que empiezas?.</li>
                <li>Piensa en un profesor, un amigo, tu novio/a. Si yo le preguntara cómo eres tú, ¿qué crees que contestaría?.</li>
                <li>Si todos los trabajos tuvieran la misma remuneración y consideración social, ¿qué es lo que realmente te gustaría hacer?.</li>
                <li>Describe tu escala de valores.</li>
                <li>¿Qué personas te sacan de quicio?.</li>
                <li>¿Duermes bien?.</li>
                <li>¿Cómo reaccionas habitualmente frente a la jerarquía?.</li>
                <li>¿Cómo te insertas en un equipo de trabajo?.</li>
                <li>¿Qué impresión crees que he sacado de ti tras esta entrevista?.</li>
            </ul>
        </div>
    </div>

    <!-- Collapse 2 -->
    <div class="panel panel-default row">
        <div class="col-md-12 col-sm-12 col-xs-12 panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;"><u>Formación</u></a>
        </div>
        <div id="collapse2" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <ul class="panel-body" style="margin-left:2em;">
                <li>¿Por qué estudiaste arquitectura, derecho, económicas, etcétera?.</li>
                <li>¿Cómo decidiste estudiar ...?, ¿qué otras carreras te atraían?.</li>
                <li>¿Quién influyó más en ti a la hora de elegir tu carrera?.</li>
                <li>¿Qué asignaturas te gustaban más/menos y en cuáles sacabas mejores/peores notas?.</li>
                <li>¿En qué medida tus calificaciones se deben a tu esfuerzo personal y en qué medida a tu inteligencia?.</li>
                <li>¿Qué cambios habrías introducido en el plan de estudios de tu Facultad o Escuela, si hubieras podido?.</li>
                <li>¿Cuál fue la experiencia más gratificante durante tu vida como estudiante?.</li>
                <li>¿Piensas proseguir o ampliar tus estudios de alguna manera?.</li>
                <li>Si volvieras a empezar tus estudios, ¿qué harías de modo diferente?.</li>
                <li>En tu formación complementaria, ¿qué seminarios o cursos de corta duración has realizado?, ¿qué te motivó a realizarlos?.</li>
                <li>¿Tuviste algún puesto representativo durante tu etapa de estudiante (como delegado de curso, miembro de la Tuna, etcétera)?.</li>
            </ul>
        </div>
    </div>

    <!-- Collapse 3 -->
    <div class="panel panel-default row">
        <div class="col-md-12 col-sm-12 col-xs-12 panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;"><u>Trabajos anteriores</u></a>
        </div>
        <div id="collapse3" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <ul class="panel-body" style="margin-left:2em;">
                <li>Háblame de tus actividades al margen de tus estudios.</li>
                <li>¿Realizaste algún trabajo como estudiante (como dar clases, trabajos de verano, prácticas, etcétera)?.</li>
                <li>¿Qué aprendiste durante tus trabajos anteriores?, ¿qué funciones desempeñabas?, ¿cuánto cobrabas?.</li>
                <li>¿Debías supervisar el trabajo de alguien?.</li>
                <li>¿Cuál de tus trabajos previos te ha gustado más/menos?, ¿por qué?.</li>
                <li>¿Cuál es tu proyecto o solución más creativa?.</li>
                <li>¿Cómo te llevabas con tus compañeros, con tus jefes, con tus subordinados?.</li>
                <li>¿Cuál fue la situación más desagradable en que te viste?, ¿cómo le hiciste frente?.</li>
                <li>Describe el mejor y el peor jefe que hayas tenido.</li>
                <li>Descríbeme un día típico en tu trabajo anterior.</li>
                <li>¿Cómo conseguiste ese trabajo, esa práctica, etcétera?.</li>
                <li>De las empresas en las que has trabajado, ¿qué personas pueden darnos referencias de ti?.</li>
            </ul>
        </div>
    </div>

    <!-- Collapse 4 -->
    <div class="panel panel-default row">
        <div class="col-md-12 col-sm-12 col-xs-12 panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;"><u>Empleo</u></a>
        </div>
        <div id="collapse4" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <ul class="panel-body" style="margin-left:2em;">
                <li>¿Qué sabes acerca de nuestra empresa?.</li>
                <li>¿Qué te atrae de ella?.</li>
                <li>¿Qué ambiente de trabajo prefieres?.</li>
                <li>¿Prefieres un trabajo previsible o un trabajo cambiante?.</li>
                <li>¿Qué relaciones piensas que debe haber entre un jefe y su colaborador inmediato?.</li>
                <li>¿Estarías dispuesto/a a trasladarte a vivir a otra ciudad, a otro país, o a viajar con frecuencia?.</li>
                <li>¿Tienes alguna preferencia geográfica?.</li>
                <li>¿Cuál crees que puede ser para ti la mayor dificultad al pasar de la vida de estudiante a la vida del trabajo?.</li>
                <li>¿Qué departamento (marketing, financiero, producción, comercial, etcétera) te atrae más?.</li>
                <li>¿Cuáles son tus puntos fuertes y tus puntos débiles para desempeñar este puesto?.</li>
                <li>¿Qué te ves haciendo dentro de cinco, de diez años?.</li>
                <li>¿Cuáles son tus objetivos a corto y a largo plazo?, ¿cómo crees que podrás lograrlos?.</li>
                <li>¿Cómo te enteraste de la existencia de este puesto?.</li>
                <li>¿Por qué piensas que vas a tener éxito en este trabajo?.</li>
                <li>¿Con qué tipo de jefe te gustaría trabajar?.</li>
                <li>¿Con qué tipo de jefe crees que acabarías por chocar?.</li>
                <li>Antes de ser contratado/a, ¿estarías dispuesto/a a realizar un curso de formación a cargo de la empresa?.</li>
                <li>¿Cuánto quieres ganar ahora?, ¿y dentro de cinco años?.</li>
                <li>¿Prefieres trabajar en una empresa grande, mediana, pequeña, pública o privada?, ¿por qué?.</li>
                <li>¿Cuándo podrías incorporarte al trabajo?.</li>
                <li>¿Participas en otros procesos de selección?.</li>
                <li>¿Comentas con tus familiares y amigos las incidencias de tu trabajo?.</li>
            </ul>
        </div>
    </div>

    <!-- Collapse 5 -->
    <div class="panel panel-default row">
        <div class="col-md-12 col-sm-12 col-xs-12 panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="century_gothic gray_adecco size22 bold advices_height panel-title" style="margin-left: 1em;"><u>Vida privada</u></a>
        </div>
        <div id="collapse5" class="arial size14 gray_adecco panel-collapse collapse collapse_background_color">
            <ul style="margin-left:2em;">
                <li>¿Con quién vives?.</li>
                <li>¿A qué se dedica tu familia?.</li>
                <li>¿Tienes novia/o, esposa/o?. En caso afirmativo, ¿qué opina de este trabajo?.</li>
                <li>¿Qué haces en tu tiempo libre?.</li>
                <li>¿Cuáles son tus aficiones favoritas?.</li>
                <li>¿Cuál es el último libro que has leído?, ¿qué te pareció?.</li>
            </ul>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish col-md-offset-10">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
    </div>
</section>
}