@main(){
<!--
 Created by:
 * Victor Garcia Zarco - victor.gzarco@@gmail.com
 * Mikel Garcia Najera - mikel.garcia.najera@@gmail.com
 * Carlos Fernandez-Lancha Moreta - carlos.fernandez.lancha@@gmail.com
 * Victor Rodriguez Latorre - viypam@@gmail.com
 * Stalin Yajamin Quisilema - rimid22021991@@gmail.com
-->
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Cuida tu presencia en las redes sociales</h2>
        <div class="brown_adecco arial size14">
            <p>¿Quieres multiplicar tus posibilidades de encontrar empleo? Entonces te animo a utilizar las Redes Sociales. Si eres una persona poco habituada al ordenador, smartphone o tablet , puede que a priori te parezca imposible. Pero tienes que perder el miedo, pues aunque al principio es algo complejo, con la práctica será más sencillo de lo que imaginas.</p>
            <p><b>¿Qué es una red social?</b></p>
            <p>Es una nueva forma de relacionarnos con los demás a través de Internet, compartiendo información interesante que nos aporte valor a nivel personal o profesional. Las 3 más famosas son Facebook, Twitter y Linkedin. Pero si estás buscando empleo, te recomendamos sobre todo las 2 últimas.</p>
        </div><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los 3 pasos fundamentales para utilizar las redes sociales a nivel profesional.
        </div>
    </div><br>
</article>

<section class="container">
    <div class="back">
        <p class="century_gothic size22 bold gray_adecco">Pasos:</p>
        <div class="arial size14 gray_adecco">
            <ul>
                <li>PASO 1. Créate un perfil profesional:
                    <p class="arial size12 gray_adecco">Escoge una foto formal, en la que preferiblemente estés sonriendo. A continuación, descríbete como tú prefieras. Recuerda que cuanto más original seas, más atractivo será tu perfil para los demás. En Twitter dispones de una limitación de 140 caracteres para definirte. Aprovéchalos para resaltar tu máxima cualidad.</p>
                    <p class="arial size12 gray_adecco">Por ejemplo: 55 años, pero joven de espíritu, con gran entusiasmo y en busca de nuevos proyectos profesionales.</p>
                    <p class="arial size12 gray_adecco"> En Linkedin dispones de más espacio para extenderte como quieras. Te recomendamos que no sólo completes los campos de “Formación”, “Experiencia”, o “cursos” sino que redactes de forma atractiva el apartado “Extracto”, que te permitirá hacer un balance de tu trayectoria profesional y resaltar tus mejores cualidades.</p>
                </li>
                <li>PASO 2. Construye tu red de contactos:
                    <p class="arial size12 gray_adecco">Encuentra a amigos y conocidos en tu sector de interés, te servirán de enlace para avanzar en la búsqueda de empleo. Busca también a personas y a empresas que, aunque no conozcas, te gustaría que formen parte de tu red de contactos para intercambiar información u ofertas de empleo.</p>
                    <p class="arial size12 gray_adecco">Otra característica de las Redes Sociales es que son “inteligentes” y ellas mismas te empezarán a sugerir seguir a personas una vez comprueben tus preferencias.</p>
                </li>
                <li>PASO 3. Interactúa:
                    <p class="arial size12 gray_adecco">No sirve de nada conseguir muchos contactos si no se interactúa con ellos. Procura responder a sus comentarios, entrar en diálogos y unirte a grupos de debate.</p>
                    <p class="arial size12 gray_adecco">Escribe sobre lo que te gusta y te preocupa, comparte tus actividades de formación y otras nuevas experiencias profesionales.</p>
                </li>
            </ul>
        </div>
    </div>
</section><br>

<section class="container">
    <div class="back">
        <p class="century_gothic size22 bold gray_adecco">Consejos:</p>
        <div class="arial size14 gray_adecco">
                <ul>
                    <li>Mantén tus perfiles actualizados.</li>
                    <li>Crea un blog personal, puede ser un gran complemento para tus redes sociales.</li>
                    <li>Se transparente en la información de tus redes sociales: <p class="arial size12 gray_adecco">Crea y comparte contenido de calidad</p></li>
                    <li>Diferencia entre una red profesional y personal.</li>
                    <li>Ten cuidado con contenidos que pueden dañar tu imagen profesional.</li>
                    <li>Fidelizar a tus seguidores.</li>
                    <li>Se repetuoso.</li>
                    <li>Buscar el público objetivo para la búsqueda de empleo.</li>
                </ul>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4 center">
            <button class="button-return-1" onclick="location.href='/orientation#point5';">VOLVER</button>
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.submitReputation()';">FINALIZAR</button>
        </div>
    </div>
</section>
}


