@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Cuida tu presencia en las redes sociales</h2>
        <div class="brown_adecco arial size14">
            <p>Hoy en día eres lo que Google dice de ti; Internet se ha convertido en tu tarjeta de visita. Por ello debes preguntarte: ¿qué quieres que aparezca en Internet cuando te busquen?, ¿qué quieres que la gente opine de ti?, Y a partir de ahí construir tu Reputación Online.</p>
            <p>A continuación te vamos a indicar una serie de consejos para mantener una buena reputación en las redes sociales.</p>


        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos.
        </div>
    </div><br>
</article>

<section class="container">
    <div class="back">
        <p class="century_gothic size22 bold gray_adecco">Consejos:</p>
        <div class="arial size14 gray_adecco">
                <ul>
                    <li>Actualización de los perfiles: <p class="arial size12 gray_adecco">Se ha de renovar al menos una vez por semana y deben crearse perfiles adecuados para cada una de las redes sociales, eliminando las cuentas que no se usen.</p></li>
                    <li>Tener un blog personal: <p class="arial size12 gray_adecco">Tener un blog personal, actualizarlo, agradecer y responder a los comentarios de la gente. Compartir las actualizaciones a través de las redes sociales, así como comentar en otros blogs que se hable del mismo tema.</p></li>
                    <li>Ser transparente: <p class="arial size12 gray_adecco">Mostrar transparencia y contenido original en las publicaciones. Importante no olvidar el mencionar la autoría en caso de utilizar material de terceros.</p></li>
                    <li>Contenido de calidad: <p class="arial size12 gray_adecco">Aportar contenido de calidad participando en foros y grupos de debate, pero siempre y cuando lo que se diga esté argumentado. También se es aconsejable incluir imágenes o vídeos, para llamar la atención del lector.</p></li>
                    <li>Fidelizar: <p class="arial size12 gray_adecco">Fidelizar a los seguidores es la clave. Hay que mantener una actitud activa, abierta y participativa en la red.</p></li>
                    <li>Ser repetuoso: <p class="arial size12 gray_adecco">Respetar la opinión de todas las personas y estar preparado para las críticas poco constructivas, teniendo siempre una respuesta para ellas, mostrando preocupación por lo sucedido.</p></li>
                    <li>Buscar el público objetivo: <p class="arial size12 gray_adecco">Segmentar el público objetivo, ejecutar acciones, publicaciones y comentarios de acuerdo a cada segmentación realizada. Monitorizar contenidos y los de la competencia para conocer tus ventajas y desventajas frente a ellas.</p></li>
                    <li>Política de posicionamiento: <p class="arial size12 gray_adecco">Tener en cuenta el posicionamiento editorial en internet, cuidando la redacción, poniendo atención a la uniformidad del texto generando interés del lector con un solo vistazo.</p></li>
                    <li>Nuevas formas de difusión: <p class="arial size12 gray_adecco">Permanecer alerta a las nuevas formas de difusión que surjan, como pueden ser las redes sociales, para crear temas de interés que podamos utilizar posteriormente.</p></li>
                    <li>Público o privado: <p class="arial size12 gray_adecco">Diferenciar entre lo público y lo privado, teniendo en cuenta la delgada línea que hay entre esos dos conceptos en el mundo de internet.</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 center">
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.blank()';">FINALIZAR</button>
        </div>
    </div>
</section>
}


