@main() {

<section class="container">
    <div class="container">
        <h2 class="red_adecco century_gothic">Conoce tus habilidades</h2>
    <div class="brown_adecco arial size14">
        <p>Para llegar a conocerte mejor debes encontrar y valorar tus habilidades. Las habilidades son la capacidad de desarrollar una actividad.</p>
        <p>Reconoce cuales son las que mejor desarrollas y potencialas en una entrevista.</p> 
    </div><br><br>
    <div class="gray_adecco size16 arial">
        <p>Actividad: A continuación se muestra una lista de habilidades, sé sincero y valora cada una de ella según te desenvuelvas: normal, bien o excelente.</p>
    </div><br>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Descripción de habilidades</th>
                <th>Valoración Personal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                    <td style="vertical-align: middle;">Habilidades de<br> gestión</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Soy capaz de influir en otros para lograr objetivos.</p>
                        <p>- Puedo organizar eventos, fijar plazos  y dar instrucciones para que mi equipo los respete.</p>
                        <p>- Soy capaz de motivar a la gente  para que se implique y colabore en la concecusión de objetivos concretos.</p>

                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                    <input class="radio-normal" type="radio" id="radio-normal_1" name="group_1" value="normal"><label for="radio-normal_1"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_1" name="group_1" value="excelent"><label for="radio-good_1"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                     <input class="radio-excellent" type="radio" id="radio-excellent_1" name="group_1" value="excelent"><label for="radio-excellent_1"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>
                <tr>
                    <td style="vertical-align: middle;">Habilidades de<br> comunicación</td>
                <td><p style="vertical-align: middle;">
                    
                        <p>- Puedo expresarme con claridad.Sé escuchar.</p>
                        <p>- Soy capaz de plantear mis opiniones y debatirlas.</p>
                        <p>- Soy bueno a la hora de transmitir información.</p>
                    </p>
                </td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                    <input class="radio-normal" type="radio" id="radio-normal_2" name="group_2" value="normal"><label for="radio-normal_2"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_2" name="group_2" value="excelent"><label for="radio-good_2"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_2" name="group_2" value="excelent"><label for="radio-excellent_2"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">Habilidades<br> creativas</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Se me ocurren nuevas ideas y procedimientos de trabajo.</p>
                        <p>- Sé improvisar.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_3" name="group_3" value="normal"><label for="radio-normal_3"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_3" name="group_3" value="excelent"><label for="radio-good_3"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_3" name="group_3" value="excelent"><label for="radio-excellent_3"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>
                </tr>

                    <td style="vertical-align: middle;">Habilidades<br> técnicas</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Soy capaz de trabajar con diferentes herramientas, materiales y máquinas.</p> 
                        <p>- Soy capaz de considerar los diferentes pasos y decidir  qué instrumentos utilizar para crear un objeto.</p>
                    </p></td>
                   <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_4" name="group_4" value="normal"><label for="radio-normal_4"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                    <input class="radio-good" type="radio" id="radio-good_4" name="group_4" value="excelent"><label for="radio-good_4"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_4" name="group_4" value="excelent"><label for="radio-excellent_4"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>


                <tr>
                    <td style="vertical-align: middle;">Habilidades<br> matemáticas</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Soy capaz de resolver problemas matemáticos complejos.</p>
                        <p>- Entiendo los principios matemáticos.</p>
                        <p>- No tengo ningún problema en encontrar soluciones matemáticas para problemas de la vida real.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_5" name="group_5" value="normal"><label for="radio-normal_5"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_5" name="group_5" value="excelent"><label for="radio-good_5"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_5" name="group_5" value="excelent"><label for="radio-excellent_5"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>
                </tr>

                <tr>

                    <td style="vertical-align: middle;">Imaginación<br> espacial</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Tengo capacidad para visualizar formas multidimensionales desde diferentes perspectivas.</p>
                    </p></td>
                   <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_6" name="group_6" value="normal"><label for="radio-normal_6"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_6" name="group_6" value="excelent"><label for="radio-good_6"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_6" name="group_6" value="excelent"><label for="radio-excellent_6"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>

                <tr>

                    <td style="vertical-align: middle;">Idiomas</td>
                    <td><p style="vertical-align: middle;">
                       <p>- Hablo otro/s idioma/s.</p>
                       <p>- Tengo un buen nivel tanto gramatical como hablado.</p>
                       <p>- Estoy familiarizado con la terminología especializada de otra/s lengua/s extranjera/s y puedo hablar en público y escribir artículos especializados en mi campo.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_7" name="group_7" value="normal"><label for="radio-normal_7"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_7" name="group_7" value="excelent"><label for="radio-good_7"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_7" name="group_7" value="excelent"><label for="radio-excellent_7"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>


                <tr>

                    <td style="vertical-align: middle;">Habilidades<br> administrativas</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Realizo tareas administrativas rápida y eficazmente.</p>
                        <p>- Soy capaz de preparar informes estructurados y adecuados de lo que ocurre en la oficina.</p>
                        <p>- Puedo analizar las tareas administrativas y llevarlas a cabo sin ningún problema.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                  
                                    <input class="radio-normal" type="radio" id="radio-normal_8" name="group_8" value="normal"><label for="radio-normal_8"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                               
                                    <input class="radio-good" type="radio" id="radio-good_8" name="group_8" value="excelent"><label for="radio-good_8"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                  
                                     <input class="radio-excellent" type="radio" id="radio-excellent_8" name="group_8" value="excelent"><label for="radio-excellent_8"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>


                <tr>

                    <td style="vertical-align: middle;">Habilidades<br> sociales</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Trato a todo el mundo de manera respetuosa y diplomática.</p>
                        <p>- Escucho y entendiendo las necesidades de los demás.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_9" name="group_9" value="normal"><label for="radio-normal_9"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_9" name="group_9" value="excelent"><label for="radio-good_9"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_9" name="group_9" value="excelent"><label for="radio-excellent_9"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>
                </tr>


                <tr>

                    <td style="vertical-align: middle;">Habilidades<br> artísticas</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Puedo realizar trabajos creativos y artísticos, como dibujar, modelar y pintar, utilizando técnicas diferentes.</p>
                        <p>- Soy bueno con la expresión corporal y se me da bien actuar.</p>
                        <p>- Toco algún instrumento.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_10" name="group_10" value="normal"><label for="radio-normal_10"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_10" name="group_10" value="excelent"><label for="radio-good_10"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                     <input class="radio-excellent" type="radio" id="radio-excellent_10" name="group_10" value="excelent"><label for="radio-excellent_10"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>


                <tr>

                    <td style="vertical-align: middle;">Habilidades<br> financieras</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Se me da bien contar.</p>
                        <p>- Puedo preparar un presupuesto y trabajar con cuentas.</p>
                        <p>- Puedo realizar operaciones contables corrientes.</p>
                        <p>- Conozco diferentes productos financieros y la mejor forma de utilizarlos y combinarlos.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_11" name="group_11" value="normal"><label for="radio-normal_11"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                    <input class="radio-good" type="radio" id="radio-good_11" name="group_11" value="excelent"><label for="radio-good_11"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                     <input class="radio-excellent" type="radio" id="radio-excellent_11" name="group_11" value="excelent"><label for="radio-excellent_11"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>


                <tr>

                    <td style="vertical-align: middle;">Habilidades<br> manuales</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Puedo realizar todo tipo de trabajos manuales.</p>
                        <p>- Puedo realizar trabajos manuales básicos.</p>
                        <p>- Sólo realizo trabajos manuales complejos.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_12" name="group_12" value="normal"><label for="radio-normal_12"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                    <input class="radio-good" type="radio" id="radio-good_12" name="group_12" value="excelent"><label for="radio-good_12"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_12" name="group_12" value="excelent"><label for="radio-excellent_12"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>


                <tr>

                    <td style="vertical-align: middle;">Capacidades<br> científicas</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Soy capaz de pensar en términos abstractos, es decir, no teniendo como base un material específico sino conceptos, fórmulas y diagramas.</p>
                        <p>- Soy capaz de comprender los principios científicos y experimentar con ellos.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                    <input class="radio-normal" type="radio" id="radio-normal_13" name="group_13" value="normal"><label for="radio-normal_13"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                   
                                    <input class="radio-good" type="radio" id="radio-good_13" name="group_13" value="excelent"><label for="radio-good_13"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_13" name="group_13" value="excelent"><label for="radio-excellent_13"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>


                <tr>

                    <td style="vertical-align: middle;">Conocimientos<br> TIC</td>
                    <td><p style="vertical-align: middle;">
                        <p>- Tengo un nivel de usuario medio del software que normalmente se utiliza en una oficina.</p>
                        <p>- Aprendo con facilidad a utilizar nuevos programas de software y puedo utilizo las funciones complejas.</p>
                        <p>- He aprendido por mí mismo a crear sitos web en código html y me gusta hacerlo.</p>
                    </p></td>
                    <td>
                        <div class="radio">

                            <label>
                                <pre style="font-weight:bold; text-align:center;" class="size12 gray_adecco">   Normal        Bien       Excelente</pre>
                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-normal" type="radio" id="radio-normal_14" name="group_14" value="normal"><label for="radio-normal_14"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                    <input class="radio-good" type="radio" id="radio-good_14" name="group_14" value="excelent"><label for="radio-good_14"><span></span></label>

                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 custom-radio-group">
                                    
                                     <input class="radio-excellent" type="radio" id="radio-excellent_14" name="group_14" value="excelent"><label for="radio-excellent_14"><span></span></label>

                                </div>


                            </label>
                          </div>  
                    </td>

                </tr>
                

            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-offset-9 col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
            <a href="#">FINALIZAR</a>
        </div>
    </div>

</section>
}