@main(){
<article class="container">
    <div class="row">
        <h2 class="red_adecco century_gothic">Realiza cursos para especializarte</h2>
        <div class="brown_adecco arial size14">
            <p>Formarse es una actividad necesaria para realizar cualquier tipo de trabajo, la mejor manera de lograr el trabajo que deseas es tener una formación adecuada.</p>
            <p>Se trata de una herramienta para hacer “que las cosas sucedan”.</p>


        </div><br><br>
        <div class="arial size16 gray_adecco">
            Actividad: Lee detalladamente los consejos que te damos y revisa de manera habitual los diferentes sitios de busqueda de cursos.
        </div>
    </div><br>
</article>

<section class="container">
    <div class="back">
        <p class="century_gothic size22 bold gray_adecco">Realizar cursos te permitirá:</p>
        <div class="arial size14 gray_adecco">
            <ul>
                <li>Ser mejor competidor:<p class="arial size12 gray_adecco" >La empleabilidad pasa necesariamente por la formación. Eso supone mejorar uno mismo, y hacerlo también respecto a la competencia a la que nos enfrentamos para poder, en la medida de lo posible, ser el mejor candidato para un puesto de trabajo.</p></li>
                <li>Ampliar currículum:<p class="arial size12 gray_adecco">Tanto si te planteas especializarte, aprender idiomas, cambiar de oficio o simplemente por ampliar curriculum, realizar cursos siempre es una buena opción.</p></li>
                <li>Invertir en tu futuro:<p class="arial size12 gray_adecco">Aunque la creencia más extendida es que la formación “cuesta” y que a veces es cara, deberíamos pensar en ella como una forma de invertir que además, no necesita demasiado tiempo para ver sus frutos.
                    Todos, o casi todos, los puestos de trabajo tienen requisitos no sólo de experiencia, también de formación. Intenta hacer un ejercicio, piensa en qué cursos has hecho y cuáles te abrieron realmente puertas para conseguir alguno de los puestos que has desempeñado. Seguramente haya alguno a los que no los encuentres una utilidad directa tan clara, pero siempre hay cursos-llave que hicieron que se abriera alguna puerta.</p></li>
                <li>Renovarte:<p class="arial size12 gray_adecco">Formarse es una necesidad permanente. La formación se queda obsoleta en unos 2 o 3 años así que para continuar en el mercado laboral no queda más remedio que embarcarse de lleno en la aventura de la formación continua.
                    <br>¿En qué te puedes formar?. Aquí te damos algunas ideas de áreas formativas que pueden mejorar mucho tu currículum:</p>
                    <p class="arial size12 gray_adecco">- Internet. Hoy en día su manejo es fundamental. No hace falta ser un profesional, pero sí dominar la navegación básica por la red, los buscadores y el correo electrónico.</p>
                    <p class="arial size12 gray_adecco">- Office. Los programas Word y Excel serán requeridos en la mayoría de los trabajos administrativos. Dominarlos siempre es un grado.</p>
                    <p class="arial size12 gray_adecco">- Redes Sociales. Tener una cuenta profesional en Twitter y Linkedin y saber manejar Facebook queda fenomenal en el currículum y no es nada difícil cuando coges práctica.</p>
                    <p class="arial size12 gray_adecco">- Técnicas de marketing y ventas. En la actualidad las empresas están ampliando plantilla en áreas comerciales, para aumentar la cartera de clientes. Acreditar conocimientos específicos en este área nos será de gran ayuda para optar a este tipo de puestos.</p>
                    <p class="arial size12 gray_adecco">- Idiomas. Principalmente el inglés. La mayoría de los puestos no requieren bilingüismo absoluto, sino ser capaces de hacernos entender y comunicarnos. Siempre es una buena opción.</p>
                    <p class="arial size12 gray_adecco">- Oficios: carretillero, soldador, manipulador de alimentos… todos ellos nos abrirán muchas puertas en áreas de actividad muy variadas.</p>
                    <br><p class="arial size12 gray_adecco">Si tienes perfectamente dominadas estas áreas o tu perfil es más de “directivo”, siguen existiendo muchas opciones formativas para mejorar tu candidatura: habilidades directivas, diseño gráfico, organización y calidad, gestión de equipos y un largo etcétera. En esta web encontrarás una relación de cursos que pueden interesarte: <a href="http://www.cursosinem.es/" target="_blank">Cursos Inem</a></p>
                </li>

             </ul>
        </div>
    </div>
</section><br>

<section class="container">
    <div class="back">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
                <a href="http://ofertas.adecco.es/candidato/ofertas/Ofertas.aspx?Accesible=false" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_adecco.png")"></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
                <a href="https://ofertas.fundacionadecco.es/candidato/ofertas/ofertas.aspx" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_fundacionadecco.png")"></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
                <a href="http://www.infoempleo.com/" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_infoempleo.png")"></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center; margin-bottom:2em;">
                <a href="https://www.google.es/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=cursos+de+formaci%C3%B3n+espa%C3%B1a" target="_blank"><img src="@routes.Assets.at("images/orientation/ic_otros.png")"></a>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4 center">
            <button class="button-return-1" onclick="location.href='/orientation#point5';">VOLVER</button>
            <button class="button-finish-1" onclick="location.href= '@routes.OrientationController.submitSpecialization()';">FINALIZAR</button>
        </div>
    </div>
</section>
}


