@main(){
<article class="container">
    <div class="row">
         <h2 class="red_adecco century_gothic">Tipos de entrevista</h2>
        <div class="brown_adecco arial size14">
            <p>La entrevista de trabajo más habitual se suele llevar a cabo entre el solicitante, la persona que busca empleo, y un representante de la empresa que ofrece el empleo, mediante una sucesión de preguntas y respuestas. Es lo que se conoce como entrevista individual. No obstante, no es el único tipo que se practica.</p>
            <p>Cada vez más, la empresas apuestan por otro tipos de reuniones que les ayuden a conocer más y mejor las capacidades de los aspirantes. Cónocelas y aprende a prepararte.</p>
            <p>Según el número de participantes distinguimos:</p>

             
        </div>
    </div>
</article>

<section class="container back" style="margin-left:6em;">


    <div class="row  orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p class=" arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista individual</p>

            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;">
                    La entrevista de trabajo individual es la más habitual de todas. Se lleva a cabo entre la persona que busca el empleo y un representante de la empresa que ofrece el puesto, normalmente un miembro del departamento de recursos humanos.</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;">
                    No existe un patrón ni un modelo a seguir. El orden y los temas que se aborden dependen únicamente de la voluntad del entrevistador. Sin embargo, el carácter confidencial de este tipo de entrevista permite alcanzar una profundidad mayor en las cuestiones.
            </p>
        </div>
    </div>

    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista de panel</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            Este tipo de entrevista de trabajo es bastante similar a la entrevista individual. Sin embargo, en este caso intervienen varios entrevistadores, en lugar de sólo uno. Normalmente forman parte del departamento de Recursos Humanos de la empresa.
            </p>
           
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;">
            No existe un orden prestablecido ni unas temáticas determinadas, éstas dependen íntegramente de los entrevistadores. Se puede alcanzar una gran profundidad en el diálogo, siempre que se supere la más que probable intimidación inicial que supone enfrentarse a varios entrevistadores a la vez.
            </p>
        </div>
    </div>  

    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista de grupo</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            La entrevista de grupo es, como su propio nombre indica, aquella en la que participan un grupo de personas, en lugar de una sola. Es muy similar a la entrevista de panel, aunque en este caso el aspirante es entrevistado sucesivamente por diferentes personas que pertenecen a distintas áreas.
            </p>
           
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;">
            En este tipo de entrevista es bastante frecuente que haya un psicólogo de empresa.Cada entrevistador evaluará al candidato según sus propios criterios y, una vez concluidas las entrevistas, se unificarán criterios y se tomará una decisión en común sobre la idoniedad del candidato.
            </p>
        </div>
    </div>

    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista estructurada</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            La entrevista de grupo es, como su propio nombre indica, aquella en la que participan un grupo de personas, en lugar de una sola. Es muy similar a la entrevista de panel, aunque en este caso el aspirante es entrevistado sucesivamente por diferentes personas que pertenecen a distintas áreas.
            </p>
           
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;">
            En este tipo de entrevista es bastante frecuente que haya un psicólogo de empresa.Cada entrevistador evaluará al candidato según sus propios criterios y, una vez concluidas las entrevistas, se unificarán criterios y se tomará una decisión en común sobre la idoniedad del candidato.
            </p>
        </div>
    </div>


</section>

<section class="container">
    <div class="row">
        
        <div class="brown_adecco arial size14">
            
            <p>Según el tipo de entrevista distinguimos:</p>

        </div>
    </div>
</section>


<section class="container back" style="margin-left:6em;">
    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista estructurada</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            La entrevista estructurada o preparada es la más estática y rígida de todas, ya que se basa en una serie de preguntas predeterminadas e invariables que deben responder todos los aspirantes a un determinado puesto.
            Esto facilita enormemente la unificación de criterios y la valoración del candidato, pero no permite que el entrevistador ahonde en las cuestiones más interesantes. Es recomendable para aquellas empresas que necesitan cubrir muchos puestos de trabajo y no pueden invertir demasiado tiempo en el proceso de selección.
            La extensión es variable, depende del criterio de la empresa. Puede reducirse a unas meras cuestiones básicas o ser bastante extensa, planteando cuestiones sobre toda la historia laboral del candidato.
            En todo caso, es conveniente hacer siempre una pequeña preparación previa sobre los temas que se van a plantear. En muchos casos, también se preparan previamente todas las preguntas detalladas incluidas en cada área. Esto permite al entrevistador concentrarse solamente en la respuesta, a la vez que ayuda a mitigar el nerviosismo del candidato sobre las notas tomadas por el entrevistador, puesto que se da cuenta de que la naturaleza formal de las preguntas requiere que la información sea registrada, y permite que el entrevistador, al hacer preguntas personales, parezca estar siguiendo una norma establecida en lugar de actuar sobre la base de su propia curiosidad.
            Sin embargo, dependiendo del caso, la entrevista estructurada no es recomendable ya que con este tipo de entrevista, tanto el entrevistador como el aspirante pueden tener la sensación de estar inmersos en un proceso mecánico que en muchos casos es contraproducente.
            </p>
           
           
        </div>
    </div>

    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista no estructurada</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            La entrevista no estructurada o libre es aquella en la que se trabaja con preguntas abiertas, sin un orden preestablecido, adquiriendo características de conversación. Esta técnica consiste en realizar preguntas de acuerdo a las respuestas que vayan surgiendo durante la entrevista.
            Así, a diferencia de la entrevista estructurada, en este tipo de reunión el entrevistador solo tiene una idea aproximada de lo que se va a preguntar y va improvisando las cuestiones dependiendo del tipo y las características de las respuestas. Además, el énfasis se pone más en el análisis de las impresiones que en el de los hechos.
            El principal inconveniente de este tipo de entrevista de trabajo es que, al no tener un listado de temas y cuestiones, se puede pasar por alto áreas de aptitud, conocimiento o experiencia del solicitante, obviando preguntas importantes del tema a tratar. Cuando esto ocurre la empresa no resulta beneficiada, porque se pierde información que puede ser de interés. Además, no hay posibilidad de revisar la exactitud de las conclusiones del entrevistador.
            Con todo, este tipo es, sin duda, el que más gusta a los entrevistadores, a causa de la libertad que le deja.
            </p>
           
           
        </div>
    </div>

    <div class="row orientation-points">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista mixta</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            La entrevista mixta o semiestructurada es aquella en la que, como su propio nombre indica, el entrevistador despliega una estrategia mixta, alternando preguntas estructuradas y con preguntas espontáneas.
            Esto forma es más completa ya que, mientras que la parte preparada permite comparar entre los diferentes candidatos, la parte libre permite profundizar en las características especificas del candidato. Por ello, permite una mayor libertad y flexibilidad en la obtención de información.
            </p>
           
           
        </div>
    </div>

    <div class="row orientation-points">
        <div class="col-md-13 col-sm-13 col-xs-13">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista de provocación de tensión</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            La entrevista de tensión o de provocación de tensión es aquella en la que se emplean modos y actitudes que tienen como objetivo provocar tensión en el candidato.
            Se utiliza fundamentalmente en las entrevistas para cubrir aquellos puestos que deben desempeñarse en condiciones de gran tensión. En estos casos, el entrevistador necesita saber como reacciona el solicitante al elemento presión. Personas con poco control emocional suelen perder el control por lo que se pueden detectar los engaños preguntando minuciosamente al candidato.
            </p>
           
           
        </div>
    </div>

    <div class="row orientation-points">
        <div class="col-md-13 col-sm-13 col-xs-13">
        <p class="arial gray_adecco size22 bold advices_height" style="margin-left:1em;">Entrevista de provocación de tensión</p>
            <p  class="size14 gray_adecco arial steps_height" style="margin-left:1em;"> 
            La entrevista de tensión o de provocación de tensión es aquella en la que se emplean modos y actitudes que tienen como objetivo provocar tensión en el candidato.
            Se utiliza fundamentalmente en las entrevistas para cubrir aquellos puestos que deben desempeñarse en condiciones de gran tensión. En estos casos, el entrevistador necesita saber como reacciona el solicitante al elemento presión. Personas con poco control emocional suelen perder el control por lo que se pueden detectar los engaños preguntando minuciosamente al candidato.
            </p>
           
           
        </div>
    </div>




</section>

    




<section class="container">
    <div class="row" style="margin-right:2.5em;">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
     </div>
        
</section>  




}