@main(){
<article class="container">
    <div class="row">
         <h2 class="red_adecco century_gothic">Tipos de entrevista</h2>
        <div class="brown_adecco arial size14">
            <p>La entrevista de trabajo más habitual se suele llevar a cabo entre el solicitante, la persona que busca empleo, y un representante de la empresa que ofrece el empleo, mediante una sucesión de preguntas y respuestas. Es lo que se conoce como entrevista individual. No obstante, no es el único tipo que se practica.</p>
            <p>Cada vez más, la empresas apuestan por otro tipos de reuniones que les ayuden a conocer más y mejor las capacidades de los aspirantes. Cónocelas y aprende a prepararte.</p>
            <p>Según el número de participantes distinguimos:</p>

             
        </div>
    </div>
</article>

<section class="container back panel-group" id="accordion" style="margin-auto;">

    
            <div class="panel panel-default row">
                  <div class="panel-heading col-md-12 col-sm-12 col-xs-12">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class=" arial gray_adecco size22 bold advices_height" style="margin-auto;">Entrevista individual</a>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p  class="size14 gray_adecco arial steps_height" style="margin-auto;">
                        La entrevista de trabajo individual es la más habitual de todas. Se lleva a cabo entre la persona que busca el empleo y un representante de la empresa que ofrece el puesto, normalmente un miembro del departamento de recursos humanos.</p>
                        <p  class="size14 gray_adecco arial steps_height" style="margin-auto;">
                        No existe un patrón ni un modelo a seguir. El orden y los temas que se aborden dependen únicamente de la voluntad del entrevistador. Sin embargo, el carácter confidencial de este tipo de entrevista permite alcanzar una profundidad mayor en las cuestiones.
                        </p>
                    </div>
                  </div>
            </div>

            <div class="panel panel-default row">
                  <div class="panel-heading col-md-12 col-sm-12 col-xs-12">
                    
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class=" arial gray_adecco size22 bold advices_height" style="margin-auto;">Entrevista de panel</a>
                    
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p  class="size14 gray_adecco arial steps_height" style="margin-auto;"> 
                        Este tipo de entrevista de trabajo es bastante similar a la entrevista individual. Sin embargo, en este caso intervienen varios entrevistadores, en lugar de sólo uno. Normalmente forman parte del departamento de Recursos Humanos de la empresa.
                        </p>
           
                        <p  class="size14 gray_adecco arial steps_height" style="margin-auto;">
                        No existe un orden prestablecido ni unas temáticas determinadas, éstas dependen íntegramente de los entrevistadores. Se puede alcanzar una gran profundidad en el diálogo, siempre que se supere la más que probable intimidación inicial que supone enfrentarse a varios entrevistadores a la vez.
                        </p>
                    </div>
                  </div>
            </div>

            <div class="panel panel-default row">
                  <div class="panel-heading col-md-12 col-sm-12 col-xs-12">
                    
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class=" arial gray_adecco size22 bold advices_height" style="margin-auto;">Entrevista de grupo</a>
                    
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p  class="size14 gray_adecco arial steps_height" style="margin-auto;"> 
                        La entrevista de grupo es, como su propio nombre indica, aquella en la que participan un grupo de personas, en lugar de una sola. Es muy similar a la entrevista de panel, aunque en este caso el aspirante es entrevistado sucesivamente por diferentes personas que pertenecen a distintas áreas.
                        </p>
                       
                        <p  class="size14 gray_adecco arial steps_height" style="margin-auto;">
                        En este tipo de entrevista es bastante frecuente que haya un psicólogo de empresa.Cada entrevistador evaluará al candidato según sus propios criterios y, una vez concluidas las entrevistas, se unificarán criterios y se tomará una decisión en común sobre la idoniedad del candidato.
                        </p>
                    </div>
                  </div>
            </div>

            <div class="panel panel-default row">
                  <div class="panel-heading col-md-12 col-sm-12 col-xs-12">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class=" arial gray_adecco size22 bold advices_height" style="margin-auto;">Entrevista estructurada</a>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse in">
                    <div class="panel-body">
                        
                       <p  class="size14 gray_adecco arial steps_height" style="margin-auto;"> 
                        La entrevista de grupo es, como su propio nombre indica, aquella en la que participan un grupo de personas, en lugar de una sola. Es muy similar a la entrevista de panel, aunque en este caso el aspirante es entrevistado sucesivamente por diferentes personas que pertenecen a distintas áreas.
                        </p>
                       
                        <p  class="size14 gray_adecco arial steps_height" style="margin-auto;">
                        En este tipo de entrevista es bastante frecuente que haya un psicólogo de empresa.Cada entrevistador evaluará al candidato según sus propios criterios y, una vez concluidas las entrevistas, se unificarán criterios y se tomará una decisión en común sobre la idoniedad del candidato.
                        </p>

                    </div>
                  </div>
            </div>


            <div class="panel panel-default row">
                  <div class="panel-heading col-md-12 col-sm-12 col-xs-12">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class=" arial gray_adecco size22 bold advices_height" style="margin-auto;">Entrevista individual</a>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse in">
                    <div class="panel-body">
                        


                    </div>
                  </div>
            </div>


            <div class="panel panel-default row">
                  <div class="panel-heading col-md-12 col-sm-12 col-xs-12">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class=" arial gray_adecco size22 bold advices_height" style="margin-auto;">Entrevista individual</a>
                  </div>
                  <div id="collapse6" class="panel-collapse collapse in">
                    <div class="panel-body">
                        



                    </div>
                  </div>
            </div>
    
  

</section>

    




<section class="container">
    <div class="row" style="margin-auto;">
        <div class="col-md-2 col-md-offset-10 col-xs-5 col-sm-3 arial size16 button_finish">
            <a href="@routes.OrientationController.blank()">FINALIZAR</a>
        </div>
     </div>
        
</section>  




}