@(amazon : Array[String])(adminUser : models.entities.AdminUser)(adminUsers : List[models.entities.AdminUser])
@header("options"){
@if(adminUser.name == "adecco"){
<div class="panel panel-default">
    <div class="panel-heading">Configuración Amazon S3</div>
    <div class="panel-body">
        <form class="form-horizontal" style="width: 50%;" role="form" action="@routes.AdminController.updateAmazonOptions()" autocomplete="on" method="post">

        	<div class="form-group">
            		<span>Bucket Name</span>
            		@if(amazon(0) != null){
            			<input type="text" name='bucket_name' class="form-control" id="bucket_name" required="required" placeholder="Bucket Name" value="@amazon(0)">
            		}else{
            			<input type="text" name='bucket_name' class="form-control" id="bucket_name" required="required" placeholder="Bucket Name">
            		}
            </div>

            <div class="form-group">
            		<span>Access Key</span>
            		@if(amazon(1) != null){
            			<input type="text" name='access_key' class="form-control" id="access_key" required="required" placeholder="Access Key" value="@amazon(1)">
            		}else{
            			<input type="text" name='access_key' class="form-control" id="access_key" required="required" placeholder="Access Key">
            		}
            </div>

            <div class="form-group">
            		<span>Secret Key</span>
            		@if(amazon(2) != null){
            			<input type="text" name='secret_key' class="form-control" id="secret_key" required="required" placeholder="Secret Key" value="@amazon(2)">
            		}else{
            			<input type="text" name='secret_key' class="form-control" id="secret_key" required="required" placeholder="Secret Key">
            		}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>
}
<!-- USER INFO -->
<div class="panel panel-default">
    <div class="panel-heading">Configuración de cuenta</div>
    <div class="panel-body">
        <form class="form-horizontal" style="width: 50%;" role="form" autocomplete="on">

            <div class="form-group">
                    <span>Nombre de usuario</span>
                    @if(adminUser != null){
                        <input type="text" name='user_name' class="form-control" id="user_name" required="required" placeholder="Nombre de usuario" value="@adminUser.name" disabled>
                    }else{
                        <input type="text" name='user_name' class="form-control" id="user_name" required="required" placeholder="Nombre de usuario">
                    }
            </div>

            <div class="form-group">
                    <span>Contraseña</span>
                    <input type="password" name='user_password' class="form-control" id="user_password" required="required" placeholder="Contraseña">
            </div>

            <div class="form-group">
                    <span>Repetir contraseña</span>
                    <input type="password" name='repeat_user_password' class="form-control" id="repeat_user_password" required="required" placeholder="Repetir contraseña">
            </div>

            <div class="form-group">
                    <div class="alert alert-danger" id="alert-password" hidden role="alert">¡Las contraseñas no coinciden!</div>
            </div>

            <div class="form-group">
                <button type="button" onclick="showModal()" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>

<!-- CONFIRM CHANGES MODAL -->
<div class="modal fade" id="confirmChangesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal">
        <div>
            <h2 class="sub-title">Cambiar datos personales</h2>
            <p class="text-brown">Para cambiar tus datos personales, introduce tu contraseña antigua:</p>
            <div class="col-md-8">
                <div class="form-horizontal">
                    <div class="form-group form-inline">
                            <input type="password" name='confirm-password' class="form-control" id="confirm-password" required="required" placeholder="Contraseña antigua">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" hidden id="alert-confirm-password">
                <div class="alert alert-danger" role="alert">¡Las contraseñas no coinciden!</div>
            </div>
            <div class="row">
                <div class="col-md-6 center">
                        <button type="button" id="acceptChangeBtn" class="button-accept button-modal" >ACEPTAR</button>
                        <button type="button" id="cancelChangeBtn" class="button-cancel button-modal" data-dismiss="modal">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
@if(adminUser.name == "adecco"){
<div class="panel panel-default">
    <div class="panel-heading">Usuarios de administración</div>
    <div class="panel-body">
        <table id="users_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Timestamp</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(user <- adminUsers){
                <tr class="user-entry">
                    <td class="user-name">@user.name</td>
                    <td>@user.connectionTimestamp</td>
                    <td>
                        @if(user.name != adminUser.name){
                            <span>&emsp;</span>
                            <a href="javascript: deleteUser()" id="@user.name"><img width="20%" id="@user.name" src="@routes.Assets.at("images/orientation/ic_trash2.png")"></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" onclick="showNewUserModal()" class="btn btn-primary">Añadir nuevo usuario</button>
    </div>
</div>

<!-- NEW USER MODAL -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal">
        <div>
            <h2 class="sub-title">Añadir nuevo usuario</h2>
            <form class="form-horizontal" style="width: 50%;" role="form" autocomplete="on">

            <div class="form-group">
                    <span>Nombre de usuario</span>
                    <input type="text" name='user_name' class="form-control" id="new_user_name" required="required" placeholder="Nombre de usuario" autofocus>
                    <div class="alert alert-danger" id="alert-user-exists" hidden role="alert">¡Ya existe otro usuario con ese nombre!</div>
                    <div class="alert alert-danger" id="alert-user-length" hidden role="alert">¡El nombre debe tener una longitud mínima de 4 caracteres!</div>
            </div>

            <div class="form-group">
                    <span>Contraseña</span>
                    <input type="password" name='user_password' class="form-control" id="new_user_password" required="required" placeholder="Contraseña">
            </div>

            <div class="form-group">
                    <span>Repetir contraseña</span>
                    <input type="password" name='repeat_user_password' class="form-control" id="new_repeat_user_password" required="required" placeholder="Repetir contraseña">
            </div>

            <div class="form-group">
                    <div class="alert alert-danger" id="new_user_alert-password" hidden role="alert">¡Las contraseñas no coinciden!</div>
                    <div class="alert alert-danger" id="alert-password-length" hidden role="alert">¡La contraseña debe tener una longitud mínima de 4 caracteres!</div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="sendNewUser()">GUARDAR</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
            </div>
        </form>
        </div>
    </div>
</div>
}


<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
            $('#users_table').DataTable();
        } );
</script>

<script type="text/javascript">
//Check if exists other user with the same name
 $( "#new_user_name" ).keyup(function() {
    var name = $(this).val();
    var exists = false;
    @for(user <- adminUsers){
        if("@user.name" == name){
            exists = true;
        }
    }
    if(exists == true){
        $("#alert-user-exists").show();
    }else{
        $("#alert-user-exists").hide();
    }

    if(name.length < 4){
        $("#alert-user-length").show();
    }else{
        $("#alert-user-length").hide();
    }
});

 //Check password length
 $( "#new_user_password" ).keyup(function() {
    var password = $(this).val();

    if(password.length < 4){
        $("#alert-password-length").show();
    }else{
        $("#alert-password-length").hide();
    }
});
</script>

<script>
    function showModal(){
        var password = $('#user_password').val();
        var changePassword = false;
        if(password == ""){
           $('#confirmChangesModal').modal('show');
        }else if(password == $('#repeat_user_password').val()){
                changePassword = true;
                $('#confirmChangesModal').modal('show');
        }else{
            $('#alert-password').show();
        }

        acceptChangeBtn.addEventListener('click', function(ev){
            var oldPassword = CryptoJS.SHA1($('#confirm-password').val());;
            var userPassword = "@adminUser.password";
            if(oldPassword == userPassword){
                //$('#updatingChangesModal').modal('show');
                sendChanges();
                $('#confirmChangesModal').modal('hide');
            }else{
                $('#alert-confirm-password').show();
            }
            ev.preventDefault();
            }, false
        );

        cancelChangeBtn.addEventListener('click', function(ev){
            $('#confirmChangesModal').modal('hide');
            $('#alert-password').hide();
            ev.preventDefault();
            }, false
        );
    }

    function sendChanges(){
        var result = [];
        result[0] = $('#user_name').val();
        result[1] = $('#user_password').val();

        $.ajax({
        type: 'post',
        data: JSON.stringify(result),
        url: "/admin/options/profile",
        contentType: 'application/json',
        success: function(){
            $('#confirmChangesModal').modal('hide');
            $('#alert-password').hide();
            alert("Contraseña cambiada correctamente");
            window.location.replace('/admin/options');
        },
        error: function(){
            alert("No se han podido actualizar los datos. Por favor, inténtelo de nuevo");
        }
    });
    }
</script>

<script type="text/javascript">
//Delete admin User
$("#users_table").on("click", "td img", function() {
        $.ajax({
        type: 'post',
        data: $(this).attr('id'),
        url: "/admin/options/delete",
        contentType: 'text/plain',
        success: function(){
            alert("Usuario eliminado!");
            window.location.replace('/admin/options');
        },
        error: function(){
            alert("No se ha podido eliminar el usuario. Por favor, inténtelo de nuevo");
        }
    });
   });
</script>

<script type="text/javascript">
//Adding new users....
    function showNewUserModal(){
        $('#newUserModal').modal('show');
    }

    function sendNewUser(){
        var password = $('#new_user_password').val();
        var repeat_password = $('#new_repeat_user_password').val();

        var validForm = true;
        if($('#new_user_name').val().length < 4){
            validForm = false;
            $('#alert-user-length').show();
        }else{
            $('#alert-user-length').hide();
        }

        if(password != repeat_password){
            $('#new_user_alert-password').show();
            validForm = false;
        }

        if($("#alert-user-exists").is(":visible")){
            validForm = false;
        }

        if(validForm == true){
            var result = [];
            result[0] = $('#new_user_name').val();
            result[1] = $('#new_user_password').val();

            $.ajax({
            type: 'post',
            data: JSON.stringify(result),
            url: "/admin/options/newadmin",
            contentType: 'application/json',
            success: function(){
                $('#newUserModal').modal('hide');
                alert("Usuario añadido correctamente");
                window.location.replace('/admin/options');
            },
            error: function(){
                alert("No se ha podido crear el usuario. Por favor, inténtelo de nuevo");
            }
            });
        }

    }
</script>
}