@(user : models.entities.User)

@header("users"){
<h3><b>Información Personal</b></h3>
    <p>@user.name @user.surnames</p>
    <p>@user.email</p>

    <h3><b>Situación Actual</b></h3>
    <h4>Nivel de educación</h4>
    <ul>
        @for(education <- user.currentSituation.educationLevelList) {
        <li>@education</li>
        }
    </ul>

    <h4>Experiencia profesional</h4>
    <ul>
        @for(professional <- user.currentSituation.professionalExperienceList) {
                    <li><b>Empresa:</b> @professional.company</li>
                    <li><b>Puesto:</b> @professional.job</li>
                    <li><b>Años de experiencia:</b> @professional.startDate - @professional.endDate</li>
            <br>
        }
    </ul>

    <h3><b>Habilidades</b>  <a href="/admin/users/skills/@user.email/@user.id">Editar</a></h3>
    <ul>
        @for(skill <- user.skill) {
        <li>@skill.name | <b>Nivel:</b> @skill.level</li>
        }
    </ul>

    <h3><b>Intereses</b>  <a href="/admin/users/interests/@user.email/@user.id">Editar</a></h3>
    <ul>
        @for(interest <- user.interests) {
        <li>@interest</li>
        }
    </ul>

    <h3><b>Características personales</b>  <a href="/admin/users/personal/@user.email/@user.id">Editar</a></h3>
    <ul>
        @for(characteristic <- user.personalCharacteristics) {
        <li>@characteristic</li>
        }
    </ul>

    <h3><b>Valores profesionales</b>  <a href="/admin/users/professional/@user.email/@user.id">Editar</a></h3>
    <ul>
        @for(values <- user.professionalValues) {
        @if(values.valuation == "SI"){
        <li>@values.name</li>
        }
        }
    </ul>

    <h3><b>Próximas entrevistas</b></h3>
    <ul>
        @for(interview <- user.interviewScheduleList) {
        <li><b>Fecha:</b> @interview.date</li>
        <li><b>Empresa:</b> @interview.company</li>
        <li><b>Dirección:</b> @interview.address</li>
        <br>
        }
    </ul>

<button type="button" class="btn btn-danger" onclick="javascript: $('#confirmDeleteModal').modal('show');">Eliminar</button>

<!-- CONFIRM DELETE USER MODAL -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <h3>¿Seguro que desea eliminar el usuario?</h3>
                <p>Una vez eliminado el usuario, no se podrá recuperar... ¿Desea continuar?</p>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="javascript: $('#confirmDeleteModal').modal('hide');">Cancelar</button>
                <button type="button" id="confirmDeleteBtn" class="btn btn-danger" onclick="confirmDelete()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- END OF CONFIRM DELETE USER MODAL -->

<script type="text/javascript">
    function confirmDelete(){
        var result = [];
        result[0] = "@user.email";
        result[1] = "@user.id";

        $.ajax({
                type: 'post',
                data: JSON.stringify(result),
                url: "/admin/delete",
                contentType: 'application/json',
                error: function(){
                    alert("Error al eliminar usuario...");
                },
                success: function(){
                    alert("Usuario eliminado correctamente");
                    $('#confirmDeleteModal').modal('hide');
                    window.location.assign("/admin/users");

                }
            });

    }
</script>
}