@(error_login_msg: String, error_signup_msg: String)
@main(nav = "company"){
<!-- ADVANTAGES -->
<section class="container" id="company_advantages">
    <div class="row">
        <div class="col-md-12 col-md-4" id="company_clock">
            <img src="@routes.Assets.at("images/login_company/ic_reloj.png")">
        </div>
        <div class="hidden-xs hidden-sm col-md-4" id="company_coins">
            <img src="@routes.Assets.at("images/login_company/ic_monedas.png")">
        </div>
        <div class="hidden-xs hidden-sm col-md-4" id="company_people">
            <img src="@routes.Assets.at("images/login_company/ic_personas.png")">
        </div>
    </div>
</section>

<!-- FORMS -->
<article class="container">
    <div class="row">
        <!-- ACCESS -->
        <div class="col-md-5">
            <h1 class="col-md-offset-4 size30 century_gothic gray_adecco">ACCEDE</h1><br>

            <form class="form-horizontal" role="form" action="@routes.LoginCompanyUserController.submitLogin()" autocomplete="on" method="post">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="email" class="form-control" name='email' id="access_email" required="required" placeholder="Correo electrónico">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="password" class="form-control" name='password' id="access_password" required="required" placeholder="Contraseña">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <button type="submit" class="btn-img"><img id="access_part" src="@routes.Assets.at("images/login_company/ic_entrar.png")"></button>
                    </div>

                    @if(error_login_msg != null) {
                    <div class="col-md-offset-2 col-md-10">
                        <div class="size14 arial red_adecco"><br><span class="bold">ERROR: </span>@error_login_msg</div>
                    </div>
                    }
                </div>
            </form>
        </div>

        <!-- Barra -->
        <div class="col-md-2">
            <div class="col-md-offset-6 hidden-sm hidden-xs">
                <img src="@routes.Assets.at("images/login_company/ic_barrapuntos5.png")">
            </div>
        </div>

        <!-- COMPANY REGISTER -->
        <div class="col-md-5">
            <h1 class="col-md-offset-2 size30 century_gothic gray_adecco">CREA TU PERFIL</h1><br>

            <form class="form-horizontal" role="form" action="@routes.LoginCompanyUserController.submitSignUp()" method="post">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="text" class="form-control" name='name' id="register_name" required="required" placeholder="Nombre">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="email" class="form-control" name='email' id="register_part_email" required="required" placeholder="Correo electrónico">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="password" class="form-control" name='password' id="register_part_password_1" required="required" placeholder="Contraseña">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="password" class="form-control" name='repeat_password' id="register_part_password_2" required="required" placeholder="Repetir contraseña">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <button type="submit" class="btn-img"><img id="particular_register" src="@routes.Assets.at("images/login_company/ic_entrar.png")"></button>
                    </div>
                    @if(error_signup_msg != null) {
                    <div class="col-md-offset-1 col-md-11">
                        <div class="size14 arial red_adecco"><br><span class="bold">ERROR: </span>@error_signup_msg</div>
                    </div>
                    }
                </div>
            </form>
        </div>
    </div>
</article>
}