body{
	padding: 0;
	margin: 0;
	background-color: #d0cbbf;
	font-family: 'Oxygen', sans-serif
}

.main{
	margin:7em auto 0;
	width:44%;
}
/* NAVIGATION MENU*/

nav ul {
	float: right;
	padding-right: 1em;
	display: inline-block;
	list-style: none;
}

.step2 {


}