
/* NAVIGATION MENU*/
nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1;
	display: table-cell;
}

nav ul {
	float: right;
	padding-right: 1em;
	display: inline-block;
}
nav ul li{
	display: table-cell;
	
}

nav ul li a{
	color: #d0cbbf;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: bolder;
	margin: 0 0.5em 0 0.5em;
	border-bottom: 3px solid white;
}

nav ul li a:hover, nav ul li.active a{
	border-bottom: 3px solid red;
	color: red;
}

#img_corporative{
	height: 4em;
	
}


/*BANNER*/
#banner{
	margin-top: 7em;
	width: 100%;
	position: relative;
}

#background_banner{
	width: 100%;
	height: auto;
	max-height: 400px;
}

#front_banner{
	position: absolute;
	top: 4em;
	left: 4em;
	height: 100%;
	width: auto;
	max-height: 200px;

}