/* NAVIGATION MENU*/
nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #FFFFFF;
	
	display: table-cell;
}

nav ul {
	float: right;
	padding-right: 1em;
	display: inline-block;
}
nav ul li{
	display: table-cell;
	
}

nav ul li a{
	color: #d0cbbf;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: bolder;
	margin: 0 0.5em 0 0.5em;
	border-bottom: 3px solid white;
}

nav ul li a:hover, nav ul li.active a{
	border-bottom: 3px solid red;
	color: red;
}

#img_corporative{
	height: 4em;
	
}


/*BANNER*/
#banner{
	background: url("../images/banner.jpg") no-repeat;
	background-size: 100%;
	margin-top: 8em;
	padding-left: 2em;
	height: 400px;
	width: 100%;
	overflow: hidden;
}
#banner_front_img{
	background-size: 100% 400px;
	width: 40%;
	padding-top: 3.5em;
}

#banner_front_img img{
	width: 100%;
	height: auto;
	max-width: 400px;
}

