body{
	padding: 0;
	margin: 0;
	margin-top: 5em;
	font-family: Arial;
}
/* NAVIGATION MENU*/
nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #FFFFFF;
	display: table-cell;
}

nav ul {
	float: right;
	padding-right: 1em;
	display: inline-block;
	list-style: none;

	
}
nav ul li{
	display: table-cell;
	padding-right: 2em;
}

nav ul li a{
	color: #ab9e79;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: bolder;
	display: inline-block;
	padding-top: 0.5em;
	margin-left: 3em;
}

nav ul li:first-child, nav ul li:first-child a{
	padding-top: 0;
	vertical-align: middle;
}
nav ul li a img{
	vertical-align: middle;
}


nav ul li:first-child{
	float: left;
}

#img_corporative{
	width: 100%;
	height: 100%;
	max-width: 8em;
	padding-top: 0.5em;
	padding-left: 0.75em;
	float: left;
}
