/*ACCESS*/
.article{
	min-width: 20%;
	position: fixed;
	text-align: right;

	float: left;
  	margin: 5px;
  	padding: 5px;
  	width: 300px;
  	height: 300px;
  	border: 1px solid black;


}
.login{
	display: table-row;
	text-align:left;
	width: 100%;
	height: auto;

}
.login form input, .login form select{
	width: 65%;
	border: 4;
	padding: 0.75em 0 0.75em 0.75em;

}
.login form input[type="checkbox"]
{
	width: auto;
}

.access{
	display: table-cell;
	width: 50%;
	color: #ab9e79;
	text-align: center;
}

