@main(){
<!--
 Created by:
 * Victor Garcia Zarco - victor.gzarco@@gmail.com
 * Mikel Garcia Najera - mikel.garcia.najera@@gmail.com
 * Carlos Fernandez-Lancha Moreta - carlos.fernandez.lancha@@gmail.com
 * Victor Rodriguez Latorre - viypam@@gmail.com
 * Stalin Yajamin Quisilema - rimid22021991@@gmail.com
-->
<!--COMPLETE_USER_PROFILE_3-->
<section class="container" id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 brown_adecco century_gothic size22">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="@routes.Assets.at("images/complete_user_profile_3/ic_paso3.png")">
        </div>
    </div>
</section>
<!--FINISH TEXT-->
<article class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="century_gothic size50 brown_adecco center">¡Enhorabuena!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="century_gothic size35 brown_adecco center">Ya formas parte de <span class="century_gothic size35 bold red_adecco">Fundación Adecco.</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="century_gothic size25 brown_adecco center">Te hemos enviado un mensaje.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="century_gothic size25 brown_adecco center">Para continuar, debes <span class="century_gothic size25 bold brown_adecco">revisar tu correo electrónico.</span></p>
        </div>
    </div>
</article>


}