@main(){
<!--COMPLETE_USER_PROFILE_2-->
<section class="container" id="text_user_profile_2">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12  brown_adecco century_gothic">
            <h2>COMPLETA TU PERFIL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12  brown_adecco century_gothic size22">
            <p>En tan sólo <span class="red_adecco" >3 pasos</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12  ic_paso2">
            <img src="@routes.Assets.at("images/complete_user_profile_2/ic_paso2.png")" class="ic_paso2">
        </div>
    </div>
</section>
<!--CURRICULIM VITAE-->
<article class="container">
    <div class="add_container">
        <form>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 arial gray_adecco size22 bold">
                    <p>Curriculum Vitae</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 gray_adecco arial size18">
                    <p>Adjunta tu Curriculum Vitae. (máx. 1MB).</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-2 col-xs-5 col-sm-3 arial size16 custom-input-file">
                    <input type="file" onchange="handleFiles(this.files)"  class="input-file"/>
                    EXAMINAR
                </div>
            </div>
        </form>
    </div>
    <!--CARTA DE PRESENTACIÓN-->
    <div class="add_container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 arial gray_adecco size22 bold">
                <p>Carta de presentación</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 gray_adecco arial size18 carta">
                <p>Adjunta tu Carta de presentación. (máx. 1MB).</p>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 gray_adecco arial size18">
                <input type="checkbox" value="carta"> No quiero adjuntar Carta de presentación.
            </div>
        </div>
        <div class="row">
            <div class=" col-md-2 col-xs-5 col-sm-3 arial size16 custom-input-file carta">
                <input type="file" size="1" class="input-file" />
                EXAMINAR
            </div>
        </div>
    </div>
    <!--PORTFOLIO-->
    <div class="add_container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 arial gray_adecco size22 bold">
                <p>Portfolio</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 gray_adecco arial size18 portfolio">
                <p>Adjunta tu Portfolio. (máx. 50MB).</p>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 gray_adecco arial size18">
                <input type="checkbox" value="portfolio"> No quiero adjuntar Portfolio.
            </div>
        </div>
        <div class="row">
            <div class=" col-md-2 col-xs-5 col-sm-3 arial size16 custom-input-file portfolio">
                <input type="file" size="1" class="input-file"/>
                EXAMINAR
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-5 col-sm-3 arial size16 button_finish">
            <a href="@routes.LoginParticularUserController.pass1()">FINALIZAR</a>
        </div>
    </div>
</article>
}