@(job: models.entities.Job)
@main(){
<!--DETAILS_JOBS-->
<section class="container" id="back_details_courses">
    <div class="row">
        <div class="col-md-8" class="text_details_courses">
            <h2 class="red_adecco century_gothic">DETALLES DE LA OFERTA:</h2><br>
            <p class="arial gray_adecco size20 bold">@job.getTitle()</p>
            <p><span class="red_adecco arial italic size14">Sector: </span><span class="arial gray_adecco size14">@job.getSector()</span></p>
            <p><span class="red_adecco arial italic size14">Tipo de contrato: </span><span class="arial gray_adecco size14">@job.getContract_type()</span></p>
            <p><span class="red_adecco arial italic size14">Tipo de jornada: </span><span class="arial gray_adecco size14">@job.getWorkday()</span></p>
            <p><span class="red_adecco arial italic size14">Salario: </span><span class="arial gray_adecco size14">@job.getSalary() €/mes</span></p>
            <p><span class="red_adecco arial italic size14">Lugar: </span><span class="arial gray_adecco size14">@job.getLocation()</span></p>
        </div>
        <div class="col-md-3" id="img_details_courses">
            <img src="@routes.Assets.at("images/details_courses/ic_recuadro.png")">
        </div>
    </div>

    <div class="row">
        <div class="col-md-11"class="text_details_courses">
            <p><span class="red_adecco arial italic size14">Descripción: </span><span class="arial gray_adecco size14"> @job.getDescription()</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11"class="text_details_courses">
            <p><span class="red_adecco arial italic size14">Condiciones generales: </span><span class="arial gray_adecco size14"> @job.getGeneral_terms()
            </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11"class="text_details_courses">
            <p><span class="red_adecco arial italic size14">Requisitos: </span>
                <span class="arial gray_adecco size14">
                @if(job.getCertificateOf33Disability()){
                <b>Será necesario disponer de un Certificado de Discapacidad de al menos el 33%.</b>
                }
                    @job.getRequirements()
                </span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11"class="text_details_courses">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" class="text_details_courses">
            <button type="submit" class="btn-img" ><img  src="@routes.Assets.at("images/details_courses/ic_volver.png")"></button>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn-img" ><img  src="@routes.Assets.at("images/details_courses/ic_solicitar.png")"></button>
        </div>
    </div>
</section>
}