@(nav: String = "")(content: Html)

<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
	<link rel="stylesheet" type='text/css' href="@routes.Assets.at("stylesheets/style_ventana_emergente.css")">
	<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/adecco_logo.jpg")">
	
	<script type='text/javascript' src="@routes.Assets.at("https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/script1.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/script2.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/script3.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/script4.js")"></script>
	
	<meta charset="utf-8">
	<title>A un click del empleo</title>
</head>

<body>
	<!--NAV-->
	<div class="container-fluid">
		<div class="row">

	        <div class="col-md-6"><a href="@routes.Application.index()"><img src="@routes.Assets.at("images/nav/corporative.jpg")" class="img-responsive" alt="Responsive image"></a>
	        </div>
	
	        <div class="col-md-2"><a href="#accesibility_pop_up"><img src="@routes.Assets.at("images/nav/ic_adaptabilidad2.png")"></a>
	        </div>
	
	    	@if(session.get("email") == null) {
				<div class="col-md-2 button-nav-login"><a href="@routes.LoginParticularUserController.blank()"><button type="button">ENTRAR</button></a>
				</div>
				
				@if(nav == "company") {
				    <div class="col-md-2 button-nav-im-company"><a href="@routes.LoginParticularUserController.blank()"><button type="button">SOY PARTICULAR</button></a>
				    </div>
				} else {
				    <div class="col-md-2 button-nav-im-company"><a href="@routes.LoginCompanyUserController.blank()"><button type="button">SOY EMPRESA</button></a>
				    </div>
				}
	    	} else {
                <div class="col-md-2 button-nav-login"><a href="#"><button type="button">@session.get("name")</button></a>
                </div>

                <div class="col-md-2 button-nav-im-company"><a href="@routes.Application.logout()"><button type="button">SALIR</button></a>
                </div>
	   		}
		</div>
	</div>

	<section class="content">@content</section>

    <!-- POP UP WINDOW -->
    <div id="accesibility_pop_up" class="mask_pop_up">
        <div class="box_pop_up resize">
            <a href="#close" title="Cerrar" class="close">X</a>

            <h2>¿Qué desea adaptar?</h2>
            <h3>Tamaño texto:</h3><br>
            <a href="#accesibility_pop_up" onClick="zoom_font('increase')">Aumentar tamaño</a><br>
            <a href="#accesibility_pop_up" onClick="zoom_font('reduce')">Reducir tamaño</a><br>
            <a href="#accesibility_pop_up" onClick="zoom_font('reset')">Reestablecer tamaño</a><br>

            <h3>Colores de texto y fondo</h3>
            <h3>...</h3>
        </div>
    </div>

    <!-- FOOTER -->
	<footer class="container-fluid">
		<div class="container"><br>
			<p>Derechos reservados @@2015</p>
		</div>
	</footer>
	
</body>
</html>