@main(){

<h1>Speech Recognition</h1>

    <div class="input-speech">
      <input type="text" id="name_form" placeholder="Nombre">
      <button id="start-speech-btn" class="btn btn-primary">Recognize</button>
    </div>

    <div class="input-speech">
      <input type="text" id="surname_form" placeholder="Apellido">
        <img class="img-btn" id="start2" src="@routes.Assets.at("/images/speech/static-mic.png")">
      <button class="btn btn-primary">Recognize</button>
    </div>

    <div class="custom-format">
        <input type="text" placeholder="Input text...">
        <button class="btn custom-btn">S</button>
    </div>

<style>

    .img-btn{
        cursor: pointer;
    }

    .custom-format input{
        background-color:black;
        padding-right: 3em;
    }

    .custom-btn{
    margin-left: -3em;
    }
</style>


    <script type="text/javascript">
      window.onload = function() {
        loadRecognition();
    };
    </script>
}