@main(){
<!-- CORPORATIVE IMAGE AND MORE-->
<section class="container-fluid size_font" id="banner">
    <div class="row">
        <div class="col-md-6 size_font" id="banner_text">
            <p><b>Fundación Adecco,</b> con 14 oficinas, y a través de una red de empresas solidarias de todos los sectores de actividad en toda España y de la Administración, ayuda a las personas que lo tienen más difícil a encontrar un empleo adecuado a sus habilidades y expectativas. Cuenta, además, con las 400 oficinas especializadas de Adecco y su red de 15.000 empresas y clientes para cumplir con su misión.</p>
        </div>
    </div>
</section>

<!-- THREE BUTTONS TEXT-->
<section class="container" id="three_buttons_text">
    <div class="row">
        <div class="col-md-12">
            <h1 class="size30 century_gothic brown_adecco">¿QUÉ NECESITAS?</h1>
            <h2 class="size20 arial brown_adecco">En <span class="red_adecco">Fundación Adecco</span> te ayudamos a encontrarlo.</h2>
        </div>
    </div>

    <!--THREE BUTTONS-->
    <article class="container" id="three_buttons">
        <div class="row">

            <div class="col-md-4">
                <a href="@routes.OrientationController.blank()" accesskey="O">
                        <h1 class="size20 century_gothic brown_adecco">ORIENTACIÓN</h1>
                        <img ALT="Orientación." src="@routes.Assets.at("images/index/ic_orientation.png")" onmouseover="this.src='@routes.Assets.at("images/index/ic_orientation_dark.png")';" onmouseout="this.src='@routes.Assets.at("images/index/ic_orientation.png")';">

                    </a>
            </div>

            <div class="col-md-4">
                <a href="@routes.OrientationController.getTools()" accesskey="G">
                    <h1 class="size20 century_gothic brown_adecco">GENERAR DOCUMENTOS</h1>
                    <img ALT="Genera tus documentos." src="@routes.Assets.at("images/index/ic_cv.png")" onmouseover="this.src='@routes.Assets.at("images/index/ic_cv_dark.png")';" onmouseout="this.src='@routes.Assets.at("images/index/ic_cv.png")';">
                </a>
            </div>


            <div class="col-md-4">
                <a href="@routes.PlanningController.plan()" accesskey="P" >
                    <h1 class="size20 century_gothic brown_adecco">PLANIFICACIÓN</h1>
                    <img ALT="Planificación." src="@routes.Assets.at("images/index/ic_planificacion.png")" onmouseover="this.src='@routes.Assets.at("images/index/ic_planificacion_dark.png")';" onmouseout="this.src='@routes.Assets.at("images/index/ic_planificacion.png")';">

                </a>
            </div>

        </div>
    </article>
</section>
}
