@(nav: String = "")(content: Html)

<!DOCTYPE html>
<html lang="es">
<head>
    <!--  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
   
	<link rel="stylesheet" type='text/css' href="@routes.Assets.at("stylesheets/style_ventana_emergente.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom-style.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom-fonts.css")">
	<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/adecco_logo.jpg")">
	<script type='text/javascript' src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/disableJob.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/disableStudies.js")"></script>



	<script type='text/javascript' src="@routes.Assets.at("javascripts/script4.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/script7.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/photo.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/speech-recognition.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/collapse-icon.js")"></script>

    <script type='text/javascript' src="@routes.Assets.at("javascripts/max_checkbox_selection.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/add-new.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/delete_experience.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/hide_studies.js")"></script>

	<script type='text/javascript' src="@routes.Assets.at("javascripts/validar_check.js")"></script>
	<meta charset="utf-8">
	<title>A un click del empleo</title>
</head>

<body>
	<!--NAV-->
    <nav class="navbar navbar-default" role="navigation">

        <!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()" accesskey="R"  tabindex="1"><img ALT="Brand" src="@routes.Assets.at("images/nav/corporative-min.jpg")"></a>
            <a class="navbar-brand navbar-icons hidden-xs" href="https://es-es.facebook.com/fundacionadecco" accesskey="B" target="_blank"  tabindex="2"><img ALT="Logo Facebook" src="@routes.Assets.at("images/nav/logo_facebook.png")"></a>
            <a class="navbar-brand navbar-icons hidden-xs" href="https://twitter.com/fund_adecco"accesskey="T" target="_blank"  tabindex="3"><img ALT="Logo Twitter" src="@routes.Assets.at("images/nav/logo_twitter.png")"></a>
            <a class="navbar-brand navbar-icons hidden-xs" href="https://es.linkedin.com/company/fundaci-n-adecco" accesskey="K" target="_blank"  tabindex="4"><img ALT="Logo Linkedin" src="@routes.Assets.at("images/nav/logo_linkedin.png")"></a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="button-nav-login" id="accesibility"><a href="#accesibility_pop_up" accesskey="A"  tabindex="5"><button type="button" class="btn btn-default navbar-btn"><img ALT="Acceso de adaptabilidad"src="@routes.Assets.at("images/nav/ic_adaptabilidad2.png")"></button></a></li>
                @if(session.get("email") == null){
                    <li class="button-nav-login"><a href="@routes.LoginController.blank()" accesskey="I"  tabindex="6"><button type="button" class="btn btn-default navbar-btn">ENTRAR</button></a></li>
                }else{
                    <li class="button-nav-login"><a href="@routes.ProfileController.blank()"><button type="button" class="btn btn-default navbar-btn"><b>@session.get("name").toUpperCase()</b></button></a></li>
                    <li class="button-nav-login"><a href="@routes.LoginController.logout()" accesskey="S"  tabindex="7"><button type="button" class="btn btn-default navbar-btn">SALIR</button></a></li>
                }
            </ul>
        </div>
    </nav>

	<section class="content">@content</section>

    <!-- POP UP WINDOW -->
    <div id="accesibility_pop_up" class="mask_pop_up">
        <div class="box_pop_up resize">
            <a href="#close" title="Cerrar" class="close">X</a>

            <h2>¿Qué desea adaptar?</h2>
            <h3>Tamaño texto:</h3><br>
            <a href="#accesibility_pop_up" onClick="zoom_font('increase')">Aumentar tamaño</a><br>
            <a href="#accesibility_pop_up" onClick="zoom_font('reduce')">Reducir tamaño</a><br>
            <a href="#accesibility_pop_up" onClick="zoom_font('reset')">Reestablecer tamaño</a><br>

            <<h3><Co></Co></h3>lores de texto y fondo</h3>
            <h3>...</h3>
        </div>
    </div>

    <!-- FOOTER -->

    <footer class="container-fluid" style="padding-bottom:1em;">
        <div class="row">
            <div class="row-same-height row-full-height center">
                <div class="col-md-4 col-md-height col-full-height center">
                    <a class="" href="http://www.fundacionadecco.es/Home/Home.aspx" target="_blank"><img ALT="Brand" src="@routes.Assets.at("images/footer/ic_logotipofundacion.png")"></a>
                </div>
                <div class="col-md-4 col-md-height col-full-height center" style="padding-top: 1.5em;">
                    <span style="color: white;"><a href="#" style="color: white;">&#xA0;&#xA0;&#xA0;&#xA0;Aviso Legal</a>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;  |&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;  <a href="#" style="color: white;">Política de Privacidad</a></span>
                </div>
                <div class="col-md-4 col-md-height col-full-height center hidden-xs" style="padding-top:1em;">
                    <a class="" href="http://ofertas.adecco.es/candidato/ofertas/Ofertas.aspx?Accesible=false" target="_blank"><img ALT="Adecco" src="@routes.Assets.at("images/footer/ic_logoadecco.png")"></a>

                </div>
            </div>
        </div>
    </footer>
</body>
</html>