@(title: Html)(content: Html)


<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
	<link rel="stylesheet" type='text/css' href="@routes.Assets.at("stylesheets/style_ventana_emergente.css")">
	
	<script src="@routes.Assets.at("javascript/bootstrap.min.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascript/scripts.js")"></script>
	
	<meta charset="utf-8">
	<title>A un click del empleo</title>
</head>
<body>
	<!--NAV-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6"><a href="#"><img src="@routes.Assets.at("images/nav/corporative.jpg")" class="img-responsive" alt="Responsive image"></a>
			</div>

			<div class="col-md-2"><a href="#"><img src="@routes.Assets.at("images/nav/ic_adaptabilidad2.png")"></a>
			</div>

			<div class="col-md-2"><a href="#"><img src="@routes.Assets.at("images/nav/ic_entra.png")"></a>
			</div>

			<div class="col-md-2"><a href="#"><img src="@routes.Assets.at("images/nav/ic_soyempresa.png")"></a>
			</div>
		</div>
	</div>

	<section class="content">@content</section>

	<footer class="container-fluid">
		<div class="container"><br>
			<p>Derechos reservados @@2015</p>
		</div>
	</footer>
	
</body>
</html>