@main(){

<h1>Speech Recognition</h1>

    <div class="input-speech">
      <input type="text" id="name_form" placeholder="Nombre">
      <button id="start-speech-btn" class="btn btn-primary">Recognize</button>
    </div>

    <div class="input-speech">
      <input type="text" id="surname_form" placeholder="Apellido">
      <button id="start2" class="btn btn-primary">Recognize</button>
    </div>



    <script type="text/javascript">
      window.onload = function() {
        loadRecognition();
    };
    </script>
}