@main(){

<h1>Speech Recognition</h1>

    <div class="input-speech">
      <input type="text" id="name_form" placeholder="Nombre">
      <button id="start-speech-btn" class="btn btn-primary">Recognize</button>
    </div>

    <div class="input-speech">
      <input type="text" id="surname_form" placeholder="Apellido">
      <button id="start2" class="btn btn-primary">Recognize</button>
    </div>



    <script type="text/javascript">
      // Test browser support
      window.SpeechRecognition = window.SpeechRecognition       ||
                                 window.webkitSpeechRecognition ||
                                 null;

      //If not supported, hide button
      if(window.SpeechRecognition === null) {
        document.getElementById('start-speech-btn').setAttribute('class', 'hidden');
      }else{
        var recognizer = new window.SpeechRecognition();
        var input_name;

        recognizer.continuous = false;
        recognizer.lang = 'es-ES';
        recognizer.interimResults = false; //Constantly refreshes text while recognition is active

        $('.input-speech button').click(function() {
          //alert($(this).attr('id'));
          input_name = $(this).parent().children('input');
          //alert(input_name.val());
          try{
            recognizer.start();
          }catch(ex){
            alert("Error en el reconocimiento de voz: "+ex.value);
          }
        });

        recognizer.onresult = function(event){
          input_name.value = '';
          for(var i = event.resultIndex; i < event.results.length; i++) {
            if(event.results[i].isFinal) {
              input_name.val(event.results[i][0].transcript);
            }
          }
        };

        recognizer.onerror = function(event) {
          alert("Error en reconocimiento. OnError: "+event.message);
        };
         
      }
    </script>
}